<section class="section">
  <div class="container">
    <div class="intake-goal-wrapper" *ngIf="intakeGoals">
      <div class="intake-goal">
        <div class="stackdonut-wrapper">
          <stackdonut [goal]="intakeGoals[0]" [circleRadius]="circleRadius" [strokeWidth]="strokeWidth"
            [text]="'Protein'" [achieved]="getTotal('protein')">
          </stackdonut>
        </div>

        <div class="stackdonut-wrapper">
          <stackdonut [goal]="intakeGoals[1]" [circleRadius]="circleRadius" [strokeWidth]="strokeWidth" [text]="'Fat'"
            [achieved]="getTotal('fat')">
          </stackdonut>
        </div>

        <div class="stackdonut-wrapper">
          <stackdonut [goal]="intakeGoals[2]" [circleRadius]="circleRadius" [strokeWidth]="strokeWidth" [text]="'Carbs'"
            [achieved]="getTotal('carbs')">
          </stackdonut>
        </div>
      </div>

      <div class="intake-goal intake-goal--calories">
        <p class="intake-goal__text">{{getTotal('calories') | number:'1.0-0' }}/{{goalCal}}</p>
        <p class="intake-goal__subtext">Calories</p>
      </div>
    </div>

    <div class="intake-goal-wrapper" *ngIf="!intakeGoals">
      <div class="intake-goal intake-goal--placeholder">
        <span>You haven't set your goal intake yet!</span>
      </div>
    </div>

    <div class="logday card">
      <div class="logday__date">
        <datepicker (change)="getDifferentDay($event)"></datepicker>
      </div>

      <div class="logday__header">
        <span class="logday__header__macro"></span>
        <span class="logday__header__macro">Protein</span>
        <span class="logday__header__macro">Fat</span>
        <span class="logday__header__macro">Carbs</span>
        <span class="logday__header__macro"></span>
      </div>

      <log-meal #breakfast [open]="breakfastOpen" [searchables]="searchableFood" [date]="displayDate"
        [meal]="'Breakfast'" [logEntries]="breakfastLogs" (dataChanged)="refresh()"></log-meal>
      <log-meal #lunch [open]="lunchOpen" [searchables]="searchableFood" [date]="displayDate" [meal]="'Lunch'"
        [logEntries]="lunchLogs" (dataChanged)="refresh()"></log-meal>
      <log-meal #dinner [open]="dinnerOpen" [searchables]="searchableFood" [date]="displayDate" [meal]="'Dinner'"
        [logEntries]="dinnerLogs" (dataChanged)="refresh()"></log-meal>
      <log-meal #snacks [open]="snacksOpen" [searchables]="searchableFood" [date]="displayDate" [meal]="'Snacks'"
        [logEntries]="snacksLogs" (dataChanged)="refresh()"></log-meal>
      <log-activity #activities [open]="activitiesOpen" [date]="displayDate" [logActivities]="activitiesLogs"
        [syncAvailable]="activititiesSync" (dataChanged)="refresh()" (forced)="forceSync()"></log-activity>

      <div class="logday__total">
        <span class="logday__total__title">Daily total</span>
        <span class="total__macro total__macro--first">{{getTotal('protein') | number:'1.1-1'}}</span>
        <span class="total__macro">{{getTotal('fat') | number:'1.1-1'}}</span>
        <span class="total__macro">{{getTotal('carbs') | number:'1.1-1'}}</span>
        <span class="total__calories">{{getTotal('calories')  | number:'1.0-0'}} kcal</span>
      </div>
    </div>

    <div class="button-wrapper--floating-action">
      <button class="floating-action-button" (click)="openModal()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</section>


<div class="modal-wrapper" *ngIf="modalIsVisible">
  <add-food-modal (close)="closeModal()"></add-food-modal>
</div>