<div class="content">
  <div class="card">
    @if (isAdmin()) {
    <div class="subnav">
      <div class="subnav__item"
        [class.subnav__item--active]="router.url.includes('/admin/usermanagement')"
        [routerLink]="['./usermanagement']">
        User Management
      </div>

      <div class="subnav__item"
        [class.subnav__item--active]="router.url.includes('/admin/webhooks')"
        [routerLink]="['./webhooks']">
        Webhooks
      </div>

      <div class="subnav__item" [class.subnav__item--active]="router.url.includes('/admin/mail')"
        [routerLink]="['./mail']">
        Mail
      </div>
    </div>
    }

    <router-outlet></router-outlet>
  </div>
</div>