<div class="content">
  <div class="card">
    <div class="subnav">
      @if (isAdmin()) {
<div class="subnav__item" [ngClass]="{
            'subnav__item--active': router.url === '/admin/usermanagement'
          }" [routerLink]="['./usermanagement']">
          User Management
        </div>
      }

      @if (isAdmin()) {
<div class="subnav__item" [ngClass]="{
            'subnav__item--active': router.url === '/admin/webhooks'
          }" [routerLink]="['./webhooks']">
          Webhooks
        </div>
      }

      @if (isAdmin()) {
        <div class="subnav__item"
          [ngClass]="{ 'subnav__item--active': router.url === '/admin/mail' }"
          [routerLink]="['./mail']">
          Mail
        </div>
      }
    </div>

    <router-outlet></router-outlet>
  </div>
</div>