@import '../../../../css/variables.scss';

.subnav {
	border-bottom: 1px solid $smoke;
  margin-bottom: 15px;

	&__item {
		border-bottom: 2px solid transparent;
		display: inline-block;
		padding: 15px;

		&:hover {
			@media(min-width: $xs) {
			  border-bottom: 2px solid $smoke;
			}
		}

		&--active {
			border-bottom: 2px solid $primary;
		}
	}
}