<div class="center-text">
  <span class="text">{{achieved() | number:'1.0-0'}}/{{goal()}}</span>

  <span class="subtext">{{text()}}</span>
</div>

<svg [attr.height]="height" [attr.width]="width" style="transform: rotate(-90deg)" #svg>
  <circle [attr.cx]="height/2" [attr.cy]="height/2" #outerCircle
    class="circle circle--outer" fill="transparent" stroke-dashoffset="0">
  </circle>

  <circle [attr.cx]="height/2" [attr.cy]="height/2" #innerBackgroundCircle
    class="circle" fill="transparent" stroke-dashoffset="0"></circle>

  <circle [attr.cx]="height/2" [attr.cy]="height/2" #innerCircle
    class="circle circle--inner" fill="transparent" stroke-dashoffset="0">
  </circle>
</svg>