:host {
  position: relative;
}

.center-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 1;

  .text {
    font-size: 18px;
  }

  .subtext {
    font-size: 14px;
  }
}

.circle {
  stroke-dashoffset: 0;
  stroke: var(--lightBlue);
  stroke-width: 8px;
}

.circle--inner {
  transition: stroke-dashoffset 0.5s linear;
  stroke: var(--primary);
}

.circle--outer {
  stroke: var(--primary);
  transition: stroke-dashoffset 0.2s linear;
  z-index: -1;
}