:host {
	--yAxisWidth: 30px;
	--xAxisHeight: 30px;

	@media (min-width: 448px) {
		--yAxisWidth: 50px;
		--xAxisHeight: 50px;
	}
}

.bargraph {
	height: 100%;
	width: 100%;

	.background {
		height: 100%;
		width: 100%;
	}

	.axes {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.y-axis-wrapper {
		display: flex;
		flex-grow: 1;
	}

	.y-axis {
		width: var(--yAxisWidth);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-right: 1px solid var(--coal);
	}

	.y-axis-point {
		text-align: end;
		font-size: 12px;
		padding-right: 4px;
		flex-grow: 1;
	}

	.graph-content {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		justify-content: space-around;
		align-self: flex-end;
		height: 100%;
	}

	.graph-marker {
		position: absolute;
		border-top: 1px solid rgb(0, 197, 255);
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		width: 100%;
		z-index: 2;
	}

	.graph-marker--narrow {
		width: var(--yAxisWidth);
	}

	.graph-marker__text {
		display: flex;
		align-self: flex-end;
		margin-top: -20px;
	}

	.graph-marker-numbers {
		display: flex;
		width: var(--yAxisWidth);
	}

	.graph-points-lane {
		display: flex;
		flex-direction: column-reverse;
		flex-grow: 1;
		margin-right: -1px;
		align-self: flex-end;
		z-index: 1;
	}

	.graph-point {
		background-color: rgba(0, 197, 255, 0.3);
		border: 1px solid rgb(0, 197, 255);
	}

	.graph-point--empty {
		border: 0px;
	}

	.x-axis-wrapper {
		display: flex;
	}

	.x-axis-dummy-point {
		display: flex;
		width: var(--yAxisWidth);
		height: var(--xAxisHeight);
	}

	.x-axis {
		display: flex;
		flex-grow: 1;
		height: var(--xAxisHeight);
		border-top: 1px solid var(--coal);
		justify-content: space-around;
	}

	.x-axis-point {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.x-axis-point-text {
		position: absolute;
		font-size: 12px;
		align-self: center;
	}
}
