@import '../../../../css/variables.scss';

@media (min-width: $xs) {
  $yAxisWidth: 50px;
  $xAxisHeight: 50px;
}

$yAxisWidth: 30px;
$xAxisHeight: 30px;

.bargraph {
  height: 100%;
  width: 100%;

  .background {
    height: 100%;
    width: 100%;
  }

  .axes {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .y-axis-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .y-axis {
    width: $yAxisWidth;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $silver;
  }

  .y-axis-point {
    text-align: end;
    color: $iron;
    font-size: 12px;
    padding-right: 4px;
    flex-grow: 1;
  }

  .graph-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-end;
    height: 100%;
  }

  .graph-marker {
    position: absolute;
    border-top: 1px solid rgb(0, 197, 255);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    z-index: 2;

    &--narrow {
      width: $yAxisWidth;
    }

    &__text {
      display: flex;
      align-self: flex-end;
      color: $iron;
      margin-top: -20px;
    }
  }

  .graph-marker-numbers {
    display: flex;
    width: $yAxisWidth;
  }

  .graph-points-lane {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    margin-right: -1px;
    align-self: flex-end;
    z-index: 1;
  }

  .graph-point {
    background-color: rgba(0, 197, 255, 0.3);
    border: 1px solid rgb(0, 197, 255);

    &--empty {
      border: 0px;
    }
  }

  .x-axis-wrapper {
    display: flex;
  }

  .x-axis-dummy-point {
    display: flex;
    width: $yAxisWidth;
    height: $xAxisHeight;
  }

  .x-axis {
    display: flex;
    flex-grow: 1;
    height: $xAxisHeight;
    border-top: 1px solid $silver;
    justify-content: space-around;
  }

  .x-axis-point {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .x-axis-point-text {
    position: absolute;
    color: $iron;
    font-size: 12px;
    align-self: center;
  }
}
