@import '../../../../css/variables.scss';

.stepper {
  display: flex;
  margin-bottom: $gutter;
}

.step-wrapper {
  display: flex;
  align-items: center;
}

.step {
  @media (min-width: $tablet) {
    padding: 5px;
    width: $gutter;
    height: $gutter;
  }

  display: flex;
  border-radius: 50%;
  background-color: white;
  border: 1px solid $secondary;
  color: $primary;
  padding: 3px;
  width: $halfGutter;
  height: $halfGutter;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  &--current {
    background-color: $secondary;
    color: white;
  }
}

.step-arrow {
  @media (min-width: $tablet) {
    width: 100px;
  }

  display: flex;
  background-color: $smoke;
  height: 3px;
  width: 30px;
  margin: 10px;

  &--last {
    display: none;
  }
}
