@import '../../../../css/variables.scss';

.stepper {
  display: flex;
  margin-bottom: 2rem;
}

.step-wrapper {
  display: flex;
  align-items: center;
}

.step {
  @media (min-width: $md) {
    padding: 5px;
    width: 2rem;
    height: 2rem;
  }

  display: flex;
  border-radius: 50%;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  padding: 3px;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 400;

  &--current {
    background-color: var(--secondary);
    color: white;
  }
}

.step-arrow {
  @media (min-width: $md) {
    width: 100px;
  }

  display: flex;
  background-color: var(--smoke);
  height: 3px;
  width: 30px;
  margin: 10px;

  &--last {
    display: none;
  }
}
