<div #logActivity class="log-activity" [ngClass]="{'log-activity--grow': editable}">
	<div class="activity" *ngIf="!editable">
		<span class="activity__title">Activities <i *ngIf="showSync()" (click)="forceSync()" title="Synchronize with external sources." class="fa fa-sync-alt activity__title--sync"> </i>
		</span>

		<div class="activity__display">
			<div *ngFor="let logActivity of logActivities" class="activity__line">
				<span class="activity__name">{{logActivity.name}}
					<A class="activity__name--sync" *ngIf="logActivity.syncedWith == 'STRAVA'" target="_blank" href="https://www.strava.com/activities/{{logActivity.syncedId}}">(View on Strava)</A>
				</span>
				<span class="activity__calories">{{logActivity.calories| number:'1.0-0'}} kcal</span>
			</div>
		</div>
	</div>

	<div class="activity" *ngIf="editable">
		<span class="activity__title">Activities
		</span>

		<div *ngFor="let logActivity of logActivities" class="activity__edit-activity">
			<div class="activity__edit-activity__name">
				<input class="input" [(ngModel)]="logActivity.name">
			</div>
			<div class="activity__edit-activity__filler"></div>
			<div class="activity__edit-activity__calories">
				<input class="input" type=number [(ngModel)]="logActivity.calories">
			</div>
			<div class="blue-theme activity__edit-activity__delete">
				<button mat-icon-button color="primary" (click)="deleteLogActivity(logActivity)">
					<mat-icon class="trash">delete</mat-icon>
				</button>
			</div>
		</div>

		<div class="activity__new-activity">
			<div class="activity__new-activity__name">
				<input class="input" (change)="addActivity()" [(ngModel)]="newActivityName" placeholder="What did you do?">
			</div>

			<div class="activity__new-activity__filler"></div>

			<div class="blue-theme meal__new-ingredient__close">
				<button mat-icon-button color="primary" (click)="close()">
					<mat-icon>check</mat-icon>
				</button>
			</div>
		</div>
	</div>
</div>
