@import "../../../../css/public.scss";

.users {
  width: 100%;
}

.mat-header-cell {
  border-bottom-color: $smoke;
}

.mat-cell {
  @media (min-width: $md) {
    max-width: none;
  }
  border-bottom-color: $smoke;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 65px;
}
