<div class="login minh-vh">
  <nav class="navbar is-fixed-top">
    <div class="container container--flex">
      <div class="navbar-brand">
        <div class="navbar-item" routerLink="/">
          <div class="brand-wrapper">
            <img src="assets/logo-m.png" aria-label="M">
          </div>
        </div>

        <a role="button" class="navbar-burger" aria-label="hamburger-menu" aria-expanded="false" (click)="toggleMenu()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-mobile-menu" [ngClass]="{ 'is-visible' : menuToggle }">
        <div class="navbar-mobile-item" routerLink="/about">About</div>
        <div class="navbar-mobile-item" routerLink="/login">Log in</div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item" routerLink="/about">About</div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <button class="button button--primary" routerLink="/login">Log in</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div @enterLeaveTrigger class="content__forms">
        <div class="content__form content__form--login">
          <h3 class="content__form__title">Log in</h3>

          <form #loginForm="ngForm">
            <mat-form-field>
              <input matInput placeholder="Username or email" type="text" #usernameField [(ngModel)]="usernameOrEmail"
                name="usernameOrEmail" required />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password" #passwordField [(ngModel)]="password"
                (keyup.enter)="login()" name="password" required />
            </mat-form-field>

            <p class="content__form__error" *ngIf="loginError">{{loginError}}</p>

            <a id="forgotLink" class="content__form__link" (click)="toggleForgotPwModal(true)">Forgot password?</a>
          </form>

          <button id="loginBtn" class="content__form__button button button--white is-wide"
            [disabled]="loginForm.invalid" (click)="login()">Log in
          </button>
        </div>

        <div class="content__form content__form--register">
          <h3 class="content__form__title">Register</h3>

          <form #registerForm="ngForm">
            <mat-form-field>
              <input matInput placeholder="Username" type="text" #usernameField [(ngModel)]="newUsername"
                name="newUsername" required />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Email" type="email" #emailField [(ngModel)]="newEmail" name="newEmail"
                required />
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password" #passwordField [(ngModel)]="newPassword"
                name="newPassword" required (keyup.enter)="register()" />
            </mat-form-field>

            <label class="content__form__label">
              We hate spam as much as you do. We will send you a confirmation
              email and will not use your email address
              for anything else besides password retrieval.
            </label>

            <p class="content__form__error" *ngIf="registerError">{{registerError}}</p>
          </form>

          <button id="registerBtn" class="content__form__button button button--white is-wide"
            [disabled]="registerForm.invalid" (click)="register()">Register
          </button>
        </div>
      </div>
    </div>
  </section>

  <div @enterLeaveTrigger class="modal-wrapper" *ngIf="showForgotPwModal">
    <div class="modal blue-theme">
      <div class="modal__header">
        <h3 class="modal__header__title">Forgot your password?</h3>

        <button id="forgotClose" class="icon-button" aria-label="Close" (click)="toggleForgotPwModal(false)">
          <mat-icon class="is-white">close</mat-icon>
        </button>
      </div>

      <div class="modal__content">
        <p>Please enter your email so we can send a link to reset your password</p>

        <form #forgotForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Email" type="email" #forgotEmailField [(ngModel)]="forgotEmail"
              name="forgotEmail" />
          </mat-form-field>
        </form>

        <p class="content__form__error" *ngIf="forgotError">{{forgotError}}</p>

        <div class="button-wrapper button-wrapper--left">
          <button id="resetBtn" class="button button--primary" [disabled]="forgotForm.invalid"
            (click)="resetPassword()">Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>