<div class="container">
  <div class="grid">
    <div class="tile" *ngFor="let meal of allMeals">
      <div class="">{{meal.name}}</div>
      <div *ngFor="let ingredient of meal.ingredients">
        Food: {{ingredient.foodId}},
        Portion: {{ingredient.portionId}}
      </div>
      <!--meal title-->
      <!--pichart with macro's-->
      <!--foodlist (no macro's or portions, simple)-->
    </div>

  </div>

  <div class="floating-action-button-wrapper">
    <button class="button--floating-action button button--primary" (click)="openModal()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="modal-wrapper" *ngIf="modalIsVisible">
    <make-meal-modal (close)="closeModal($event)"></make-meal-modal>
  </div>

</div>
