<div class="modal">
  <div class="modal__header ">
    <h3 class="modal__header__title">Set your daily intake</h3>

    <button mat-icon-button (click)="closeModal()">
      <em class="small-icon fas fa-times"></em>
    </button>
  </div>

  <div class="modal__content">
    <div class="calorie-box">
      <span class="calorie-box__title">{{calories | number : '1.0-0'}} Calories</span>
    </div>

    <div class="tabs">
      <div class="tabs-header">
        <div class="tab" (click)="showCaloriesTab()" [ngClass]="{'tab--active': showCalories}">Adjust calories
        </div>
        <div class="tab" (click)="showMacrosTab()" [ngClass]="{'tab--active': showMacros}">Adjust macro's
        </div>
      </div>

      <div class="tabs-content">
        <!--Calories-->
        <div *ngIf="showCalories">
          <div class="form-field">
            <div class="form-field__label form-field__label--small">Calories</div>
            <div class="form-field__element">
              <slider [value]="calories" (valueChange)="changeCalories($event)" [upperBound]="3000" [lowerBound]="1200"
                [markers]="markers"></slider>

            </div>
          </div>

          <p>This results in the following macros:</p>

          <div class="macro-box">
            <p class="macro-box__macro"><strong>Protein: {{protein | number : '1.0-0'}} gr</strong></p>
            <p class="macro-box__macro"><strong>Fat: {{fat | number : '1.0-0'}} gr</strong></p>
            <p class="macro-box__macro"><strong>Carbs: {{carbs | number : '1.0-0'}} gr</strong></p>
          </div>
        </div>

        <!--Macros-->
        <div *ngIf="showMacros">
          <div class="form">
            <div class="form-field">
              <label class="form-field__label">Protein</label>
              <div class="form-field__element">
                <input class="input form-field__input" (change)="calcCaloriesManual()" [(ngModel)]="proteinManual"
                  type="number">
              </div>
            </div>

            <div class="form-field">
              <label class="form-field__label">Fat</label>
              <div class="form-field__element">
                <input class="input form-field__input" (change)="calcCaloriesManual()" [(ngModel)]="fatManual"
                  type="number">
              </div>
            </div>

            <div class="form-field">
              <label class="form-field__label">Carbs</label>
              <div class="form-field__element">
                <input class="input form-field__input" (change)="calcCaloriesManual()" [(ngModel)]="carbsManual"
                  type="number">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" button-wrapper">
      <button mat-stroked-button color="primary" (click)="saveIntake()">Save</button>
    </div>
  </div>
</div>