@import '../../../css/public';

.bargraph-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}

.intake-goal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


	&__numbers {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}

	&__graph {
		flex-grow: 2;
	}

	&__calories {
  	font-size: 24px;
  	margin-bottom: $gutter;
  }

  &__macros {
  	display: flex;
  	flex-direction: column;
  }

  &__macro {
  	flex-basis: 33%;
  	margin-bottom: 10px;
  }

}

.intake-goal-wrapper {
	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;
	padding: ($gutter/2);
	margin-bottom: ($gutter/2);

}

.day {
	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;

	&__header {
		align-items: center;
		border-bottom: 1px solid $cloud;
		display: flex;
		flex-direction: row;
		padding: ($gutter/2);
		justify-content: center;

		&__title {
			font-weight: bold;
		}

		&__icon {
			@include elevation(2);
			border-radius: 100%;
			color: $primary;
			cursor: pointer;
		}

		&--previous{
		  padding-right: 10px;
		  font-size: 24px;
		  font-weight: normal;
		}

		&--next{
		  padding-left: 10px;
 		  font-size: 24px;
		  font-weight: normal;
		}
	}

	&__total {
		display: flex;
		padding: ($gutter/2);

		&__title {
			flex-basis: 20%;
			font-weight: bold;
		}
	}
	&__add {
  		display: flex;
  		padding: ($gutter/2);
      border-top: 1px solid $cloud;

  		&__title {
  			flex-basis: 20%;
  			font-weight: bold;
  		}
  	}
}


.total {
	&__macro {
		flex-basis: 10%;
		text-align: end;

		&--first {
			flex-basis: 30%;
		}
	}

	&__calories {
		flex-basis: 20%;
		text-align: end;

		&--label {
			margin-left: 5px;
		}
	}
}
