<div class="container">

  <div class="intake-goal" *ngIf="days">
    <div class="intake-goal-wrapper">
      <div class="intake-goal-wrapper__numbers">
        <div class="intake-goal__calories">
          <span>{{getTotal(days[0].meals, "calories")}}</span>
        </div>
        <div class="intake-goal__macros">
          <span class="intake-goal__macro">Protein: {{getTotal(days[0].meals, "protein")}}/<strong>{{goalP}}</strong></span>
          <span class="intake-goal__macro">Fat: {{getTotal(days[0].meals, "fat")}}/<strong>{{goalF}}</strong></span>
          <span class="intake-goal__macro">Carbs: {{getTotal(days[0].meals, "carbs")}}/<strong>{{goalC}}</strong></span>
        </div>
      </div>
      <div class="intake-goal-wrapper__graph">
        <div class="intake-goal__graph">
          <div class="bargraph-wrapper">
            <bargraph [percentage]="100"></bargraph>
            <bargraph [percentage]="120"></bargraph>
            <bargraph [percentage]="80"></bargraph>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="day" *ngFor="let day of days">
    <div class="day__header">
      <span class="day__header__title">{{day.day}}</span>
      <i class="fas fa-pen"></i>
    </div>
    <div class="day__meal" *ngFor="let meal of day.meals">
      <span class="day__meal__title">{{meal.title}}</span>
      <div class="meal">
        <div class="meal__ingredient" *ngFor="let ingredient of meal.ingredients">
          <span class="meal__ingredient__name">{{ingredient.food}}</span>
          <span class="meal__ingredient__amount">{{ingredient.amount}} gram</span>
          <span class="meal__ingredient__macro">{{ingredient.protein}}</span>
          <span class="meal__ingredient__macro">{{ingredient.fat}}</span>
          <span class="meal__ingredient__macro">{{ingredient.carbs}}</span>
          <span class="meal__ingredient__calories">{{ingredient.calories}}</span>
        </div>
      </div>
    </div>
    <div class="day__total">
      <span class="day__total__title">Daily total</span>
      <span class="total__macro total__macro--first">P {{getTotal(day.meals, "protein")}}</span>
      <span class="total__macro">F {{getTotal(day.meals, "fat")}}</span>
      <span class="total__macro">C {{getTotal(day.meals, "carbs")}}</span>
      <span class="total__calories">{{getTotal(day.meals, "calories")}}</span>
      <span class="total__calories--label">kcal</span>
    </div>
  </div>

  <div class="floating-action-button-wrapper">
    <button class="button--floating-action button button--primary" (click)="openDialog()">
      <i class="fas fa-plus"></i>
    </button>
  </div>



</div>