@import '../../../css/public';

.intake-goal-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;


	&__numbers {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}

	&__graph {
		flex-grow: 1;
	}
}

.intake-goal {
	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;
	padding: ($gutter/2);
	margin-bottom: ($gutter/2);

	&__calories {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: ($gutter/2);
	}

	&__macros {
		display: flex;
		flex-direction: row;
	}

	&__macro {
		flex-basis: 20%;
	}

	&__graph {
		width: 100%px;
	}
}

.day {
	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;

	&__header {
		border-bottom: 1px solid $cloud;
		display: flex;
		flex-direction: row;
		padding: ($gutter/2);
		justify-content: space-between;

		&__title {
			font-weight: bold;
		}
	}

	&__meal {
		border-bottom: 1px solid $cloud;
		display: flex;
		flex-direction: column;
		padding: ($gutter/2);

		&__title {
			flex-basis: 20%;
			font-weight: bold;
			margin-bottom: 5px;
		}
	}

	&__total {
		display: flex;
		padding: ($gutter/2);

		&__title {
			flex-basis: 20%;
			font-weight: bold;
		}
	}
	&__add {
  		display: flex;
  		padding: ($gutter/2);
      border-top: 1px solid $cloud;

  		&__title {
  			flex-basis: 20%;
  			font-weight: bold;
  		}
  	}
}

.meal {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__ingredient {
		display: flex;
		flex-direction: row;

		&__name {
      padding-left:10px;
			flex-basis: 20%;
		}

		&__amount {
			flex-basis: 20%;
			text-align: end;
		}

		&__macro {
			flex-basis: 10%;
			text-align: end;
		}

		&__calories {
			flex-basis: 20%;
			text-align: end;
		}
	}
}

.total {
	&__macro {
		flex-basis: 10%;
		text-align: end;

		&--first {
			flex-basis: 30%;
		}
	}

	&__calories {
		flex-basis: 20%;
		text-align: end;

		&--label {
			margin-left: 5px;
		}
	}
}
