@import '../../../../css/variables.scss';

.datepicker-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.date {
  align-items: center;
  background-color: $primary;
  border-radius: 2px;
  color: $ghost;
  display: flex;

  &__selected-day {
    @media (min-width: $xs) {
      font-size: 16px;
    }
    font-size: 14px;
    margin: 0 10px;
  }

  &__button {
    border: 0;
    color: white;
    border-radius: 2px;
    padding: 5px;
  }
}

.overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picker {
  background-color: $white;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  width: 300px;
  z-index: 2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__button {
    border-radius: 2px;
    background-color: $primary;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 5px 10px;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }

  &__weekday {
    flex-basis: calc((100% / 7) - 10px);
    padding: 5px;
    text-align: center;
  }

  &__day {
    flex-basis: calc((100% / 7) - 10px);
    padding: 5px 10px 5px 0;
    text-align: right;

    &--today {
      background-color: $smoke;
    }

    &:hover {
      background-color: $mist;
    }
  }
}
