<div class="datepicker-wrapper">
  <div class="date">
    <button class="date__button" (click)="previousDay()">
      <em class="fas fa-chevron-left"></em>
    </button>

    <div class="date__selected-day" (click)="toggleOpen()">{{selectedDate | date: dateformat}}</div>

    <button class="date__button" (click)="nextDay()">
      <em class="fas fa-chevron-right"></em>
    </button>
  </div>

  <div class="overlay" *ngIf="isOpen" (click)="toggleOpen()"></div>

  <div class="picker" *ngIf="isOpen">
    <div class=" picker__header">
      <button class="picker__button" (click)="previousMonth()">Previous</button>

      <span>{{selectedDate | date: 'MMMM'}}</span>

      <button class="picker__button" (click)="nextMonth()">Next</button>
    </div>

    <div class="picker__days">
      <div class="picker__weekday" *ngFor="let weekday of weekdays">{{weekday}}</div>

      <div class="picker__day" *ngFor="let placeholder of placeholders"></div>

      <div #dayRef class="picker__day" *ngFor="let day of daysInMonthArray" (click)="selectDay(day)">{{day}}</div>
    </div>
  </div>
</div>