<div class="datepicker-wrapper">
  <div class="date">
    <div class="date__button" (click)="previousDay()">
      <em class="fas fa-chevron-left"></em>
    </div>

    <div class="date__selected-day" (click)="toggleOpen()">{{selectedDate | date: dateformat}}</div>

    <div class="date__button" (click)="nextDay()">
      <em class="fas fa-chevron-right"></em>
    </div>
  </div>

  @if (isOpen) {
    <div class="overlay" (click)="toggleOpen($event)">
      @if (isOpen) {
        <div class="picker">
          <div class="picker__header">
            <button class="picker__button" (click)="previousMonth()">Previous</button>
            <span>{{selectedDate | date: 'MMMM'}}</span>
            <button class="picker__button" (click)="nextMonth()">Next</button>
          </div>
          <div class="picker__days">
            @for (weekday of weekdays; track weekday) {
              <div class="picker__weekday">{{weekday}}</div>
            }
            @for (placeholder of placeholders; track placeholder) {
              <div class="picker__day"></div>
            }
            @for (day of daysInMonthArray; track day) {
              <div #dayRef class="picker__day"
              (click)="selectDay(day)">{{day}}</div>
            }
          </div>
        </div>
      }
    </div>
  }
</div>