<div class="date">
  <button type="button" class="date-button" (click)="previousDay()">
    <em class=" fas fa-chevron-left"></em>
  </button>

  <div class="date-display" (click)="toggleOpen()">{{selectedDate | date: dateformat}}</div>

  <button type="button" class="date-button" (click)="nextDay()">
    <em class="fas fa-chevron-right"></em>
  </button>
</div>

@if (isOpen) {
<div class="overlay" (click)="toggleOpen($event)">
  <div class="picker">
    <div class="flex justify-between items-center">
      <button class="picker-button" (click)="previousMonth()">
        <em class=" fas fa-chevron-left"></em>
      </button>

      <span>{{selectedDate | date: 'MMMM'}}</span>

      <button class="picker-button" (click)="nextMonth()">
        <em class="fas fa-chevron-right"></em>
      </button>
    </div>

    <div class="picker-days">
      @for (weekday of weekdays; track weekday) {
      <span class="picker-weekday">{{weekday}}</span>
      }

      @for (placeholder of placeholders; track placeholder) {
      <span class="picker-day placeholder"></span>
      }

      @for (day of daysInMonthArray; track day) {
      <span class="picker-day" (click)="selectDay(day)">{{day}}</span>
      }
    </div>
  </div>
</div>
}