<div #slider class="slider"

     (mouseup)="onUp($event)"
     (mousemove)="onMove($event)"
     (mousedown)="onDown($event)"

     (touchstart)="onDown($event)"
     (touchmove)="onMove($event)"
     (touchend)="onUp($event)"

     (click)="onClick($event)">
    <div class="slider-wrapper">
        <div class="slider__track-container">
            <div class="slider__track">
            </div>
            <div #trackFill class="slider__track slider__track--fill">
            </div>
        </div>
        <div class="slider__handle-container">
            <div #sliderHandle class="slider__handle"></div>
        </div>
    </div>
</div>
