@import '../../../css/public';

.slider-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}

.slider {
	height: 50px;
	margin: 0 10px 10px;
	min-width: 120px;
	position: relative;

	&__track-container {
		position: relative;
	}

	&__track {
		background-color: lightgray;
		border-radius: 2px;
		height: 4px;
		position: absolute;
		top: 24px;
		left: 0;
		right: 0;

		&--fill {
			background-color: $primary;
			transition: width 0.3s;
		}
	}

	&__handle {
		background-color: $primary;
		position: absolute;
		border-radius: 10px;
		height: 20px;
		width: 20px;
		top: 16px;
		transition: left 0.3s;
	}

	&__marker {
		background-color: $secondary;
		border-radius: 5px;
		position: absolute;
		top: 18px;
		left: 0;
		right: 0;
		height: 16px;
		width: 6px;

		&__label-container {
			position: relative;
		}

		&__label {
			font-size: 12px;
			position: absolute;
			top: 25px;
			left: -15px;
		}
	}
}

