@import "../../../../../css/variables.scss";

.weightgraph-wrapper {
  @media (min-width: $phone) {
    padding: 0;
  }
  padding-left: 10px;
  padding-right: 10px;
}

.weightgraph {
  @media (min-width: $phone) {
    height: 350px;
  }
  @media (min-width: $tablet) {
    height: 500px;
  }
  width: 100%; 
  height: 250px;
}