.donut-chart-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.donut-chart {
	width: 120px;
	height: 120px;
	background: transparent;
	overflow: hidden;
	border-radius: 50%;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: 4.5rem;
		height: 4.5rem;
		background: var(--card-background);
	}

	.donut-chart__center {
		font-family: "Assistant", sans-serif;
		text-align: center;
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

		.donut-chart__number {
			font-size: 16px;
		}

		.donut-chart__unit {
			font-size: 16px;
		}
	}
}

.legend {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;

	.legend__line {
		align-content: center;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		margin-bottom: 3px;

		.legend__line__indicator {
			display: flex;
			width: 18px;
			height: 18px;
		}

		.legend__line__indicator--protein {
			background-color: #1460e5;
		}

		.legend__line__indicator--fat {
			background-color: #25e2f1;
		}

		.legend__line__indicator--carbs {
			background-color: #22f122;
		}

		.legend__line__number {
			display: flex;
			width: 40px;
			justify-content: flex-end;
			margin-left: 4px;
		}

		.legend__line__unit {
			display: flex;
			margin-left: 4px;
		}
	}
}
