<div id="autoWrapper" class="autocomplete-wrapper" #newIngredient (keydown)="onKeyDown($event)">
  <input aria-label="search for something" id="autoInput" class="input autocomplete__input" placeholder="{{placeholder()}}"
    (input)="findFoodMatch($event)" [(ngModel)]="foodName" (focus)="showAutoComplete = true">

    @if (showAutoComplete) {
      <div id="autoDropdown" #autoComplete class="autocomplete">
        @for (match of foodMatch; track match; let idx = $index) {
          <div id="autoOption" ngClass="option-{{idx}}" class="autocomplete__option"
            (click)="selectMatch(match)" tabindex="{{idx}}">
            {{getDescription(match)}}
          </div>
        }
      </div>
    }
  </div>