<div class="autocomplete-wrapper" #newIngredient (keydown)="onKeyDown($event)">
  <input aria-label="search for something" id="autoInput" class="input autocomplete-input"
    placeholder="{{placeholder()}}" (input)="findFoodMatch($event)" [(ngModel)]="foodName"
    (focus)="showAutoComplete = true">

  @if (showAutoComplete) {
  <div #autoComplete class="autocomplete">
    @for (match of foodMatch; track match; let idx = $index) {
    <div ngClass="option-{{idx}}" class="autocomplete__option" (click)="selectMatch(match)"
      tabindex="{{idx}}">
      {{getDescription(match)}}
    </div>
    }
  </div>
  }
</div>