.autocomplete-wrapper {
	position: relative;
  display: flex;
}

.autocomplete {
	box-shadow: 0 0 10px rgb(156, 169, 185);
	border-radius: 5px;
	max-height: 250px;
	overflow-y: auto;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.autocomplete__option {
	padding: 8px;
	background-color: white;
	border-top: 0;
	text-align: left;

	&:first-child {
		border-radius: 5px 5px 0 0;
	}

	&:last-child {
		border-radius: 0 0 5px 5px;
	}

	&:first-child:last-child {
		border-radius: 5px;
	}
}

.autocomplete-input {
  flex-grow: 1
}