.autocomplete-wrapper {
	position: relative;
  display: flex;
}

.autocomplete {
	box-shadow: var(--box-shadow-medium);
	border-radius: 5px;
	max-height: 250px;
	overflow-y: auto;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 1;
}

.autocomplete__option {
	padding: 8px;
	background-color: var(--autocomplete-background);
	border-top: 0;
	text-align: left;

	&:first-child {
		border-radius: 5px 5px 0 0;
	}

	&:last-child {
		border-radius: 0 0 5px 5px;
	}

	&:first-child:last-child {
		border-radius: 5px;
	}
}

.autocomplete-input {
  flex-grow: 1
}