<div class="donut-chart-wrapper">
	<div class="donut-chart">
		<svg #pieChart viewBox="-1 -1 2 2" style="transform: rotate(-90deg); width:100%;">
		</svg>

		<div class="donut-chart__center">
			<div class="donut-chart__center__number">{{centerText}}</div>

			<div class="donut-chart__center__unit">kcal</div>
		</div>
	</div>

	<div class="legend">
		<div class="legend__line">
			<div class="legend__line__indicator legend__line__indicator--protein"></div>

			<div class="legend__line__number">{{protein  | number : '1.0-0'}} gr</div>

			<div class="legend__line__unit">Protein</div>
		</div>

		<div class="legend__line">
			<div class="legend__line__indicator legend__line__indicator--fat"></div>

			<div class="legend__line__number">{{fat  | number : '1.0-0'}} gr</div>

			<div class="legend__line__unit">Fat</div>
		</div>

		<div class="legend__line">
			<div class="legend__line__indicator legend__line__indicator--carbs"></div>

			<div class="legend__line__number">{{carbs  | number : '1.0-0'}} gr</div>

			<div class="legend__line__unit">Carbs</div>
		</div>
	</div>
</div>