<div>
  <p>Database Vulling</p>

  <table border="1">
    <tr>
      <Th>Name</Th>
      <Th colspan="2">Amount</Th>
      <Th>Proteine</Th>
      <Th>Carbs</Th>
      <Th>Fat</Th>
    </tr>
    <tr *ngFor="let food of allFood">
        <td>{{food.name}}</td>
        <td>{{food.amountNumber}}</td>
        <td>{{food.amountUnit}}</td>
        <td>{{food.protein}}</td>
        <td>{{food.carbs}}</td>
        <td>{{food.fat}}</td>
    </tr>
  </table>
</div>


<div class="fixed-bottom-right">
  <button (click)="openDialog()">
    <i class="fas fa-plus"></i>
  </button>
</div>
