@import "../../../css/public.scss";

.intake-goal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &--calories {
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
  }

  &__subtext {
    font-size: 16px;
  }
}

.intake-goal-wrapper {
  @media (min-width: $md) {
    margin-bottom: ($gutter/2);
    border-radius: 4px;
  }
  @media (min-width: $lg) {
    margin-top: 0;
  }

  display: flex;
  flex-direction: column;
}
