<div class="container container--first container--last">

  <div class="intake-goal-wrapper" *ngIf="intakeGoals">
    <div class="intake-goal">
      <div class="intake-goal__numbers">
        <div class="intake-goal__calories">
          <span>Calories: {{getTotal("calories")  | number:'1.0-0'}}/<strong>{{goalCal}}</strong></span>
        </div>
        <div class="intake-goal__macros">
          <span class="intake-goal__macro">Protein:
            {{getTotal("protein") | number:'1.1-1'}}/<strong>{{intakeGoals[0]}}</strong></span>
          <span class="intake-goal__macro">Fat:
            {{getTotal("fat") | number:'1.1-1'}}/<strong>{{intakeGoals[1]}}</strong></span>
          <span class="intake-goal__macro">Carbs:
            {{getTotal("carbs") | number:'1.1-1'}}/<strong>{{intakeGoals[2]}}</strong></span>
        </div>
      </div>
      <div class="intake-goal__graph">
        <div #bargraph class="bargraph-wrapper">
          <bargraph [percentage]="getTotal('protein')/intakeGoals[0]*100" [title]="'P'"></bargraph>
          <bargraph [percentage]="getTotal('fat')/intakeGoals[1]*100" [title]="'F'"></bargraph>
          <bargraph [percentage]="getTotal('carbs')/intakeGoals[2]*100" [title]="'C'"></bargraph>
        </div>
      </div>
    </div>
  </div>

  <div class="intake-goal-wrapper" *ngIf="!intakeGoals">
    <div class="intake-goal intake-goal--placeholder">
      <span>You haven't set your goal intake yet!</span>
    </div>
  </div>

  <div class="logday">
    <div class="logday__date">
      <datepicker (change)="getDifferentDay($event)"></datepicker>
    </div>

    <div class="logday__header">
      <span class="logday__header__macro"></span>
      <span class="logday__header__macro">Protein</span>
      <span class="logday__header__macro">Fat</span>
      <span class="logday__header__macro">Carbs</span>
      <span class="logday__header__macro"></span>
    </div>

    <log-dish #breakfast [open]="breakfastOpen" [searchables]="searchableFood" [date]="displayDate"
      [dish]="'Breakfast'" [logEntries]="breakfastLogs" (dataChanged)="refresh()"></log-dish>
    <log-dish #lunch [open]="lunchOpen" [searchables]="searchableFood" [date]="displayDate" [dish]="'Lunch'"
      [logEntries]="lunchLogs" (dataChanged)="refresh()"></log-dish>
    <log-dish #dinner [open]="dinnerOpen" [searchables]="searchableFood" [date]="displayDate" [dish]="'Dinner'"
      [logEntries]="dinnerLogs" (dataChanged)="refresh()"></log-dish>
    <log-dish #snacks [open]="snacksOpen" [searchables]="searchableFood" [date]="displayDate" [dish]="'Snacks'"
      [logEntries]="snacksLogs" (dataChanged)="refresh()"></log-dish>
    <log-activity #activities [open]="activitiesOpen" [date]="displayDate" [logActivities]="activitiesLogs" [syncAvailable]="activititiesSync"
      (dataChanged)="refresh()" (forced)="forceSync()"></log-activity>

    <div class="logday__total">
      <span class="logday__total__title">Daily total</span>
      <span class="total__macro total__macro--first">{{getTotal("protein") | number:'1.1-1'}}</span>
      <span class="total__macro">{{getTotal( "fat") | number:'1.1-1'}}</span>
      <span class="total__macro">{{getTotal("carbs") | number:'1.1-1'}}</span>
      <span class="total__calories">{{getTotal("calories")  | number:'1.0-0'}} kcal</span>
    </div>
  </div>

  <div class="blue-theme button-wrapper--floating-action">
    <button mat-fab color="primary" (click)="openModal()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="modal-wrapper" *ngIf="modalIsVisible">
    <add-food-modal (close)="closeModal()"></add-food-modal>
  </div>
</div>

<toast-component></toast-component>
