<div class="header">
  <div *ngIf="loggedIn()" class="header__item header__item--menu" (click)="openNav()">
    <i class="fas fa-bars"></i>
  </div>

  <div *ngIf="loggedIn()"  class="header__item header__item--title">{{title}}</div>
  <div *ngIf="!loggedIn()" class="header__item header__item--title">Macrolog</div>

  <div *ngIf="!loggedIn()" title="Sign in" class="header__item header__item--right tooltip" (click)="closeNav(userTitle)" routerLink="/login">
    <i class="icon--large fas fa-sign-in-alt"></i>
  </div>

  <div *ngIf="loggedIn()" class="header__item header__item--right" (click)="closeNav(userTitle)" routerLink="/user">
    <span class="header-item--text">{{username()}}</span>
    <i class="icon--large fas fa-user-circle"></i>
  </div>

  <div *ngIf="loggedIn()" title="Sign out" class="header__item header__item--right"  (click)="closeNav(userTitle)" routerLink="/logout">
    <i class="icon--large fas fa-sign-out-alt"></i>
  </div>
</div>

<div #navbarBackdrop class="nav-backdrop" (click)="closeNav(title)"></div>
<div #navbar class="nav-wrapper" (click)="closeNav(title)">
  <div *ngIf="loggedIn()" class="nav">
    <div class="nav__item nav__item--top">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="nav__item" routerLink="/log"
         (click)="closeNav(logTitle)">
      <a>{{logTitle}}</a>
    </div>
    <div class="nav__item" routerLink="/meals"
         (click)="closeNav(mealsTitle)">
      <a>{{mealsTitle}}</a>
    </div>
    <div class="nav__item" routerLink="/food"
         (click)="closeNav(foodTitle)">
      <a>{{foodTitle}}</a>
    </div>
    <div class="nav__item" routerLink="/graphs"
         (click)="closeNav(graphsTitle)">
      <a>{{graphsTitle}}</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<toast-component></toast-component>
