<div class="header">
  <div class="header__item header__item--menu" (click)="openNav()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="header__item header__item--title">{{title}} [{{username()}}]</div>
  <div class="header__item header__item--user" (click)="closeNav(userTitle)" routerLink="/user">
    <i class="fas fa-user-circle"></i>
  </div>
</div>

<div #navbarBackdrop class="nav-backdrop" (click)="closeNav(title)"></div>
<div #navbar class="nav-wrapper" (click)="closeNav(title)">
  <div class="nav">
    <div class="nav__item nav__item--top">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="nav__item" routerLink="/log"
         (click)="closeNav(logTitle)">
      <a>{{logTitle}}</a>
    </div>
    <div class="nav__item" routerLink="/meals"
         (click)="closeNav(mealsTitle)">
      <a>{{mealsTitle}}</a>
    </div>
    <div class="nav__item" routerLink="/food"
         (click)="closeNav(foodTitle)">
      <a>{{foodTitle}}</a>
    </div>
    <div class="nav__item" routerLink="/graphs"
         (click)="closeNav(graphsTitle)">
      <a>{{graphsTitle}}</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<toast-component></toast-component>
