<div class="container container--first container--last">
  <div class="tile">
    <div class="form-field form-field--horizontal">
      <label class="form-field__label">Protein</label>
      <div class="meal-card__legenda meal-card__legenda--protein"></div>
    </div>

    <div class="form-field form-field--horizontal">
      <label class="form-field__label">Fat</label>
      <div class="meal-card__legenda meal-card__legenda--fat"></div>
    </div>

    <div class="form-field form-field--horizontal">
      <label class="form-field__label">Carbs</label>
      <div class="meal-card__legenda meal-card__legenda--carbs"></div>
    </div>
  </div>

  <div class="grid">
    <div class="card" *ngFor="let meal of allMeals">
      <div class="meal-card">
        <h3 class="meal-card__title">{{meal.name}}</h3>

        <div class="grid__tile__ingredients" *ngFor="let ingredient of meal.ingredients">
          <div class="grid__tile__text grid__tile__text--ingredient">{{ingredient.food.name}}</div>

          <div class="grid__tile__text grid__tile__text--amount" *ngIf="!ingredient.portion">
            {{unitGrams * ingredient.multiplier}} {{unitName}}
          </div>

          <div class="grid__tile__text grid__tile__text--amount" *ngIf="ingredient.portion">
            {{ingredient.multiplier}} {{ingredient.portion.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue-theme button-wrapper--floating-action">
      <button mat-fab color="primary" (click)="openModal()">
          <mat-icon>add</mat-icon>
        </button>
  </div>

  <div class="modal-wrapper" *ngIf="modalIsVisible">
    <make-dish-modal (close)="closeModal($event)"></make-dish-modal>
  </div>
</div>

<toast-component></toast-component>