@import '../../../css/public';
.graph{
  display:flex;
  flex-direction:row;
}
.day{
  width:30px;
  height:150px;
  position:relative;

}
.protein {
  width:30px;
  border-color:green;
  border-style: dotted;
  border-width:2px 0 0 0 ;
  position:absolute;
  bottom: 0px;

}
.fat {
  width:30px;
  position:absolute;
  border-color:blue;
  border-style:dotted;
  border-width:2px 0 0 0;
  bottom: 0px;

}
.carbs {
  width:30px;
  position:absolute;
  border-color:red;
  border-style:dotted;
  border-width:2px 0 0 0;
  bottom: 0px;


}

