<div class="graph">


	<div class="graph--loading" *ngIf="loading">
		<svg width="58" height="58" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
				<stop stop-color="#222" stop-opacity="0" offset="0%"/>
				<stop stop-color="#222" stop-opacity=".631" offset="63.146%"/>
				<stop stop-color="#222" offset="100%"/>
			</linearGradient>
		</defs>
		<g fill="none" fill-rule="evenodd">
			<g transform="translate(1 1)">
				<path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
					<animateTransform
						attributeName="transform"
						type="rotate"
						from="0 18 18"
						to="360 18 18"
						dur="0.9s"
						repeatCount="indefinite" />
				</path>
				<circle fill="#222" cx="36" cy="18" r="1">
					<animateTransform
						attributeName="transform"
						type="rotate"
						from="0 18 18"
						to="360 18 18"
						dur="0.9s"
						repeatCount="indefinite" />
				</circle>
			</g>
		</g>
		</svg>
	</div>


	<div *ngIf=!loading class="graph__image">
		<svg width="650" height="500" class="graph__svg">

			<g *ngFor="let d of logBars; let i = index" (mouseover)="showMacros(d)">
				<text [attr.x]="(barWidth* i)" [attr.y]="graphHeight - graphLegenda + 15 " [attr.fill]="d.c">
					<tspan> {{d.day | date:'dd'}} </tspan>
				</text>

				<rect [attr.x]="i*barWidth" [attr.width]="barWidth" [attr.y]="getYPosProtein(d)" [attr.height]="getHeightProtein(d)" [attr.fill]="'#5bd086'"  style="stroke:black;stroke-width:1;opacity:0.5" />
				<rect [attr.x]="i*barWidth" [attr.width]="barWidth" [attr.y]="getYPosFat(d)" [attr.height]="getHeightFat(d)" [attr.fill]="'#f7ed70'"  style="stroke:black;stroke-width:1;opacity:0.5"/>
				<rect [attr.x]="i*barWidth" [attr.width]="barWidth" [attr.y]="getYPosCarbs(d)" [attr.height]="getHeightCarbs(d)" [attr.fill]="'#fb8353'"  style="stroke:black;stroke-width:1;opacity:0.5"/>

				<text x="0" [attr.y]="getGoalProteinPos()-2" fill="grey">P {{getGoalProtein() | number:'1.1-1'}}</text>
				<line x1="0" [attr.y1]="getGoalProteinPos()" [attr.x2]="logBars.length * barWidth" [attr.y2]="getGoalProteinPos()" style="stroke:grey;stroke-width:1;stroke-dasharray:5.5" />

				<text x="0" [attr.y]="getGoalFatPos()-2" fill="grey">F {{getGoalFat() | number:'1.1-1'}}</text>
				<line x1="0" [attr.y1]="getGoalFatPos()" [attr.x2]="logBars.length * barWidth" [attr.y2]="getGoalFatPos()" style="stroke:grey;stroke-width:1;stroke-dasharray:5.5" />

				<text x="0" [attr.y]="getGoalCarbsPos()-2" fill="grey">C {{getGoalCarbs() | number:'1.1-1'}}</text>
				<line x1="0" [attr.y1]="getGoalCarbsPos()" [attr.x2]="logBars.length * barWidth" [attr.y2]="getGoalCarbsPos()" style="stroke:grey;stroke-width:1;stroke-dasharray:5.5" />
			</g>
		</svg>
  </div>

	<div class="graph__controls">
		<button [disabled]="loading" class="button button--transparent" (click)="monthBack()">
			<i class="fas fa-arrow-left"></i>
		</button>
			<div class="graph__datelabel">{{dateFrom | date:'dd MMMM yyyy'}} - {{dateTo | date:'dd MMMM yyyy'}}</div>
		<button [disabled]="loading" class="button button--transparent" (click)="monthForward()">
			<i class="fas fa-arrow-right"></i>
		</button>
	</div>
	<div class="graph__options">
		 <div class="graph_option">
			 <input id=splittedOption type="checkbox" (change)="calculateZoom()" [(ngModel)]="splitted">
			<label for="splittedOption">Split bars</label>
		 </div>
		<div class="graph__option">
			<input id=percentageOption type="checkbox" (change)="calculateZoom()" [(ngModel)]="percentages">
			<label for="percentageOption">Show percentages</label>
		</div>
	</div>

  <div class="graph__details">
		<table *ngIf="false">
			<tr>
				<td>Day</td>
				<td>{{infoMacro.day | date:'dd MMMM'}}</td>
			</tr>
			<tr>
				<td>Protein</td>
				<td>{{infoMacro.macro.protein  | number:'1.1-1'}}</td>
			</tr>
			<tr>
				<td>Fat</td>
				<td>{{infoMacro.macro.fat  | number:'1.1-1'}}</td>
			</tr>
			<tr>
				<td>Carbs</td>
				<td>{{infoMacro.macro.carbs  | number:'1.1-1'}}</td>
			</tr>
			<tr>
				<td>Calories</td>
				<td>{{infoMacro.macro.calories  | number:'1.0-0'}}</td>
			</tr>
		</table>
	</div>

	<table *ngIf="false">
		<tr>
			<th>day</th>
			<th>protein</th>
			<th>fat</th>
			<th>carbs</th>
			<th>calories</th>
		</tr>
		<tr *ngFor="let d of allLogs; let i = index">
		 	 <td>{{d.day | date}}</td>
			 <td>{{d.macro.protein  | number:'1.1-1'}}</td>
			  <td>{{d.macro.fat  | number:'1.1-1'}}</td>
		  	<td>{{d.macro.carbs  | number:'1.1-1'}}</td>
			<td>{{d.macro.calories  | number:'1.0-0'}}</td>
		</tr>
	</table>


</div>
