@import '../../../css/public';

$proteincolor: green;
$fatcolor: blue;
$carbscolor: red;

.macrosperday {
  display:flex;
  flex-direction:row;
}

.graph{
  display:flex;
  height:300px;
  flex-direction:row;
}
.day{
  width:20px;
  position:relative;
  display:flex;
  flex-direction:row;
  padding-right:2px;

  .protein {
    margin-top: auto;
    flex-basis: 33%;
    border-width:2px 0 0 0 ;
    background-color:$proteincolor;
  }
  .fat {
    margin-top: auto;
    flex-basis: 33%;
    border-width:2px 0 0 0;
    background-color:$fatcolor;
  }
  .carbs {
    margin-top: auto;
    flex-basis: 33%;
    border-width:2px 0 0 0;
    background-color:$carbscolor;
  }

}
.legenda {

  position:relative;
    margin-top: auto;
  padding-left:10px;
  display:flex;
  flex-direction:column;
  padding-top:20px;
  &__protein{
      flex-basis: 10%;
       background-color:$proteincolor;
  }
  &__fat{
     flex-basis: 10%;
     background-color:$fatcolor;
  }
  &__carbs{
     flex-basis: 10%;
     background-color:$carbscolor;
  }
}

