<div>
  @if (allUsers) {
    <table class="users">
      <thead>
        <tr class="table-header">
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Delete account</th>
        </tr>
      </thead>
      <tbody>
        @for (element of allUsers; track element) {
          <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.userName }}</td>
            <td>{{ element.email }}</td>
            <td>
              @if (!element.admin) {
                <button id="deleteBtn" class="button button--warning"
                  (click)="openModalWithUser(element)">
                  Delete
                </button>
              }
              @if (element.admin) {
                <span>Admin</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

@if (isModalVisible) {
  <ml-modal [title]="'Delete user account'" (close$)="closeModal()">
    <div class="content">
      <p>
        Are you sure you want to delete
        <strong>{{ selectedUser.userName }}</strong>'s account? This action is irreversable.
      </p>
      <form #deleteForm="ngForm" class="form">
        <label for="username"> Enter the name of the user </label>
        <input class="input" type="text" #usernameField [(ngModel)]="userName"
          name="username" required />
          <div class="flex justify-end col-gap-1">
            <button class="button" (click)="closeModal()">No</button>
            <button [disabled]="selectedUser.userName !== userName" class="button button--warning"
              (click)="deleteUser()">
              Yes
            </button>
          </div>
        </form>
      </div>
    </ml-modal>
  }