<div>
  @if (allUsers) {
  <table class="users">
    <thead>
      <tr class="table-header">
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Delete account</th>
      </tr>
    </thead>
    <tbody>
      @for (element of allUsers; track element) {
      <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.userName }}</td>
        <td>{{ element.email }}</td>
        <td>
          @if (!element.admin) {
          <button class="btn btn--warning" (click)="openModalWithUser(element)"> Delete </button>
          } @if (element.admin) {
          <span>Admin</span>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</div>

@if (isModalVisible && selectedUser) {
<ml-modal [title]="'Delete user account'" (close$)="closeModal()">
  <p>
    Are you sure you want to delete
    <strong>{{ selectedUser.userName }}</strong>'s account? This action is irreversable.
  </p>

  <form #deleteForm="ngForm" class="flex gap-2 items-center">
    <label for="username"> Enter the name of the user </label>
    <input class="input" type="text" #usernameField [(ngModel)]="userName" name="username"
      required />
  </form>

  <button [disabled]="selectedUser.userName !== userName" class="btn btn--warning align-self-end"
    (click)="deleteUser()">
    Yes, delete
  </button>
</ml-modal>
}