<div>
  <table class="users" *ngIf="allUsers.length !== 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Delete account</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of allUsers">
        <td>{{ element.id }}</td>
        <td>{{ element.userName }}</td>
        <td>{{ element.email }}</td>
        <td>
          <button id="deleteBtn" *ngIf="!element.admin" class="button button--warning"
            (click)="openModalWithUser(element)">
            Delete
          </button>

          <span *ngIf="element.admin">Admin</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="deleteModal" class="modal-wrapper" *ngIf="isModalVisible">
  <div class="modal">
    <div class="modal__header ">
      <h3 class="modal__header__title">Delete user account</h3>

      <button class="icon-button" (click)="closeModal()">
        <em class="small-icon fas fa-times"></em>
      </button>
    </div>

    <div class="modal__content">
      <p>
        Are you sure you want to delete
        <strong>{{ selectedUser.userName }}</strong>'s account? This action is irreversable.
      </p>

      <p>Enter the name of the user:</p>

      <input class="input" placeholder="Username" type="text" #usernameField [(ngModel)]="userName"
        name="username" required />

      <div class=" modal__button-wrapper modal__button-wrapper--spread">
        <button class="button" (click)="closeModal()">No</button>

        <button [disabled]="selectedUser.userName != userName" class="button button--warning"
          (click)="deleteUser()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>