.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.title-wrapper {
  display: flex;
  justify-content: flex-start;

  &--center {
    justify-content: center;
  }
}

.strong {
  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }

  &--warning {
    color: $warning;
  }
}

.svg-wrapper {
  width: 100px;
}

.is-relative {
  position: relative;
}

.is-centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.minh-vh {
  min-height: 100vh;
}
