.primary {
	color: $primary;
}

.secondary {
	color: $secondary;
}

.title-wrapper {
	display: flex;
	justify-content: flex-start;

	&--center {
		justify-content: center;
	}
}

.strong {
	&--primary {
		color: $primary;
	}

	&--secondary {
		color: $secondary;
	}

	&--warning {
		color: $warning;
	}
}

.svg-wrapper {
	width: 100px;
}
