@import './variables';

.button-wrapper {
	&--floating-action {
		bottom: 20px;
		position: fixed;
		right: 20px;
		z-index: 2;
	}
}


button.mat-button {
	border-radius: 50px;
}
button.mat-raised-button {
	border-radius: 50px;
	background: $blueLightblueHorizontalGradient;
}
button.mat-stroked-button {
		border-radius: 50px;
}

.wide {
	width: 100%;
}