.container {
  @include media-break($md) {
    padding: 0 30px;
  }

  margin: 0 auto 30px auto;
  max-width: 1200px;

  &--first {
    @include media-break($lg) {
      margin-top: 60px;
    }
  }

  &--last {
    margin-bottom: 90px;
  }
}
