.dish-card {
	display: flex;
	flex-direction: column;

	&__pie {
		align-self: center;
	}

	&__legenda {
		border-radius: 100%;
		width: 24px;
		height: 24px;

		&--protein {
			background-color: #5bd086;
		}

		&--fat {
			background-color: #f7ed70;
		}

		&--carbs {
			background-color: #fb8353;
		}
	}
}
