$proteincolor: "#5bd086";
$fatcolor: "#f7ed70";
$carbscolor: "#fb8353";

.graph {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: stretch;

  &--loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 250px;
    width: 100%;
  }

  &__image {
    display: flex;
    flex-direction: row;
  }
  
  &__svglist {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
  }

  &__options {
    display: block;

    label {
      display: inline-block;
    }

    input {
      display: inline-block;
      width: auto;
      height: auto;
    }
  }

  &__option {
    display: block;
    margin-bottom: 10px;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: center;

    button[disabled] {
      background-color: $ghost;
      color: $grey;
    }
  }

  &__datelabel {
    font-weight: bold;
    padding: 10px 0;
  }
}
