.log-meal {
  &--grow {
    @media (min-width: $md) {
      @include elevation(2);
      background: $white;
      margin-left: -8px;
      width: calc(100% + 16px);
    }
  }
}

.meal {
  @media (min-width: $md) {
    padding: ($gutter/2);
  }
  border-bottom: 1px solid $cloud;
  display: flex;
  flex-direction: column;
  padding: ($gutter/3);

  &__title {
    flex-basis: 20%;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__icon {
    color: $primary;
    margin-left: $gutter/2;
  }

  &__ingredient {
    @media (min-width: $md) {
      flex-wrap: nowrap;
    }
    flex-direction: row;
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }

    &__name {
      @media (min-width: $md) {
        flex-basis: 30%;
      }

      flex-basis: 60%;
    }

    &__amount {
      @media (min-width: $md) {
        flex-basis: 10%;
      }
      flex-basis: 40%;
      text-align: end;
    }

    &__macro {
      @media (min-width: $md) {
        flex-basis: 15%;
      }
      flex-basis: 25%;
      text-align: center;
    }

    &__calories {
      @media (min-width: $md) {
        flex-basis: 15%;
      }
      flex-basis: 25%;
      text-align: end;
    }
  }

  &__edit-ingredient {
    @media (min-width: $md) {
      flex-wrap: nowrap;
    }
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    flex-wrap: wrap;

    &__name {
      @media (min-width: $md) {
        flex-basis: 30%;
      }
      flex-basis: 50%;
    }

    &__amount {
      @media (min-width: $md) {
        flex-basis: 10%;
      }
      align-self: stretch;
      flex-basis: 20%;
      text-align: end;

      &__input {
        padding-right: 5px;
      }
    }

    &__measurement {
      @media (min-width: $md) {
        flex-basis: 15%;
      }
      flex-basis: 30%;

    }

    &__macro {
      @media (min-width: $md) {
        flex-basis: 10%;
        padding: 0;
      }
      flex-basis: 25%;
      padding: 10px 0;
      text-align: center;
    }

    &__calories {
      @media (min-width: $md) {
        flex-basis: 10%;
      }
      flex-basis: 25%;
      text-align: end;
    }

    &__delete {
      @media (min-width: $md) {
        flex-basis: 5%;
      }
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__new-ingredient {
    @media (min-width: $md) {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__name {
      flex-basis: 30%;
      position: relative;
    }

    &__close {
      align-items: center;
      display: flex;
      flex-basis: 5%;
      justify-content: center;
    }
  }
}
