.log-activity {
  &--grow {
    @media (min-width: $phone) {
      background: $white;
      margin-left: -8px;
      width: calc(100% + 16px);
    }
  }
}

.activity {
  @media (min-width: $phone) {
    padding: ($gutter/2);
  }
  border-bottom: 1px solid $cloud;
  display: flex;
  flex-direction: column;
  padding: ($gutter/3);

  &__title {
    flex-basis: 20%;
    font-weight: 600;
    margin-bottom: 5px;

    &--sync {
      margin-left: 5px;
      cursor: pointer;
    }
  }

  &__line {
    flex-direction: row;
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    @media (min-width: $phone) {
      flex-basis: 30%;
    }

    flex-basis: 60%;

    &--sync {
      font-style: italic;
      padding-left: 5px;
    }
  }
  &__calories {
    @media (min-width: $phone) {
      flex-basis: 15%;
    }
    flex-basis: 25%;
    text-align: right;
    font-style: italic;
  }

  &__icon {
    color: $primary;
    margin-left: $gutter/2;
  }

  &__edit-activity {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    flex-wrap: wrap;
    padding: 0 10px;

    &__name {
      @media (min-width: $phone) {
        flex-basis: 30%;
      }
      flex-basis: 75%;
    }

    &__filler {
      @media (min-width: $phone) {
        flex-basis: 55%;
      }
    }

    &__calories {
      @media (min-width: $phone) {
        flex-basis: 10%;
      }
      flex-basis: 25%;
      text-align: end;
    }

    &__delete {
      @media (min-width: $phone) {
        flex-basis: 5%;
      }
      flex-basis: 100%;
      text-align: center;
    }
  }

  &__new-activity {
    @media (min-width: $phone) {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__name {
      flex-basis: 30%;
      position: relative;
    }

    &__close {
      align-items: center;
      display: flex;
      flex-basis: 5%;
      justify-content: center;
    }
  }
}
