.modal-wrapper {
  background: $blackHorizontalGradient;
  height: 100%;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.modal {
  @media (min-width: $phone) {
    width: 80%;
  }
  margin: 8% auto;
  max-width: 700px;
  width: 95%;

  &__header {
    @media (min-width: $phone) {
      border-radius: 15px 15px 0 0;
      padding: 10px 15px 0 30px;
    }
    align-items: center;
    background-color: $secondary;
    border-radius: 5px 5px 0 0;
    color: $cloud;
    display: flex;
    height: 52px;
    justify-content: space-between;
    padding: 0 15px;

    &__title {
      font-weight: normal;
      margin: 0;
    }
  }

  &__content {
    @media (min-width: $phone) {
      border-radius: 0 0 15px 15px;
      padding: $gutter;
    }
    background-color: $ghost;
    border-radius: 0 0 5px 5px;
    color: $coal;
    padding: 15px;
  }

  &__label {
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

    &--spread {
      justify-content: space-between;
    }

    button {
      max-width: 150px;
    }
  }
}

// utility
.overlay-active {
  overflow: hidden;
}
