select {
  background-color: $white;
	border: 1px solid $smoke;
	border-radius: 5px;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding: 9px;
	margin-top: -1px;
	width: 100%;
	height: 42px;
}

