// Import angular material custom theme
@import "theme";

// Define variables
@import "variables";

$family-primary: "Assistant", sans-serif;

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/generic.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

// Reset default styles
@import "reset";

// Style components
@import "base";
@import "button";
@import "calorie-box";
@import "card";
@import "food-table";
@import "form";
@import "icon";
@import "input";
@import "loading-overlay";
@import "logday";
@import "log-activity";
@import "log-weight";
@import "macro-box";
@import "main-backdrop";
@import "modal";
@import "navbar";
@import "search-bar";
@import "select";
@import "settings";
@import "tabs";
