@import './variables';

html {
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: $ghost;
  box-sizing: border-box;
  color: $white;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  position: static;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 0;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
}

*:focus {
  outline: none;
}