html {
  width: 100%;
  box-sizing: border-box;
  // font-size: 100%;
  overflow-y: inherit;
}

body {
  background-color: $ghost;
  box-sizing: border-box;
  color: $coal;
  font-family: "Assistant", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  position: static;
  overflow-x: hidden;
  width: 100%;
}

*:focus {
  outline: none;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

a.button {
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

table {
  border-collapse: collapse;
}

table th,
table td {
  vertical-align: middle;
}

ul {
  list-style: none;;
}