// Colors
@import 'theme';

$black: #000000;
$coal: #191919;
$storm: #333333;
$concrete: #4C4C4C;
$iron: #666666;
$grey: #7F7F7F;
$silver: #999999;
$platinum: #B2B2B2;
$smoke: #e5e5e5;
$mist: #f1f1f1;
$cloud: #f8f8f8;
$ghost: #fbfbfb;
$white: #ffffff;

$primary: #3F51B5;
$primaryDark: #283593;
$secondary: #2196F3;
$warning: map-get($macrolog-webapp-warn, default);

$transparent: #ffffffff;
$whiteTransparent: rgba(255, 255, 255, 0.5);

// Gradients
$backgroundGradient: linear-gradient(to bottom, $primary, $secondary);

// Distances
$gutter: 30px;

// Media breakpoints
$sm: 320px;
$md: 480px;
$lg: 768px;
$xl: 1024px;

