<div #logMeal class="log-meal" [ngClass]="{'logmeal--grow': editable}">
  <div class="meal" *ngIf="!editable">
    <span class="meal__title">{{meal}}</span>

    <div class="meal__display">
      <div *ngFor="let logEntry of logEntries" class="meal__ingredient">
        <span class="meal__ingredient__name">{{logEntry.food.name}}</span>

        <span class="meal__ingredient__amount" *ngIf="logEntry.portion">{{logEntry.multiplier | number:'1.0-2'}}
          {{logEntry.portion.description}}</span>

        <span class="meal__ingredient__amount"
          *ngIf="!logEntry.portion">{{unitGrams * logEntry.multiplier | number:'1.0-2'}} {{unitName}}</span>

        <span class="meal__ingredient__macro">{{logEntry.macrosCalculated.protein | number:'1.1-1'}}</span>

        <span class="meal__ingredient__macro">{{logEntry.macrosCalculated.fat | number:'1.1-1'}}</span>

        <span class="meal__ingredient__macro">{{logEntry.macrosCalculated.carbs | number:'1.1-1'}}</span>

        <span class="meal__ingredient__calories">{{logEntry.macrosCalculated.calories | number:'1.0-0'}} kcal</span>
      </div>
    </div>
  </div>

  <div class="meal" *ngIf="editable">
    <span class="meal__title">{{meal}}<i class="meal__icon fas fa-file-import"
        title="Copy {{meal.toLowerCase()}} from previous day" (click)="copyPrevious()"></i>
    </span>

    <div class="meal__editable">
      <div *ngFor="let logEntry of logEntries" class="meal__edit-ingredient">
        <div class="meal__edit-ingredient__name">
          {{logEntry.food.name}}
        </div>

        <div class="meal__edit-ingredient__amount">
          <div class="meal__edit-ingredient__amount__input">
            <input id="portionAmountInput" class="input" type="number" step="0.1" *ngIf="logEntry.portion"
              (keyup)="amountChange(logEntry)" [value]="getAmountValue(logEntry)"
              (input)="setLogEntryMultiplier($event, logEntry)">

            <input id="gramsAmountInput" class="input" type="number" step="1" *ngIf="!logEntry.portion"
              (keyup)="amountChange(logEntry)" [value]="getAmountValue(logEntry)"
              (input)="setLogEntryMultiplier($event, logEntry)">
          </div>
        </div>

        <div class="meal__edit-ingredient__measurement">
          <div class="meal__edit-ingredient__measurement__input">
            <select (change)="portionChange(logEntry, $event)">
              <!-- 100 grams -->
              <option [selected]="isGramsSelected(logEntry)">{{unitName}}</option>

              <!-- portion amount -->
              <option [selected]="isUnitSelected(logEntry, portion)"
                *ngFor="let portion of getAvailablePortions(logEntry)" value="{{portion.description}}">
                {{portion.description}}
              </option>
            </select>
          </div>
        </div>



        <div class="meal__edit-ingredient__macro">
          {{logEntry.macrosCalculated.protein | number:'1.1-1'}}
        </div>

        <div class="meal__edit-ingredient__macro">
          {{logEntry.macrosCalculated.fat | number:'1.1-1'}}
        </div>

        <div class="meal__edit-ingredient__macro">
          {{logEntry.macrosCalculated.carbs | number:'1.1-1'}}
        </div>

        <div class="meal__edit-ingredient__calories">
          {{logEntry.macrosCalculated.calories | number:'1.0-0'}} kcal
        </div>

        <div class=" meal__edit-ingredient__delete">
          <button class="icon-button" (click)="deleteLogEntry(logEntry)">
            <em class="fas fa-trash"></em>
          </button>
        </div>
      </div>

      <div class="meal__new-ingredient">
        <autocomplete-food class="meal__new-ingredient__name" [includeDishes]="true"
          [placeholder]="'What did you have for ' + meal.toLowerCase() + '?'"
          (select)="addLogEntry($event)">
        </autocomplete-food>

        <div class=" meal__new-ingredient__close">
          <button id="closeBtn" class="icon-button" (click)="close()">
            <em class="fas fa-check"></em>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>