<div class="log-meal">
  <div class="day__meal" *ngIf="!editable" (click)="editable = true">
    <span class="day__meal__title">{{meal}}</span>

    <div class="meal__display">
      <div *ngFor="let logEntry of logEntries" class="meal__ingredient">
        <span class="meal__ingredient__name">{{logEntry.food.name}}</span>
        <span class="meal__ingredient__amount" *ngIf="logEntry.portion">{{logEntry.multiplier | number:'1.0-0'}} {{logEntry.portion.description}}</span>
        <span class="meal__ingredient__amount" *ngIf="!logEntry.portion">{{logEntry.food.unitGrams * logEntry.multiplier | number:'1.0-0'}}  gram</span>
        <span class="meal__ingredient__macro">{{calculateProtein(logEntry) | number:'1.1-1'}}</span>
        <span class="meal__ingredient__macro">{{calculateFat(logEntry) | number:'1.1-1'}}</span>
        <span class="meal__ingredient__macro">{{calculateCarbs(logEntry) | number:'1.1-1'}}</span>
        <span class="meal__ingredient__calories">{{calculateCalories(logEntry) | number:'1.0-0'}}</span>
      </div>
    </div>
  </div>

  <div class="day__meal" *ngIf="editable">
    <span class="day__meal__title">{{meal}}</span>
    <div class="meal__editable">
      <div *ngFor="let logEntry of logEntries" class="meal__edit-ingredient">
        <div class="meal__edit-ingredient__name">
          {{logEntry.food.name}}
        </div>

        <div class="meal__edit-ingredient__amount">
          <input type="number" *ngIf="logEntry.portion" [value]="logEntry.multiplier" (input)="logEntry.multiplier = ($event.target.value)">
          <input type="number" *ngIf="!logEntry.portion && logEntry.food.measurementUnit == 'GRAMS'" [value]="logEntry.multiplier * logEntry.food.unitGrams"
                 (input)="logEntry.multiplier = ($event.target.value / logEntry.food.unitGrams)">
          <input type="number" *ngIf="!logEntry.portion && logEntry.food.measurementUnit == 'UNIT'" [value]="logEntry.multiplier" (input)="logEntry.multiplier = $event.target.value">
        </div>

        <div class="meal__edit-ingredient__measurement">
          <!--{{logEntry.food.unitName}}-->
          <select class="">
            <!-- the default unitname -->
            <option value="{{logEntry.food.unitName}}" selected="{{getSelected(logEntry.portion,undefined)}}">{{logEntry.food.unitName}}</option>
            <!-- all available portions -->
            <option *ngFor="let portion of getAvailablePortions(logEntry)"
                    selected="{{getSelected(logEntry.portion,portion)}}"
                    value="portion.description">{{portion.description}}</option>
          </select>
        </div>

        <div class="meal__edit-ingredient__macro">
          {{calculateProtein(logEntry) | number:'1.1-1'}}
        </div>
        <div class="meal__edit-ingredient__macro">
          {{calculateFat(logEntry) | number:'1.1-1'}}
        </div>
        <div class="meal__edit-ingredient__macro">
          {{calculateCarbs(logEntry) | number:'1.1-1'}}
        </div>
        <div class="meal__edit-ingredient__calories">
          {{calculateCalories(logEntry) | number:'1.0-0'}}
        </div>
      </div>

      <div class="meal__new-ingredient">
        <div #newIngredient class="meal__new-ingredient__name" (keydown)="onKeyDown($event)">
          <input class="meal__new-ingredient__input" #foodNameInput class="" placeholder="What did you have for {{meal.toLowerCase()}}?"
                 (input)="findFoodMatch($event)"
                 [(ngModel)]="foodName"
                 (focus)="showAutoComplete = true">
          <div #autoComplete class="autocomplete" *ngIf="showAutoComplete">
            <div class="autocomplete__option" *ngFor="let match of foodMatch">
              <div (click)="addLogEntry(match); foodName = ''; showAutoComplete = false">{{match.name}} ({{match.unitGrams}} gram)</div>
            </div>
          </div>
        </div>

        <div class="meal__new-ingredient__save" (click)="saveAndClose()">
          <i class="primary fas fa-check"></i>
        </div>
      </div>
    </div>

  </div>
</div>
