<div class="page">
  <ml-navigation></ml-navigation>

  <div class="container flex gap-8 justify-center">
    <div class="card flex flex-col gap-4">
      <h1 class="text-lg font-bold">Log in</h1>

      <form [formGroup]="loginForm" class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <label for="usernameOrEmail"> Username or email </label>
          <input id="username" type="text" formControlName="username" name="usernameOrEmail" />

          @if (loginForm.get('username')!.touched &&
          loginForm.get('username')!.invalid) {
          <p id="usernameRequired" class="error">Username is required</p>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="password"> Password </label>
          <input id="password" type="password" formControlName="password" (keyup.enter)="login()"
            name="password" />

          @if (loginForm.get('password')!.touched &&
          loginForm.get('password')!.invalid) {
          <p id="passwordRequired" class="error">Password is required</p>
          }
        </div>

        @if (loginError) {
        <p id="loginError" class="error">{{loginError}}</p>
        }

        <a id="forgotLink" (click)="toggleForgotPwModal(true)">Forgot password?</a>

        <button class="btn btn--primary" (click)="login()">Log in</button>
      </form>
    </div>

    <div class="card flex flex-col gap-4">
      <h1 class="text-lg font-bold">Register</h1>

      <form [formGroup]="registerForm" class="flex flex-col gap-4">

        <div class="flex flex-col gap-1">
          <label for="newUsername">Username</label>
          <input id="usernameRegister" type="text" formControlName="username" name="newUsername" />

          @if (registerForm.get('username')!.touched &&
          registerForm.get('username')!.invalid) {
          <p id="usernameRegisterRequired" class="error">Username is required</p>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="newEmal">Email</label>
          <input id="email" type="email" formControlName="email" name="newEmail" />

          @if (registerForm.get('email')!.touched &&
          registerForm.get('email')!.invalid) {
          <p id="emailRequired" class="error">Email is required</p>
          }
        </div>

        <div class="flex flex-col gap-1">
          <label for="newPassword">Password</label>
          <input id="passwordRegister" type="password" formControlName="password" name="newPassword"
            (keyup.enter)="register()" />

          @if (registerForm.get('password')!.touched &&
          registerForm.get('password')!.invalid) {
          <p id="passwordRegisterRequired" class="error">Password is required</p>
          }
        </div>

        @if (registerError) {
        <p id="registerError" class="error">{{registerError}}</p>
        }

        <button id="registerButton" class="btn btn--primary" (click)="register()">Register
        </button>
      </form>
    </div>
  </div>
</div>

@if(showForgotPwModal()) {
<ml-modal [title]="'Forgot your password?'" (close$)="toggleForgotPwModal(false)">
  <form #forgotForm="ngForm" class="flex flex-col gap-4">
    <p>Please enter your email so we can send a link to reset your password</p>

    <div class="flex items-center gap-4">
      <label for="forgotEmail">Email</label>
      <input class="flex-grow" type="email" #forgotEmailField [(ngModel)]="forgotEmail" name="forgotEmail" />
    </div>

    @if (forgotError) {
    <p class="error">{{forgotError}}</p>
    }

    <button id="resetBtn" class="align-self-end btn btn--primary" [disabled]="forgotForm.invalid"
      (click)="resetPassword()">Send
    </button>
  </form>
</ml-modal>
}