@import "../../../../css/variables.scss";

.login-form,
.register-form {
  width: 20rem;
  background-color: white;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05)
}

.error{
  color: $error;
  font-size: 0.9rem;
}
