@import "../../../../css/variables.scss";

.content {
  margin-top: 4rem;
}

.login-form,
.register-form {
  width: 20rem;
  background-color: white;
  margin: 2rem;
  border-radius: 1rem;
}

.error{
  color: red;
  font-size: 0.9rem;
}
