<div class="container">

  <p>Overview of all the food you have registered!</p>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <Th>Protein</Th>
      <Th>Carbs</Th>
      <Th>Fat</Th>
      <Th>Calories</Th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of foodResult">
        <td>{{food.name}}</td>
        <td>{{food.portions[0].description}}, {{food.portions[0].grams}} gram</td>
        <td align="right">{{food.protein | number:'1.1-1'}}</td>
        <td align="right">{{food.carbs | number:'1.1-1'}}</td>
        <td align="right">{{food.fat | number:'1.1-1'}}</td>
        <td align="right">{{(food.fat*9 + food.carbs*4 + food.protein*4)| number:'1.2-2'}}</td>
      </tr>

    </tbody>
  </table>
</div>
