:host {
  display: flex;
  justify-content: center;
  background: var(--modal-overlay);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  overflow-y: scroll;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--modal-background);
  max-width: 100vw;
  height: fit-content;
  padding: 16px;
  margin-top: 25vh;
  margin-bottom: 25vh;

  @media (min-width: 640px) {
    border-radius: 16px;
    padding: 24px;
  }
}