@import "../../../../css/variables.scss";

.modal-wrapper {
  display: flex;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  overflow-y: scroll;
}

.modal {
  @media (min-width: $sm) {
    margin-top: 4rem;
    margin-bottom: 2rem;
    max-width: 800px; // TODO depends on content and screen size
    // min-width: 36rem; // TODO depends on content and screen size
  }
  flex-direction: column;
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  background-color: white;

  &__header {
    display: flex;
    &__title {
      font-size: 1.25rem;
    }
  }

  &__body {
    padding-top: 0;
  }
}
