:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--modal-overlay);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  overflow-y: scroll;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--modal-background);
  gap: 16px;
  max-width: 100vw;

  @media (min-width: 640px) {
      border-radius: 16px;
  }
}