:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  overflow-y: scroll;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 16px;
  background-color: white;
  gap: 16px;
}