@import "../../../../css/variables.scss";

// .intake-goal {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;

//   &--placeholder {
//     margin: 1rem 0;
//   }

//   &--calories {
//     flex-direction: column;
//     align-items: center;
//   }

//   &__text {
//     @media (min-width: $phone) {
//       font-size: 20px;
//     }
//     font-size: 18px;
//     margin-bottom: 0;
//   }

//   &__subtext {
//     @media (min-width: $phone) {
//       font-size: 16px;
//     }
//     font-size: 14px;
//   }
// }

// .intake-goal-wrapper {
//   display: flex;
//   flex-direction: column;
// }
