<div class="card flex flex-col">
	@if (intakeGoals && totals()) {
	<div class="flex justify-center">
		<ml-stackdonut
			[goal]="intakeGoals[0]"
			[text]="'Protein'"
			[achieved]="totals().protein"
		/>

		<ml-stackdonut
			[goal]="intakeGoals[1]"
			[text]="'Fat'"
			[achieved]="totals().fat"
		/>

		<ml-stackdonut
			[goal]="intakeGoals[2]"
			[text]="'Carbs'"
			[achieved]="totals().carbs"
		/>
	</div>

	<p class="align-self-center">
		{{ totals().calories | number : "1.0-0" }}/{{ goalCal }}
		<span class="">Calories</span>
	</p>
	} @if (!intakeGoals) {
	<p class="align-self-center">You haven't set your goal intake yet!</p>
	}
</div>

<div class="card flex flex-col gap-4 items-center">
	<ml-datepicker (change$)="changeDate($event)" />

	<ml-diary-page [date]="date" />
</div>
