<div class="container container--first container--last">
  <div class="tile">
    <div class="subnav">
      <a class="subnav__item" *ngIf="isAdmin()" [ngClass]="{'subnav__item--active': router.url === '/admin/usermanagement'}"
        [routerLink]="['./usermanagement']">User Management</a>

      <a class="subnav__item" *ngIf="isAdmin()" [ngClass]="{'subnav__item--active': router.url === '/admin/webhooks'}"
        [routerLink]="['./webhooks']">Webhooks</a>
		</div>

    <router-outlet></router-outlet>
  </div>
</div>

<toast-component></toast-component>
