.weightgraph-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.weightgraph {
  width: 100%;
  height: 250px;
}

.table-wrapper {
  margin-top: 1rem;
}

@media (min-width: 448px) {
  .weightgraph-wrapper {
    padding: 0;
  }

  .weightgraph {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .weightgraph {
    height: 500px;
  }
}