@import '../../../../css/variables.scss';

.navbar {
  &__hamburger-line {
    background-color: $secondary;
    height: 3px;
    width: 1.25rem;
    margin: 0.25rem;
  }
  
  &__item {
    margin: 0.5rem;
  }

  &__mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;  
    min-width: 100px;
    padding: 1rem;
    border-bottom-left-radius: 2px;
  }

  height: 4rem;
  background-color: white
}

.logo {
  margin: 0;
  color: $secondary;
  font-size: 3rem;
  font-weight: 600;
}

.navbar-burger span {
  background-color: $secondary;
  height: 2px;
}

.navbar-mobile-menu {
  @media (min-width: $desktop) {
    display: none;
  }
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3.25em;
  left: 0;
  width: 100vw;
  align-items: flex-end;
  background: white;

  &.is-visible {
    visibility: visible;
    animation: expand 300ms ease;
    height: auto;

    .navbar-mobile-item {
      &:first-child {
        animation: fadein 1s ease forwards;
      }
      &:nth-child(2) {
        animation: fadein 1s ease 150ms forwards;
      }
      &:nth-child(3) {
        animation: fadein 1s ease 150ms forwards;
      }
    }
  }
}

@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 168px;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-mobile-item {
  width: 100vw;
  text-align: end;
  padding: 1em;
  color: $primary;
  opacity: 0;

  &:last-child {
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
  }
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.has-shadow {
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
}

.subtitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.25rem;
}

.split {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__left {
    flex-grow: 1;
    max-width: 650px;
  }

  &__right {
    flex-shrink: 1;
    flex-basis: 30%;
    display: flex;
    justify-content: center;
  }
}

.intro {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../../../assets/homepage-bowl.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  color: white;
  margin-top: 4rem;

  .title {
    font-size: 4em;
    font-weight: 700;
  }

  .subtitle {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 4rem;
  }

  .button {
    margin: 2rem 0;
    display: inline-block;
  }
}

.phone-image {
  @media (min-width: $desktop) {
    display: block;
  }
  display: none;
  position: relative;
  width: 300px;

  &__fill {
    position: absolute;
    top: 33px;
    left: 10px;
    width: 281px;
    border-radius: 22px;
  }

  &__frame {
    position: relative;
    height: 630px;
    width: 100%;
    z-index: 1;
  }
}

.large-icon {
  align-self: center;
  font-size: 8rem;
  color: $secondary;
}
.small-icon {
  margin-right: 1rem;
}
.fa-plus {
  color: #8aa34c;
}
.fa-minus {
  color: #fc5332;
}

.one,
.three,
.five {
  background-image: radial-gradient(
    transparent,
    transparent 67%,
    rgba(0, 0, 0, 0.1)
  );
  .title {
    color: $secondary;
  }
}

.two {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url('../../../../assets/homepage-lifting.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  color: white;
}

.four {
  background-image: url('../../../../assets/homepage-salad.jpg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
}

.has-background {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  border-radius: 4px;
}
