<ml-navigation />

<div class="intro">
  <div class="container flex gap-8">
    <div class="flex flex-col gap-8 justify-center p-2">
      <h1 class="title">Macrolog</h1>

      <h2 class="subtitle">The cleanest tool for tracking macronutrients</h2>

      <a href="https://play.google.com/store/apps/details?id=com.csl.macrologandroid"
        target="_blank" class="align-self-start btn btn--primary btn--large">Download now
        <em class="button-icon fab fa-google-play"></em></a>
    </div>

    <div class="phone-image">
      <img class="phone-image__fill" alt="diary screenshot" src="assets/diary-screen.jpg">

      <img class="phone-image__frame" alt="phone frame" src="assets/phone-mock-empty.png">
    </div>
  </div>
</div>

<div class="one">
  <div class="container flex flex-col gap-4  p-2">
    <h1 class="title">Track all the things</h1>

    <p>
      Whatever your goal is, the bottom line in changing your body is simple. To lose weight you
      consume less energy
      than you burn, and to gain weight you eat more than you burn. How do you know what you're
      doing is effective?
      Track it! Track your methods, track your progress, track all the things. Macrolog can help
      you keep an
      overview of the food you eat, your activities and your progress in terms of
      weight. The purpose is to collect data, and see what works for you.
    </p>

    <h2 class="subtitle">Macronutrients</h2>

    <p>
      Part of tracking everything is also tracking the proportions in which you eat. Macrolog,
      as the name suggests,
      is more focussed on tracking macronutrients rather than just calories. We won't pretend to
      know much about
      dieting itself, and what works for one person may not work for another. But we know
      proteins do something else
      to your body than fat does, and fat acts differently from carbohydrates. Not tracking
      macronutrients would be
      neglecting data that could play a huge role in accomplishing your physical goal. It should
      be the basis rather
      than an extra feature.
    </p>
  </div>
</div>

<div class="two">
  <div class="container flex flex-col gap-4 p-2">
    <h1 class="title">Simple and quick...</h1>

    <p>
      We think time spend tracking food is time you're not spending on the things you love.
      Logging food should
      therefore be as easy and quick as possible, without getting inaccurate. Macrolog will help
      you with this, but
      how?
    </p>

    <h2 class="subtitle">Just your products</h2>
    <p>
      First off, Macrolog's food list only contains products that you personally use. Other apps
      are hooked up to
      large
      databases where other users can add to. This sometimes clutters the list and it can be
      hard to pick the right
      product. Have you ever tried to find the right type of bread amongst the 100 types to pick
      from? Macrolog's
      list
      starts out empty, and grows over time while you add entries to your diary. You will never
      be overwhelmed by
      the
      amount of products to pick from. It's just your favorite foods.
    </p>

    <h2 class="subtitle">Portions</h2>
    <p>
      Second, Macrolog lets you define portions for your products. If you always have the same
      amount of oats for
      breakfast, you're only gonna enter that quantity once. You can add multiple portions to
      every food, in case
      you
      eat varying amounts. This speeds up adding food to your diary.
    </p>

    <h2 class="subtitle">Dishes</h2>
    <p>
      But we didn't stop there.
      If you always have the same amount of oats, yogurt and honey every morning, you're only
      gonna want to enter
      one thing, your breakfast. This is why Macrolog enables you to define dishes and add all
      the ingredients at
      once. These ingredient amounts are then fully adjustable, just in case you needed an extra
      spoon of honey.
    </p>
  </div>
</div>

<div class="three">
  <div class="container flex flex-col gap-4 p-2">
    <h1 class="title">... and complex and dynamic</h1>

    <p>
      While the logging must be as simple and easy as possible, the things we want to do with
      the data are more
      complex. It's nice to see if you reach your daily goals, but you also might want to look
      at your weekly,
      monthly, or even yearly accomplishments. If you track your eating and exercising habbits
      for a longer period
      of time you are able to make predictions for the future, should you stick with it.
      Macrolog offers tools to
      make these aspects visible to you.
    </p>

    <h2 class="subtitle">Dynamically adjusting goals</h2>

    <p>
      When your body changes, your need for energy changes. When you weigh less, you also need
      less energy daily.
      And when you've bulked up, you need more energy to sustain that amount of muscle. Macrolog
      enables you to
      automatically adjust your daily intake goal based on your new physique. This prevents
      plateauing, which is
      something many people eventually experience when they don't adjust their eating habbits to
      their new bodily
      needs.
    </p>
  </div>
</div>

<div class="four">
  <div class="container">
    <div class="card flex flex-col gap-4 p-2">
      <h1 class="title">When is Macrolog for you?</h1>

      <p class="">When you value macronutrients over calories. When you want things
        clear and simple.
        When you know what you want to eat. When you don't need advice. When you want something
        other
        than just losing
        weight. When you like analyzing your data. When you like full control.
      </p>

      <div class="flex gap-4">
        <div class="flex flex-col flex-grow">
          <h2 class="subtitle ">Macrolog</h2>
          <ul>
            <li> <fa-icon [icon]="faPlus"></fa-icon>
              Adjustable macronutrient focus</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Able to focus on all goals</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Clean database with only your products
            </li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Multiple portions for food</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Including dishes</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Logging takes less and less time</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>All functions are free</li>
          </ul>

          <ul>
            <li><fa-icon [icon]="faMinus"></fa-icon>Initial filling the foodlist takes time
            </li>
            <li><fa-icon [icon]="faMinus"></fa-icon>No nutritional advice</li>
          </ul>
        </div>

        <div class="flex flex-col flex-grow">
          <h2 class="subtitle ">Most other apps</h2>

          <ul>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Calorie focus and traditional
              macronutrient
              ratios</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Rich database to pick from</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>No looking up nutritional facts</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Nutritional advice</li>
            <li> <fa-icon [icon]="faPlus"></fa-icon>Suggested recipes</li>
          </ul>

          <ul>
            <li> <fa-icon [icon]="faMinus"></fa-icon>Often focus on weightloss</li>
            <li><fa-icon [icon]="faMinus"></fa-icon>High chance picking wrong product</li>
            <li><fa-icon [icon]="faMinus"></fa-icon>Amount of time logging stays the same
            </li>
            <li><fa-icon [icon]="faMinus"></fa-icon>Most useful functions are premium</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="five">
  <div class="container flex flex-col gap-4 p-2">
    <h1 class="title">Soon</h1>

    <h2 class="subtitle">Meal plans</h2>
    <p>We have talked about portions and meals to make logging your food intake easier. But we
      feel
      we can still make an
      extra step towards easy entering: meal plans. Macrolog will soon be able to save your weekly
      meal
      plans, and add the content to your diary automatically every day. This way you only have to
      log the variations of
      the day.
    </p>

    <h2 class="subtitle">Bodyfat and measurements</h2>
    <p>
      We would like Macrolog to be a tool not just for weightloss, but for attaining any physical
      goal. But changing
      your body composition isnt usually measured in weight, loss or gain. This is why we are
      adding
      more types of
      measurements to track your progress, like body fat percentage and bodily measurements.
    </p>
  </div>
</div>