.title {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.has-shadow {
	text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
}

.subtitle {
	margin-bottom: 0.5rem;
	font-weight: 500;
	font-size: 1.25rem;
}

.split {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.split__left {
	flex-grow: 1;
	max-width: 650px;
}

.split__right {
	flex-shrink: 1;
	flex-basis: 30%;
	display: flex;
	justify-content: center;
}

.intro {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.5)
		),
		url("../../../../assets/homepage-bowl.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;

	.title {
		font-size: 4em;
		font-weight: 700;
	}

	.subtitle {
		font-size: 3em;
		font-weight: 300;
		margin-bottom: 4rem;
	}

	.button {
		margin: 2rem 0;
		display: inline-block;
	}
}

.phone-image {
  display: none;
	position: relative;
	width: 300px;
	@media (min-width: 1024px) {
		display: block;
	}
}

.phone-image__fill {
	position: absolute;
	top: 33px;
	left: 10px;
	width: 281px;
	border-radius: 22px;
}

.phone-image__frame {
	position: relative;
	height: 630px;
	z-index: 1;
}

.large-icon {
	align-self: center;
	font-size: 8rem;
	color: var(--secondary);
}

.fa-plus {
	color: #8aa34c;
	margin-right: 1rem;
}
.fa-minus {
	margin-right: 1rem;
	color: #fc5332;
}

.one,
.three,
.five {
	.title {
		color: var(--secondary);
	}
	display: flex;
	flex-direction: column;
}

.two {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.8)
		),
		url("../../../../assets/homepage-lifting.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	color: white;
	display: flex;
	flex-direction: column;
}

.four {
	background-image: url("../../../../assets/homepage-salad.jpg");
	background-size: cover, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
}

.has-background {
	background-color: rgba(255, 255, 255, 0.95);
	padding: 1rem;
	border-radius: 4px;
}
