<div class="flex items-center gap-4">
  <img class="align-self-center" alt="powered by GMail" src="../assets/logo_gmail.png" />

  @if (isConnected) {
  <div class="flex flex-col gap-4">
    <p class="strong font-bold">GMail is connected</p>

    <div class="flex gap-2 items-center">
      <label for="emailAddress">Email address</label>
      <input id="emailAddress" class="input" [(ngModel)]="emailAddress" name="emailAddress" />
    </div>

    <button class="align-self-start btn btn--warning" (click)="sendTestMail()">
      Send testmail
    </button>
  </div>
  }

  @if (!isConnected) {
  <div class="flex flex-col gap-2">
    <p class="strong font-bold"> GMail is not connected </p>
    @if (syncError) {
    <p class="error">
      Unable to proceed with connecting to GMAIL. {{ syncError }}
    </p>
    }
    <a href="{{ googleConnectUrl }}">
      <img alt="connect to GMail" src="../assets/sign-in-with-google-icon.png"
        style="width: 200px" />
    </a>
  </div>
  }
</div>