@import "../../../css/public.scss";

@include media-break($md) {
  $yAxisWidth: 50px;
  $xAxisHeight: 50px;
}

$yAxisWidth: 30px;
$xAxisHeight: 30px;

.linegraph {
  height: 100%;
  width: 100%;

  .background {
    height: 100%;
    width: 100%;
  }

  .axes {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .y-axis-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .y-axis {
    width: $yAxisWidth;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid $silver;
  }

  .y-axis-point {
    text-align: end;
    color: $iron;
    font-size: 12px;
    padding-right: 4px;
  }

  .graph-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-end;
    height: 100%;
  }

  .graph-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .graph-trend {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
  }

  .graph-point {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-end;

    &__text {
      display: flex;
      position: absolute;
      color: $primary;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.2s;
      opacity: 0;

      &::after {
        content: "";
        position: absolute;
        top: -8px;
        height: 30px;
        width: 30px;
        background-color: white;
        border: 2px solid $primary;
        opacity: 0;
        border-radius: 50%;
        z-index: -1;
        transition: 0.2s;
      }
    }

    &:hover {
      .graph-point__text {
        opacity: 1;

        &::after {
          opacity: 0.7;
        }
      }
    }
  }

  .x-axis-wrapper {
    display: flex;
  }

  .x-axis-dummy-point {
    display: flex;
    width: $yAxisWidth;
    height: $xAxisHeight;
  }

  .x-axis {
    display: flex;
    flex-grow: 1;
    height: $xAxisHeight;
    border-top: 1px solid $silver;
    justify-content: space-around;
  }

  .x-axis-point {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .x-axis-point-text {
    position: absolute;
    color: $iron;
    font-size: 12px;
    align-self: center;
  }
}
