:root {
  --yAxisWidth: 30px;
  --xAxisHeight: 30px;

  @media (min-width: 448px) {
  --yAxisWidth: 50px;
  --xAxisHeight: 50px;
}
}

.linegraph {
  height: 100%;
  width: 100%;

  .background {
    height: 100%;
    width: 100%;
  }

  .axes {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .y-axis-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .y-axis {
    width: var(--yAxisWidth);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--coal);
  }

  .y-axis-point {
    text-align: end;
    font-size: 12px;
    padding-right: 4px;
  }

  .graph-content {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-end;
    height: 100%;
  }

  .graph-canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .graph-trend {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .graph-point {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: flex-end;
    z-index: 1;

    .graph-point__text {
      display: flex;
      position: absolute;
      color: var(--primary);
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      align-self: center;
      flex-direction: column;
      align-items: center;
      transition: 0.2s;
      opacity: 0;

      &::after {
        content: '';
        position: absolute;
        top: -8px;
        height: 30px;
        width: 30px;
        background-color: white;
        border: 2px solid var(--primary);
        opacity: 0;
        border-radius: 50%;
        z-index: -1;
        transition: 0.2s;
      }
    }

    &:hover {
      .graph-point__text {
        opacity: 1;

        &::after {
          opacity: 0.7;
        }
      }
    }
  }

  .x-axis-wrapper {
    display: flex;
  }

  .x-axis-dummy-point {
    display: flex;
    width: var(--yAxisWidth);
    height: var(--xAxisHeight);
  }

  .x-axis {
    display: flex;
    flex-grow: 1;
    height: var(--xAxisHeight);
    border-top: 1px solid var(--storm);
    justify-content: space-around;
  }

  .x-axis-point {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .x-axis-point-text {
    position: absolute;
    font-size: 12px;
    align-self: center;
  }
}
