<div class="modal">
  <div class="modal__header">
    <h3 class="modal__header__title">{{title}}</h3>

    <button class="button button--icon button--primary" (click)="closeModal()">
      <i class="fas fa-times"></i>
    </button>
  </div>

  <div class="modal__content">
    <p>When it's more logical to measure in whole units, fill in the nutrients
      <strong class="strong--signal">per unit</strong>. Like with an egg or other food you can't easily make portions of.
      We recommend you weigh the unit, although this is optional.
    </p>

    <form #saveFoodForm="ngForm">
      <div class="form-field">
        <label class="form-field__label">Food</label>
        <div class="form-field__element">
          <input class="" [(ngModel)]="name" #foodField name="name"
                 placeholder="e.g. 'Pasta', 'Apple'" required>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Nutrients</label>
        <div class="form-field__element">
          <div class="radio-wrapper">
            <input class="" type="radio" name="measurementUnit"
                   [(ngModel)]="measurementUnit" value="GRAMS"
                   [ngClass]="{'checked fas fa-check': measurementUnit === 'GRAMS' }" required>
            <span class="radio-label">per 100gr</span>
            <input class="" type="radio" name="measurementUnit"
                   [(ngModel)]="measurementUnit" value="UNIT"
                   [ngClass]="{'checked fas fa-check': measurementUnit === 'UNIT' }">
            <span class="radio-label">per unit</span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="measurementUnit === 'UNIT'">
        <div class="form-field">
          <label class="form-field__label">Unit name</label>
          <div class="form-field__element">
            <input class="" #unitNameField [(ngModel)]="unitName" name="unitName" placeholder="e.g. 'Piece', 'Slice'">
          </div>
        </div>
        <div class="form-field">
          <label class="form-field__label">Grams</label>
          <div class="form-field__element">
            <input class="" #gramsField [(ngModel)]="unitGrams" name="grams" placeholder="Optional" type="number">
          </div>
        </div>
      </ng-container>

      <div class="form-field">
        <label class="form-field__label">Protein</label>
        <div class="form-field__element">
          <input class="" #proteinField [(ngModel)]="protein"
                 value="protein"
                 name="protein" type="number" placeholder="0.0" step="0.1" required>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Fat</label>
        <div class="form-field__element">
          <input class="" #fatField [(ngModel)]="fat"
                 name="fat" type="number" placeholder="0.0" step="0.1" required>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Carbs</label>
        <div class="form-field__element">
          <input class="" #carbsField [(ngModel)]="carbs"
                 name="carbs" type="number" placeholder="0.0" step="0.1" required>
        </div>
      </div>

      <label class="modal__label">Frequently used portions (optional)</label>

      <div class="modal__portions" *ngFor="let port of portions; index as i">
        <div class="form-field form-field--column">
          <div class="form-field__element form-field__element--column">
            <label class="form-field__label">Description</label>
            <input class="" [(ngModel)]="port.description"
                   name="portionDesc_{{i}}" type="text"
                   placeholder="e.g. 'Breakfast', 'Plate'" required>
          </div>

          <div class="form-field__element form-field__element--column" *ngIf="measurementUnit === 'GRAMS'">
            <label class="form-field__label">Grams</label>
            <input class="" [(ngModel)]="port.grams" placeholder="0,0"
                   name="portionGrams_{{i}}" type="number" step="1" required>
          </div>

          <div class="form-field__element form-field__element--column" *ngIf="measurementUnit === 'UNIT'">
            <label class="form-field__label">{{unitName === '' ? 'Portion' : unitName}}</label>
            <input class="" [(ngModel)]="port.unit"
                   name="portionUnit_{{i}}" value="port.unit" type="number"
                   placeholder="0,0" step="0.1" required>
          </div>


          <div class="form-field__element form-field__element--column form-field__element--end">
            <button class="button button--transparent" (click)="removePortion(i)">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="button-wrapper button-wrapper--left">
        <button class="button button--transparent" (click)="newPortion()">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </form>

    <div class="button-wrapper">
      <button type="button" class="button button--primary" (click)="saveFood()"
              [disabled]="saveFoodForm.invalid">Save</button>
    </div>
  </div>

</div>
