<div class="modal">
  <div class="modal__header">
    <h3 class="modal__header__title">{{title}}</h3>
  </div>

  <div class="modal__content">

    <p>When it's more logical to measure in whole units, fill in the nutrients
      <strong class="strong--signal">per unit</strong>. Like with an egg or food you can't easily make portions of.
      We recommend you weigh the unit, although this is optional.
    </p>

    <form #addFoodForm="ngForm">
      <div class="form-field">
        <div class="form-field__element">
          <label class="form-field__label">Food</label>
          <input [(ngModel)]="food" name="food" class="form-field__text" placeholder="e.g. 'Pasta', 'Apple'">
        </div>
      </div>

      <div class="form-field">
        <div class="form-field__element">
          <div class="radio-group">
            <label class="form-field__label">Nutrients</label>
            <input class="form-field__radio" type="radio" name="nutrients"
                   [(ngModel)]="nutrients" value="grams"
                   [ngClass]="{'form-field__radio--checked fas fa-check': nutrients === 'grams' }">
            <span class="radio__label">per 100gr</span>
            <input class="form-field__radio" type="radio" name="nutrients"
                   [(ngModel)]="nutrients" value="unit"
                   [ngClass]="{'form-field__radio--checked fas fa-check': nutrients === 'unit' }">
            <span class="radio__label">per unit</span>
          </div>
        </div>
      </div>

      <ng-container *ngIf="nutrients === 'unit'">
        <div class="form-field">
          <div class="form-field__element">
            <label class="form-field__label">Unit name</label>
            <input class="form-field__text" [(ngModel)]="unitName" name="unitName" placeholder="e.g. 'Piece', 'Slice'">
          </div>
        </div>
        <div class="form-field">
          <div class="form-field__element">
            <label class="form-field__label">Grams</label>
            <input class="form-field__text" [(ngModel)]="grams" name="grams" placeholder="Optional" type="number">
          </div>
        </div>
      </ng-container>

      <div class="form-field form-field--column">
        <div class="form-field__element form-field__element--column">
          <label class="form-field__label">Protein</label>
          <input class="form-field__text" type="number" step="0.1">
        </div>
        <div class="form-field__element form-field__element--column">
          <label class="form-field__label">Fat</label>
          <input class="form-field__text" type="number" step="0.1">
        </div>
        <div class="form-field__element form-field__element--column">
          <label class="form-field__label">Carbs</label>
          <input class="form-field__text" type="number" step="0.1">
        </div>
      </div>

      <label class="modal__label">Frequently used portions (optional)</label>

      <div class="modal__portions" *ngFor="let portion of portions; index as i">
        <div class="form-field form-field--column">
          <div class="form-field__element form-field__element--column" *ngIf="nutrients === 'grams'">
            <label class="form-field__label">Grams</label>
            <input class="form-field__text" type="number" step="1">
          </div>

          <div class="form-field__element form-field__element--column" *ngIf="nutrients === 'unit'">
            <label class="form-field__label">{{unitName === '' ? 'Portion' : unitName}}</label>
            <input class="form-field__text" type="number" step="0.1">
          </div>

          <div class="form-field__element form-field__element--column">
            <label class="form-field__label">Description</label>
            <input class="form-field__text" type="text" placeholder="e.g. 'Breakfast', 'Plate'">
          </div>

          <div class="form-field__element form-field__element--column form-field__element--end">
            <button class="button button--transparent" (click)="removePortion(i)">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
      </div>

      <button class="button button--transparent" (click)="newPortion()">
        <i class="fas fa-plus"></i>
      </button>

      <div class="modal__button-wrapper">
        <button class="button button--primary" (click)="closeModal()">Done</button>
      </div>

    </form>

  </div>

</div>
