@import "../../../css/public.scss";

.donut-chart-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.donut-chart {
  width: 120px;
  height: 120px;
  background: transparent;
  overflow: hidden;
  border-radius: 50%;
  position: relative;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: $white;
  }

  &__center {
    font-family: "Assistant", sans-serif;
    text-align: center;
    position: absolute;
    display: block;
    color: #373737;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &__number {
      font-size: 16px;
    }
    &__unit {
      font-size: 16px;
    }
  }
}

.legend {
  display: flex;
  flex-direction: column;
  font-family: "Assistant", sans-serif;
  font-size: 14px;
  margin-left: 16px;

  &__line {
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 3px;

    &__indicator {
      display: flex;
      width: 18px;
      height: 18px;

      &--protein {
        background-color: rgba(100, 149, 236, 0.5);
      }

      &--fat {
        background-color: rgba(60, 221, 234, 0.5);
      }

      &--carbs {
        background-color: rgba(144, 238, 144, 0.5);
      }
    }

    &__number {
      display: flex;
      width: 40px;
      justify-content: flex-end;
      margin-left: 4px;
    }

    &__unit {
      display: flex;
      margin-left: 4px;
    }
  }
}
