<div class="bargraph">
    <div class="background">
        <div class="axes">
            <div class="y-axis-wrapper">
                <div #yAxis class="y-axis">
                    <div class="y-axis-point" *ngFor="let yPoint of yAxisPoints">
                        {{yPoint}}
                    </div>
                </div>

                <div class="graph-content">
                    <ng-container *ngFor="let marker of markers; index as index">
                        <div class="graph-marker" [style.height.px]="markerHeights[index]"
                            [style.border-top-color]="colors[index]">
                        </div>
                    </ng-container>

                    <ng-container *ngIf="graphPoints !== undefined && graphPoints[0] !== undefined">
                        <div class="graph-points-lane" *ngFor="let graphPoint of graphPoints[0]; index as pointIndex">
                            <div class="graph-point" *ngFor="let set of graphPoints; index as setIndex"
                                [style.border-color]="colors[setIndex]" [style.background-color]="fillColors[setIndex]"
                                [style.height.px]="graphPoints[setIndex][pointIndex].height"
                                [ngClass]="{'graph-point--empty': !graphPoints[setIndex][pointIndex].height}">
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div class="graph-marker-numbers">
                    <ng-container *ngFor="let marker of markers; index as index">
                        <div class="graph-marker graph-marker--narrow" [style.height.px]="markerHeights[index]"
                            [style.border-top-color]="colors[index]">
                            <div class="graph-marker__text">{{marker}}</div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="x-axis-wrapper">
                <div class="x-axis-dummy-point"></div>

                <div #xAxis class="x-axis">
                    <div class="x-axis-point" *ngFor="let xPoint of xAxisPoints">
                        <div class="x-axis-point-text">
                            {{xPoint}}
                        </div>
                    </div>
                </div>

                <div class="x-axis-dummy-point"></div>
            </div>
        </div>
    </div>
</div>