<!--<mat-card>-->
	<!--<mat-card-title>-->
		<!--<p>Today</p>-->
	<!--</mat-card-title>-->
	<!--<mat-card-subtitle>-->
		<!--<span>P</span>-->
		<!--<span>F</span>-->
		<!--<span>C</span>-->
		<!--<p style="float:right">2000 kcal</p>-->
		<!---->
	<!--</mat-card-subtitle>-->
	<!--<mat-divider></mat-divider>-->
	<!--<mat-card-content>-->
	<!---->
	<!--<mat-list dense>-->
		<!--&lt;!&ndash; Log entry row &ndash;&gt;-->
		<!--<mat-list-item>-->
			<!--<mat-grid-list cols="4" rowHeight="fit">-->
				<!--<mat-grid-tile>Apple</mat-grid-tile>-->
				<!--<mat-grid-tile>P: 1.2</mat-grid-tile>-->
				<!--<mat-grid-tile>F: 0.2</mat-grid-tile>-->
				<!--<mat-grid-tile>C: 18.2</mat-grid-tile>-->
			<!--</mat-grid-list>-->
		<!--</mat-list-item>-->
		<!---->
		<!--<mat-divider [inset]="true"></mat-divider>-->
		<!---->
		<!--<mat-list-item>-->
			<!--<mat-grid-list cols="4">-->
				<!--<mat-grid-tile>Knackebrod met kaas</mat-grid-tile>-->
				<!--<mat-grid-tile>P: 7.3</mat-grid-tile>-->
				<!--<mat-grid-tile>F: 5.0</mat-grid-tile>-->
				<!--<mat-grid-tile>C: 27.0</mat-grid-tile>-->
			<!--</mat-grid-list>-->
		<!--</mat-list-item>-->
		<!---->
		<!--<mat-divider [inset]="true"></mat-divider>-->
		<!---->
		<!--<mat-list-item>-->
			<!--<mat-grid-list cols="4">-->
				<!--<mat-grid-tile>Pasta</mat-grid-tile>-->
				<!--<mat-grid-tile>P: 4.6</mat-grid-tile>-->
				<!--<mat-grid-tile>F: 0.8</mat-grid-tile>-->
				<!--<mat-grid-tile>C: 50.2</mat-grid-tile>-->
			<!--</mat-grid-list>-->
		<!--</mat-list-item>-->
		<!---->
		<!--<mat-divider [inset]="true"></mat-divider>-->
		<!---->
		<!--<mat-list-item>-->
			<!--<mat-grid-list cols="4">-->
				<!--<mat-grid-tile>Magere kwark</mat-grid-tile>-->
				<!--<mat-grid-tile>P: 28.9</mat-grid-tile>-->
				<!--<mat-grid-tile>F: 2.1</mat-grid-tile>-->
				<!--<mat-grid-tile>C: 4.2</mat-grid-tile>-->
			<!--</mat-grid-list>-->
		<!--</mat-list-item>-->
	<!--</mat-list>-->
	<!---->
	<!--</mat-card-content>	-->
<!--</mat-card>-->
<p>Log works!</p>