<div>
  <form #updateForm="ngForm">
    <h3 class="form-description">Change password</h3>

    <div class="form-field">
      <label class="form-field__label">Old password</label>
      <input class="input form-field__input" type="password" [(ngModel)]="oldPassword" name="oldPassword" required />
    </div>

    <div class="form-field">
      <label class="form-field__label">New password</label>

      <input class="input form-field__input" type="password" [(ngModel)]="newPassword" name="newPassword" required />
    </div>

    <div class="form-field">
      <label class="form-field__label">Confirm new password</label>

      <input class="input form-field__input" type="password" [(ngModel)]="confirmPassword" name="confirmPassword"
        required />
    </div>

    <p *ngIf="message">{{message}}</p>
  </form>

  <div class="button-wrapper">
    <button class="button button--primary" [disabled]="updateForm.invalid" (click)="changePassword()">Change
      password
    </button>
  </div>

  <div>
    <h3 class="form-description">Delete account</h3>

    <div class="button-wrapper">
      <button class="button button--warning" (click)="openModal()">Delete</button>
    </div>
  </div>
</div>

<div id="deleteModal" class="modal-wrapper" *ngIf="modalOpen">
  <div class="modal">
    <div class="modal__header">
      <h3 class="modal__header__title">Delete account</h3>

      <button class="icon-button" (click)="closeModal()">
        <em class="fas fa-plus"></em>
      </button>
    </div>

    <div class="modal__content">
      <p>Are you sure you want to delete your account?
        This action is irreversable.</p>

      <p>If you are, please enter your password</p>

      <input class="input" placeholder="Password" type="password" #usernameField [(ngModel)]="password" name="password"
        required />

      <p class="error" *ngIf="errorMessage">Password incorrect</p>

      <div class="modal__button-wrapper modal__button-wrapper--spread">
        <button class="button" (click)="closeModal()">No</button>

        <button [disabled]="!password" class="button button--warning" (click)="deleteAccount()">Yes
        </button>
      </div>
    </div>
  </div>
</div>