<div>
  <form #updateForm="ngForm">
    <h3 class="font-bold">Change password</h3>

    <div class="form-field">
      <label for="oldPassword"  class="form-field__label">Old password</label>
      <input class="input form-field__input" type="password" [(ngModel)]="oldPassword"
        name="oldPassword" required />
    </div>

    <div class="form-field">
      <label for="newPassword" class="form-field__label">New password</label>
      <input class="input form-field__input" type="password" [(ngModel)]="newPassword"
        name="newPassword" required />
    </div>

    <div class="form-field">
      <label for="confirmPassword" class="form-field__label">Confirm new password</label>
      <input class="input form-field__input" type="password" [(ngModel)]="confirmPassword"
        name="confirmPassword" required />
    </div>

    <p *ngIf="message">{{message}}</p>
  </form>

  <div class="button-wrapper">
    <button class="button button--primary" [disabled]="updateForm.invalid"
      (click)="changePassword()">Change
      password
    </button>
  </div>

  <div>
    <h3 class="font-bold">Delete account</h3>

    <div class="button-wrapper">
      <button class="button button--warning" (click)="openModal()">Delete</button>
    </div>
  </div>
</div>

<ml-modal *ngIf="modalOpen" [title]="'Delete account'" (close$)="closeModal()">
  <div class="content">
    <p>Are you sure you want to delete your account?
      This action is irreversable.</p>

    <p>If you are, please enter your password</p>

    <label for="password" >Password</label>
    <input class="input" placeholder="Password" type="password" #usernameField
      [(ngModel)]="password" name="password" required />

    <p class="error" *ngIf="errorMessage">Password incorrect</p>

    <div class="flex justify-end col-gap-1">
      <button class="button" (click)="closeModal()">No</button>

      <button [disabled]="!password" class="button button--warning" (click)="deleteAccount()">Yes
      </button>
    </div>
  </div>
</ml-modal>