<table mat-table [dataSource]="allUsers" class="users mat-elevation-z8">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> Id</th>
		<td mat-cell *matCellDef="let element"> {{element.id}}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name</th>
		<td mat-cell *matCellDef="let element"> {{element.userName}}</td>
	</ng-container>

	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef> Email</th>
		<td mat-cell *matCellDef="let element"> {{element.email}}</td>
	</ng-container>

	<ng-container matColumnDef="delete">
		<th mat-header-cell *matHeaderCellDef> Delete account</th>
		<td mat-cell *matCellDef="let element">
			<button id="deleteBtn" *ngIf="!element.admin" class="button button--warning"
				(click)=openModalWithUser(element)>Delete
			</button>

			<span *ngIf="element.admin">Admin</span>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div id="deleteModal" class="modal-wrapper" *ngIf="isModalVisible">
	<div class="modal">
		<div class="modal__header blue-theme">
			<h3 class="modal__header__title">Delete user account</h3>

			<button class="icon-button" (click)="closeModal()">
				<mat-icon class="is-white">close</mat-icon>
			</button>
		</div>

		<div class="modal__content">
			<p>Are you sure you want to delete <strong>{{selectedUser.userName}}</strong>'s account?
				This action is irreversable.</p>

			<p>Enter the name of the user:</p>

			<input class="input" placeholder="Username" type="text" #usernameField [(ngModel)]="userName" name="username"
				required />

			<div class="blue-theme modal__button-wrapper modal__button-wrapper--spread">
				<button class="button" (click)="closeModal()">No</button>

				<button [disabled]="selectedUser.userName != userName" class="button button--warning" (click)="deleteUser()">Yes
				</button>
			</div>
		</div>
	</div>
</div>