<section class="section">
  <div class="container">
    <div class="card">
      <div class="subnav">
        <div class="subnav__item" *ngIf="isAdmin()"
          [ngClass]="{'subnav__item--active': router.url === '/admin/usermanagement'}"
          [routerLink]="['./usermanagement']">User Management</div>


        <div class="subnav__item" *ngIf="isAdmin()"
          [ngClass]="{'subnav__item--active': router.url === '/admin/webhooks'}" [routerLink]="['./webhooks']">Webhooks
        </div>

        <div class="subnav__item" *ngIf="isAdmin()" [ngClass]="{'subnav__item--active': router.url === '/admin/mail'}"
          [routerLink]="['./mail']">Mail</div>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</section>