<div class=" modal">
  <div class="modal__header">
    <h3 class="modal__header__title">{{modalTitle}}</h3>

    <button class="icon-button" (click)="closeModal()">
      <em class="small-icon fas fa-times"></em>
    </button>
  </div>

  <div class="modal__content">
    <form #makeDishForm="ngForm">
      <div class="form-field">
        <label class="form-field__label">Name</label>
        <input class="input form-field__input" [(ngModel)]="dishName" type="text" name="dishname" required>
      </div>

      <div class="recipe">
        <div class="recipe__ingredient form-field" *ngFor="let ingr of ingredients; index as i">

          <div class="form-field__input  recipe__ingredient__amount">
            <input class="input" name="ingrAmount" type="number" [value]="getValue(ingr)"
              (input)="calculateMultiplier($event, ingr)" step="{{getStep(ingr)}}" min="0">
          </div>

          <div class="form-field__select recipe__ingredient__portion">
            <select (change)="portionChange(ingr, $event.target)">
              <!-- 100 grams -->
              <option>{{unitName}}</option>

              <!-- portion amount -->
              <option *ngFor="let portion of getAvailablePortions(ingr)" value="{{portion.description}}"
                [selected]="portion.id == ingr.portionId">
                {{portion.description}}
              </option>
            </select>
          </div>
          <div class="form-field__text recipe__ingredient__name">{{ingr.food.name}}</div>

          <div class="form-field__button  recipe__ingredient__remove">
            <button class="icon-button" (click)="removeIngredient(i)">
              <em class="small-icon fas fa-minus"></em>
            </button>
          </div>
        </div>
      </div>

      <div class="autocomplete-wrapper">
        <autocomplete-food [placeholder]="'Search for food'" [searchables]="searchables"
          [selectFn]="addIngredientCallBack">
        </autocomplete-food>
      </div>

      <div class=" modal__button-wrapper">
        <button class="button" *ngIf="selectedDish" (click)="deleteDish()">Delete</button>

        <button class="button button--primary" [disabled]="makeDishForm.invalid" (click)="saveDish()">Save</button>
      </div>
    </form>
  </div>
</div>
