<div class="mission">
  It should be as simple and fast as possible to make entries to a diary.
  The data is macro oriented, but also shows totals like calories.
  The user has full control and responsibility over their data, and sees no data of any other person. 

</div>

<div class="style guide">
  Important things are big, less important things are small.
</div>

<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<p>Paragraph Font Assistant Light</p>

<button mat-button color="primary">Mat button</button>
<button mat-raised-button color="primary">Mat raised</button>
<button mat-stroked-button color="primary">Mat stroked</button>