@import '../../../css/public';

.personal {
	display: flex;
	flex-direction: column;
}

.calorie-box {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: $gutter/2;

	&__icon {
		font-size: 20px;
	}

	.fa-sort-up {
		margin-top: 10px;
		margin-left: 10px;
	}

	.fa-sort-down {
		margin-bottom: 10px;
		margin-right: 10px;
	}
}

.macro-box {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-around;

	&__macro {
		align-items: center;
		display: flex;
	}
}