<div class="modal-wrapper" *ngIf="showCalcModal">
  <div class="modal">
    <div class="modal__header">
      <h3 class="modal__header__title">Calculate your daily intake</h3>
      <i class="fas fa-times" (click)="showCalcModal = false"></i>
    </div>
    <div class="modal__content">
      <p *ngIf="!showMoreOptions">Choose your goal or manually adjust your caloric intake. Click on
      <strong class="strong--signal">Change macro's</strong>
        if you want to change macro proportions entirely.</p>

      <p *ngIf="showMoreOptions">Change the macro's according to your own preference. To use the
        regular calculation, click on
        <strong class="strong--signal">Change calories</strong>
        if you want to change macro proportions entirely.</p>

      <div class="form">
        <div class="form-field" *ngIf="!showMoreOptions">
          <label class="form-field__label form-field__label--small">My goal is to: </label>
          <div class="form-field__element">
            <div class="radio-group">
              <input class="form-field__radio" name="difference" type="radio"
                     [(ngModel)]="difference" value="lose" (change)="adjustDiff()"
                     [ngClass]="{'form-field__radio--checked fas fa-check': difference === 'lose' }">
              <span class="radio__label">lose weight</span>
              <input class="form-field__radio" name="difference" type="radio"
                     [(ngModel)]="difference" value="same" (change)="adjustDiff()"
                     [ngClass]="{'form-field__radio--checked fas fa-check': difference === 'same' }">
              <span class="radio__label">stay the same weight</span>
              <input class="form-field__radio" name="difference" type="radio"
                     [(ngModel)]="difference" value="gain" (change)="adjustDiff()"
                     [ngClass]="{'form-field__radio--checked fas fa-check': difference === 'gain' }">
              <span class="radio__label">gain weight</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form" *ngIf="showMoreOptions">
        <div class="form-field">
          <label class="form-field__label">Protein</label>
          <div class="form-field__element">
            <input class="form-field__text-input" (change)="calcCaloriesManual()" [(ngModel)]="proteinManual" type="number">
          </div>
        </div>

        <div class="form-field">
          <label class="form-field__label">Fat</label>
          <div class="form-field__element">
            <input class="form-field__text-input" (change)="calcCaloriesManual()" [(ngModel)]="fatManual" type="number">
          </div>
        </div>

        <div class="form-field">
          <label class="form-field__label">Carbs</label>
          <div class="form-field__element">
            <input class="form-field__text-input" (change)="calcCaloriesManual()" [(ngModel)]="carbsManual" type="number">
          </div>
        </div>
      </div>

      <div class="calorie-box">
        <i class="calorie-box__icon fas fa-sort-down" *ngIf="false" (click)="subtractOne()"></i>
        <h2 class="calorie-box__title">{{calories | number : '1.0-0'}} Calories</h2>
        <i class="calorie-box__icon fas fa-sort-up" *ngIf="false" (click)="addOne()"></i>
      </div>

      <div class="form-field" *ngIf="!showMoreOptions">
        <div class="form-field__label form-field__label--small">Calories</div>
        <div class="form-field__slider">
          <slider [value]="calories" (valueChange)="changeCalories($event)" [upperBound]="4000" [lowerBound]="1200" ></slider>
        </div>
      </div>

      <div class="macro-box" *ngIf="!showMoreOptions">
        <div class="macro-box__macro">
          <h2>{{protein | number : '1.0-0'}} gr Protein</h2>
        </div>
        <div class="macro-box__macro">
          <h2>{{fat | number : '1.0-0'}} gr Fat</h2>
        </div>
        <div class="macro-box__macro">
          <h2>{{carbs | number : '1.0-0'}} gr Carbs</h2>
        </div>
      </div>

      <div class="modal__button-wrapper">
        <button class="button button--primary" *ngIf="showMoreOptions" (click)="toggleOptions()">Change calories</button>
        <button class="button button--primary" *ngIf="!showMoreOptions" (click)="toggleOptions()">Change macro's</button>
        <button class="button button--secondary" (click)="saveIntake()">Done</button>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <h2 class="title">Personal details</h2>
  <div class="personal">
    <div class="section">
      <div class="section__left">
        <form>

          <div class="form-field">
            <label class="form-field__label">Name</label>
            <div class="form-field__element">
              <input class="form-field__text-input" name="name" type="text" [(ngModel)]="name">
            </div>
          </div>

          <div class="form-field">
            <label class="form-field__label">Age</label>
            <div class="form-field__element">
              <input class="form-field__text-input" name="age" type="number" [(ngModel)]="age">
            </div>
          </div>

          <div class="form-field">
            <label class="form-field__label">Gender</label>
            <div class="form-field__element">
              <div class="radio-group">
                <input class="form-field__radio" type="radio" name="gender"
                       [(ngModel)]="gender" value="MALE"
                       [ngClass]="{'form-field__radio--checked fas fa-check': gender === 'MALE' }">
                <span class="radio__label">Male</span>
                <input class="form-field__radio" type="radio" name="gender"
                       [(ngModel)]="gender" value="FEMALE"
                       [ngClass]="{'form-field__radio--checked fas fa-check': gender === 'FEMALE' }">
                <span class="radio__label">Female</span>
              </div>
            </div>
          </div>

          <div class="form-field">
            <label class="form-field__label">Height (cm)</label>
            <div class="form-field__element">
              <input class="form-field__text-input" name="height" type="number" [(ngModel)]="height">
            </div>
          </div>

          <div class="form-field">
            <label class="form-field__label">Start weight (kg)</label>
            <div class="form-field__element">
              <input class="form-field__text-input" name="weight" type="number" [(ngModel)]="weight" step="0.1"
                     (change)="calcCalories()">
            </div>
          </div>

          <div class="form-field form-field--spaced">
            <label class="form-field__label">Activity level</label>
            <div class="form-field__element">
              <select class="form-field__select" name="activity" [(ngModel)]="activity" (change)="calcCalories()">
                <option class="form-field__option" value="1.2">Sedentary</option>
                <option class="form-field__option" value="1.375">Lightly active</option>
                <option class="form-field__option" value="1.55">Moderately active</option>
                <option class="form-field__option" value="1.725">Very active</option>
                <option class="form-field__option" value="1.9">Extremely active</option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <div class="section__right">
        <button class="button button--primary" (click)="saveUserSettings()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="title">Goals</h2>
  <p>Your daily macro intake:</p>

  <div class="section">
    <div class="section__left">
      <button class="button button--primary" (click)="openCalcModal()">Calculate intake</button>

    </div>

    <div class="section__right">
      <!--<div class="calorie-box">-->
      <!--<i class="calorie-box__icon fas fa-sort-down" (click)="subtractOne()"></i>-->
      <!--<h2 class="calorie-box__title">{{(calories | number : '1.0-0') || '&#45;&#45;&#45;&#45;' }} Calories</h2>-->
      <!--<i class="calorie-box__icon fas fa-sort-up" (click)="addOne()"></i>-->
      <!--</div>-->

    </div>
  </div>


</div>




