.selectable {
  border-radius: 0.25rem;
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(9, 1fr);
  gap: 4px;
  padding: 8px;

  &:hover {
    background-color: var(--table-hover);
  }
}

.col-span-8 {
  grid-column-end: span 8;
}

.col-start-1{
  grid-column-start: 1;
}
.col-start-9 {
  grid-column-start: 9;
}

.activity-grid {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  gap: 8px;
}
.new-activity-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;
}