.selectable {
  border-radius: 0.25rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 4px;
  padding: 8px;

  &:hover {
    background-color: var(--lightBlue);
  }
}

.col-span-8 {
  grid-column-end: span 8;
}

.col-start-9 {
  grid-column-start: 9;
}