<div class="selectable" (click)="openModal()">
  <span class="font-bold">Activities </span>

  <div class="col-span-8">
    @if (showSync()) {
    <button type="button" class="text-primary" (click)="syncActivities()">
      <em title="Synchronize with external sources." class="fas fa-sync-alt primary">
      </em>
    </button>
    }
  </div>

  @for (activity of activities; track activity) {
  <span class="col-span-8">{{activity.name}}
    @if (activity.syncedWith === 'STRAVA') {
    <a target="_blank" href="https://www.strava.com/activities/{{activity.syncedId}}">(View on
      Strava)</a>
    }
  </span>

  <span class="col-start-9 self-end">{{activity.calories | number:'1.0-0'}}</span>
  }
</div>

@if (showModal) {
<ml-modal [title]="'Edit activities'" (close$)="showModal = false">
  <div class="flex flex-col gap-4">
    @if (!modalActivities || modalActivities.length === 0) {
    <span>Add activities to your diary.
    </span>
    } @else {
    <span class="font-bold text-secondary">Current activities</span>

    <div class="activity-grid">
      <span>Activity name</span>

      <span>Calories burned</span>

      @for (activity of modalActivities; track activity; let index = $index) {
      <input class="col-start-1" value="{{activity.name}}" (keyup)="changeName($event, index)">

      <input value="{{activity.calories}}" step="1" type="number"
        (keyup)="changeCalories($event, index)">

      <button class="btn btn--icon text--primary fas fa-trash"
        (click)="deleteActivity(index)"></button>
      }
    </div>
    }
    <span class="font-bold text-secondary">Add new activity</span>

    <form [formGroup]="activityForm" class="new-activity-grid">
      <label for="name">Activity name</label>
      <input formControlName="name" name="name">

      <label for="calories">Calories burned</label>
      <input formControlName="calories" name="calories" type="number" step="1">

      <button class="btn btn--primary" (click)="addActivity()">Add</button>
    </form>

    <button class="align-self-end btn btn--primary" (click)="saveActivities()">Save</button>
  </div>
</ml-modal>
}