@import '../../../../css/variables.scss';

.slider-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.slider {
  height: 70px;
  min-width: 120px;
  position: relative;

  &__track-container {
    position: relative;
  }

  &__track {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: lightgray;
    border-radius: 2px;
    height: 6px;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;

    &--fill {
      box-shadow: none;
      background-color: $primary;
      transition: width 0.3s;
    }
  }

  &__handle {
    background-color: $primary;
    position: absolute;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    top: 24px;
    transition: left 0.3s;
  }

  &__marker {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: $secondary;
    border-radius: 5px;
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
    height: 16px;
    width: 6px;

    &__label-container {
      position: relative;
    }

    &__label {
      font-size: 12px;
      position: absolute;
      top: 25px;
      left: -18px;

      &--above {
        top: -25px;
      }
    }
  }
}
