<div class="container">
  <h3>Login</h3>

  <form #loginForm="ngForm">
    <div class="">
      <label class="">Username</label>

      <input class="" type="text" #usernameField
             [(ngModel)]="username"
             name="username" required/>
    </div>

    <div class="">
      <label class="">Password</label>

      <input class="" type="password" #passwordField
             [(ngModel)]="password"
             name="password" required/>
    </div>
    <div *ngIf="error" class="">{{error}}</div>
  </form>

  <div class="button-wrapper">
    <button class="button button--primary"
            [disabled]="loginForm.invalid"
            (click)="onSubmit()">Login</button>
  </div>

</div>
