<div class="container container--row">

  <div class="card card--col-6">
    <h3>Log in</h3>

    <form #loginForm="ngForm">
      <div class="">
        <label class="">Username</label>

        <input class="" type="text" #usernameField
               [(ngModel)]="username"
               name="username" required/>
      </div>

      <div class="">
        <label class="">Password</label>

        <input class="" type="password" #passwordField
               [(ngModel)]="password"
               name="password" required/>
      </div>
      <div *ngIf="error" class="">{{error}}</div>
    </form>

    <a>Forgot password?</a>

    <div class="button-wrapper">
      <button class="button button--primary"
              [disabled]="loginForm.invalid"
              (click)="login()">Log in</button>
    </div>
  </div>

  <div class="card card--col-6">
    <h3>Register</h3>

    <form #signUpForm="ngForm">
      <div class="">
        <label class="">Username</label>

        <input class="" type="text" #usernameField
               [(ngModel)]="newUsername"
               name="newUsername" required/>
      </div>

      <div class="">
        <label class="">Password</label>

        <input class="" type="password" #passwordField
               [(ngModel)]="newPassword"
               name="newPassword" required/>
      </div>
      <div *ngIf="signUpError" class="">{{signUpError}}</div>
    </form>

    <div class="button-wrapper">
      <button class="button button--primary"
              [disabled]="signUpForm.invalid"
              (click)="signUp()">Register</button>
    </div>
  </div>

</div>
