<div class="container">
  <div class="grid">
    <div class="card">
      <h3>Log in</h3>

      <form #loginForm="ngForm">
        <div class="form-field form-field--small">
          <label class="form-field__label">Username or email</label>
          <input class="form-field__input" type="text" #usernameField
                 [(ngModel)]="usernameOrEmail"
                 name="usernameOrEmail" required/>
        </div>

        <div class="form-field form-field--small">
          <label class="form-field__label">Password</label>

          <input class="form-field__input" type="password" #passwordField
                 [(ngModel)]="password"
                 (keyup.enter)="login()"
                 name="password" required/>
        </div>
        <p *ngIf="error" class="signal">{{error}}</p>

        <a class="primary" (click)="toggleForgotPwModal(true)">Forgot password?</a>
      </form>

      <div class="button-wrapper">
        <button class="button button--primary"
                [disabled]="loginForm.invalid"
                (click)="login()">Log in
        </button>
      </div>
    </div>

    <div class="card">
      <h3>Register</h3>

      <form #signUpForm="ngForm">
        <div class="form-field form-field--small">
          <label class="form-field__label">Username</label>

          <input class="form-field__input" type="text" #usernameField
                 [(ngModel)]="newUsername"
                 name="newUsername" required/>
        </div>

        <div class="form-field form-field--small">
          <label class="form-field__label">Password</label>

          <input class="form-field__input" type="password" #passwordField
                 [(ngModel)]="newPassword"
                 name="newPassword" required/>
        </div>

        <div class="form-field form-field--small">
          <label class="form-field__label">Email</label>

          <input class="form-field__input" type="email" #emailField
                 [(ngModel)]="newEmail"
                 (keyup.enter)="signUp()"
                 name="newEmail" required/>
          <label class="form-field__disclaimer">
            We hate spam as much as you do. We will send you a confirmation
            email and will not use your email address
            for anything else besides password retrieval.
          </label>
        </div>

        <p *ngIf="signUpError" class="signal">{{signUpError}}</p>
      </form>

      <div class="button-wrapper">
        <button class="button button--primary"
                [disabled]="signUpForm.invalid"
                (click)="signUp()">Register
        </button>
      </div>
    </div>
  </div>

</div>

<div class="modal-wrapper" *ngIf="showForgotPwModal">
  <div class="modal">
    <div class="modal__header">
      <h3 class="modal__header__title">Forgot your password?</h3>

      <button class="button button--icon button--primary" (click)="toggleForgotPwModal(false)">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="modal__content">
      <p>Please enter your email so we can send your password</p>
      <form #forgotForm="ngForm">

        <div class="form-field form-field--small">
          <label class="form-field__label">Email</label>
          <input class="form-field__input" type="email" #forgotEmailField
                 [(ngModel)]="forgotEmail"
                 name="forgotEmail" required/>
        </div>
      </form>

      <p *ngIf="forgotError" class="signal">{{forgotError}}</p>

      <div class="button-wrapper">
        <button class="button button--primary"
                [disabled]="forgotForm.invalid"
                (click)="retreivePassword()">Send
        </button>
      </div>

    </div>
  </div>
</div>

<div class="container">

  <div class="tile">
    <h3>About Macrolog</h3>

    <p>Macrolog was developed by two software engineers who wanted to get in shape.
      After having used several food tracking applications we got a little tired of
      adds and payed functions that, in our opinion, should be free. So for laughs
      and learning we decided to take it upon ourselves to build a better app.
    </p>
    <p>Macrolog heavily focusses on counting macronutrients instead of counting
      calories. We believe that knowing what your food is made up of and eating
      the right proportions is ultimately healthier and more effective in accomplishing
      your physical goals than tracking just calories. Now, the concept of the "right"
      proportions is somewhat debatable, and what works for one person may not work for
      another. We won't pretend to know much about dieting so during the intake a few
      calculations and suggestions based on mainstream theory will be done, which you
      are entirely free to ignore.</p>
    <p>In the end, we just want to help you measure.</p>
  </div>
</div>
