<div>
	<div class="box">
		<div class="box__logo">
			<img src="../assets/api_logo_pwrdBy_strava_stack_light.png"/>
		</div>
		<div class="box__info" *ngIf="!isConnected()">
			<h4>Get your activities from Strava automatically added to Macrolog!</h4>
			<p>No need to manually add activities when they already have been registered in Strava!</p>
		  <p class="strong--warning" *ngIf="syncError">Unable to proceed with connecting to Strava.
				{{syncError}}</p>
		</div>
		<div class="box__info" *ngIf="isConnected()">
			<div class="box__info--title">You have connected Strava to Macrolog!</div>
			<p>The activities from Strava will be automatically added to Macrolog.</p>
			<div class="box__info--count">Number of activities synced with Strava: {{connected.numberActivitiesSynced}}</div>
		</div>

		<div class="box__connection" *ngIf="!isConnected()">
  		<a href="{{stravaConnectUrl}}">
				<img src="../assets/btn_strava_connectwith_light.png"/>
			</a>

		</div>
		<div class="box__connection" *ngIf="isConnected()">
      <img class="box__connection__profilepic" src="{{connected.image}}"/>
			<p><a target="_blank" href="https://www.strava.com/athletes/{{connected.syncedAccountId}}">{{connected.name}}</a></p>
			<div class="blue-theme button-wrapper">
  			<button mat-stroked-button color="primary" (click)="disconnect('STRAVA')">Disconnect</button>
			</div>
		</div>

	</div>
</div>
