@import "../../../../css/public.scss";

.weightgraph-wrapper {
  @include media-break($md) {
    padding: 0;
  }
  padding-left: 10px;
  padding-right: 10px;
}

.weightgraph {
  @include media-break($md) {
    height: 350px;
  }
  @include media-break($lg) {
    height: 500px;
  }
  width: 100%; 
  height: 250px;
}