<div>
  <div class="tile">
    <div class="form-field form-field--horizontal">
      <label class="form-field__label">Protein</label>
      <span class="form-field__text">{{goalProtein ? goalProtein + ' gram' : ''}}</span>
    </div>

    <div class="form-field form-field--horizontal">
      <label class="form-field__label">Fat</label>
      <span class="form-field__text">{{goalFat ? goalFat + ' gram' : ''}}</span>
    </div>

    <div class="form-field form-field--horizontal">
      <label class="form-field__label">Carbs</label>
      <span class="form-field__text">{{goalCarbs ? goalCarbs + ' gram' : ''}}</span>
    </div>

    <div class="button-wrapper">
      <button class="button button--primary" (click)="openCalcModal()">Adjust intake</button>
    </div>
  </div>
</div>

<div class="modal-wrapper" *ngIf="showCalcModal">
  <calculate-intake-modal (close)="closeCalcModal($event)" [age]="age" [gender]="gender"
                          [height]="height" [weight]="weight" [activity]="activity"
                          [currentProtein]="goalProtein" [currentFat]="goalFat"
                          [currentCarbs]="goalCarbs">
  </calculate-intake-modal>
</div>