<div class="flex justify-between">
	<button
		class="btn btn--icon align-self-start"
		[routerLink]="['..']"
	>
		<fa-icon [icon]="faChevronLeft" />
		Back to plan
	</button>

	<button class="btn btn--primary" type="button" (click)="save()">Save</button>
</div>

@if(mealtime) {
<div class="card flex flex-col gap-4">
	<h1 class="strong">{{mealtime.weekday}} - {{mealtime.meal}}</h1>

	@if (mealtime.ingredients.length > 0) {
	<div class="grid grid-cols-1-1 gap-4">
		<ul>
			@for(ingredient of mealtime.ingredients; track $index; let index = $index) {
			<li>
				<div class="inline-flex items-center gap-4">
					<span> {{ingredient.food.name}} </span>

					<select name="portion" [(ngModel)]="ingredient.portion" [compareWith]="compareId">
						<option [ngValue]="undefined">grams</option>

						@for (portion of ingredient.food.portions; track $index) {
						<option [ngValue]="portion">{{portion.description}}</option>
						}
					</select>

					@if (ingredient.portion) {
					<!-- TODO kijken of dit mooier kan -->
					<input
						name="multiplier"
						value="{{ingredient.multiplier}}"
						type="number"
						(keyup)="changeMultiplier(+$event.target.value, index)"
					/>
					} @else {
					<input
						name="multiplier"
						value="{{ingredient.multiplier * 100}}"
						type="number"
						(keyup)="changeMultiplier(+$event.target.value, index)"
					/>
					}

					<button class="btn btn--icon text--primary">
						<fa-icon [icon]="faTrash" (click)="removeItem($index)" />
					</button>
				</div>
			</li>
			}
		</ul>

		<span> TODO macro totals here </span>
	</div>
	}

	<ml-autocomplete-food
		[includeDishes]="true"
		[placeholder]="'Search food or dishes...'"
		(selected)="selectItem($event)"
	/>
</div>
}
