<div class="toast-holder">
  @for (toast of toasts; track toast; let index = $index) {
    <div class="relative">
      <div class="toast-border" [class.toast-border--error]="toast.isError"></div>
      <div class="toast" [class.toast--error]="toast.isError">
        <div class="flex-col">
          <div class="flex col-gap-1 justify-center">
            <div class="font-bold flex-grow">
              {{ toast.title || 'An error has occurred' }}
            </div>
            <div (click)="closeToast(index)" (keyup.esc)="closeToast(index)">
              <em class="fas fa-times"></em>
            </div>
          </div>
          <div class="flex-grow"> {{ toast.message }} </div>
        </div>
      </div>
    </div>
  }
</div>