@import "../../../css/public.scss";

$menuWidth: 200px;
$menuHeight: 50px;

.about-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: $backgroundGradient;
}

.content {
  @media(min-width: $lg) {
    top: 0;
    padding-top: 150px;
    left: $menuWidth;
  }
  position: fixed;
  top: $menuHeight;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;

  &__about {
    @include center;
    max-width: 800px;
    padding: 0 10px 32px 10px;

    &__title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
