@import "../css/public.scss";

$menuWidth: 200px;

.menu {
  @media(min-width: $md) {
    height: 100px;
  }
  @media (min-width: $lg) {
    background: $whiteVerticalGradient;
    width: $menuWidth;
    height: 100%;
    bottom: 0;
  }
  background: $whiteHorizontalGradient;
  top: 0;
  left: 0;
  color: $white;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 4;

  &__logo {
    @media (min-width: $md) {
      font-size: 72px;
    }
    @media (min-width: $lg) {
      @include center;
      margin-top: 72px;
      font-size: 96px;
      margin-left: 0;
      display: block;
    }
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;
    color: white;
    font-size: 48px;
    font-weight: 900;

    &__text {
      line-height: 1;
      cursor: default;
    }
  }

  &__title {
    @media (min-width: $md) {
      display: inline-block;
    }
    @media (min-width: $lg) {
      @include center;
      margin-bottom: 64px;
      display: block;
    }
    font-size: 16px;
    display: none;
    color: $white;
    cursor: default;
  }

  &__menu-items {
    @media (min-width: $lg) {
      float: none;
      display: block;
      margin: 0;
      position: static;
    }
    margin: 0 0 24px 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__menu-item {
    @media (min-width: $lg) {
      display: block;
      margin: 0 auto 20px auto;
      text-align: center;
      padding: 0;
      width: 100px;
    }
    color: white;
    cursor: pointer;
    display: none;
    font-size: 16px;

    &--mobile {
      @media (min-width: $lg) {
        display: none;
      }
      display: block;
      position: absolute;
      width: 20px;
      margin-top: auto;
      padding: 20px;
      top: 0;
      bottom: 0;
      text-align: center;
      right: 0;
      margin-bottom: auto;
      height: 20px;
    }
  }
}

.small-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    background: $backgroundGradient;
    z-index: 4;
    margin-right: -250px;

    &__item {
      position: relative;
      color: white;
      padding: 15px;
      background: $whiteHorizontalGradient;
      text-align: center; 
      width: 220px;

      &--back {
        text-align: end;
      }   
    }
     &__inline-text {
       display: inline;
     }

     .fas {
       margin-left: 10px;
     }
}

.content {
  @media (min-width: $md) {
    top: 100px;
  }
  @media (min-width: $lg) {
    margin-left: $menuWidth;
    margin-top: 0;
    top: 0;
  }
  margin-top: 15px;
  position: absolute;
  overflow-y: scroll;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}
