<div class="menu" *ngIf="loggedIn()">
  <div class="menu__logo">
    <p class="menu__logo__text">M</p>
  </div>

  <div class="menu__title">
    <p>Macrolog</p>
  </div>

  <div class="menu__menu-items">
    <div class="menu__menu-item" [ngClass]="{'menu__menu-item--active' : router.url === '/log'}" routerLink="/log">
      <div class="header-item__text">Diary</div>
    </div>

    <div class="menu__menu-item" [ngClass]="{'menu__menu-item--active' : router.url === '/food'}" routerLink="/food">
      <div class="header-item__text">Food</div>
    </div>

    <div class="menu__menu-item" [ngClass]="{'menu__menu-item--active' : router.url === '/meals'}" routerLink="/meals">
      <div class="header-item__text">Meals</div>
    </div>

    <div class="menu__menu-item" [ngClass]="{'menu__menu-item--active' : router.url === '/graphs'}"
      routerLink="/graphs">
      <div class="header-item__text">Graphs</div>
    </div>

    <div class="menu__menu-item" [ngClass]="{'menu__menu-item--active' : router.url === '/user'}" routerLink="/user">
      <div class="header-item__text">Profile</div>
    </div>

    <div class="menu__menu-item" *ngIf="isAdmin()" [ngClass]="{'menu__menu-item--active' : router.url === '/admin'}"
      routerLink="/admin">
      <div class="header-item__text">Admin panel</div>
    </div>

    <div class="menu__menu-item" routerLink="/login">
      <div class="header-item__text">Log out</div>
    </div>
  </div>

  <div class="menu__menu-item menu__menu-item menu__menu-item--mobile" (click)="openMenu()">
    <i class="fas fa-bars"></i>
  </div>
</div>

<div #smallMenu [@openClose]="smallMenuOpen ? 'open' : 'closed'" class="small-menu">
  <div matRipple [matRippleColor]="white" class="small-menu__item small-menu__item--back" (click)="closeMenu(title)">
    <i class="fas fa-arrow-right"></i>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/log" (click)="closeMenu(logTitle)">
    <div class="">Diary</div>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/food" (click)="closeMenu(foodTitle)">
    <div class="">Food</div>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/meals" (click)="closeMenu(mealsTitle)">
    <div class="">Meals</div>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/graphs" (click)="closeMenu(graphsTitle)">
    <div class="">Graphs</div>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/user" (click)="closeMenu(settingsTitle)">
    <div class="">Profile</div>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/admin" (click)="closeMenu(adminTitle)">
    <div class="">AdminPanel</div>
  </div>

  <div matRipple [matRippleColor]="white" class="small-menu__item" routerLink="/login" (click)="closeMenu('')">
    <div class="small-menu__inline-text">Log out</div>
    <i class="fas fa-sign-out-alt"></i>
  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div id="loadingOverlay" class="loading-overlay" *ngIf="stillSleeping()">
  <h1>Macrolog</h1>

  <p class="paragraph">The hamsters in the treadmill powering this app are still asleep.</p>

  <p class="paragraph">Please wait while we wake them up...</p>

  <div class="svg-wrapper">
    <img src="../assets/hamster-wheel.svg" alt="hamster-wheel">
  </div>
</div>