@import "../css/public.scss";

$menuHeight: 50px;
$menuWidth: 200px;

.menu {
  @media (min-width: $lg) {
    background: $whiteVerticalGradient;
    width: $menuWidth;
    height: 100%;
    bottom: 0;
  }
  background-image: $whiteHorizontalGradient;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: $menuHeight;
  z-index: 4;

  &__logo {
    @media (min-width: $lg) {
      @include center;
      display: block;
      font-size: 96px;
      margin-top: 72px;
      margin-left: 0;
    }
    color: white;
    display: inline-block;
    font-size: 32px;
    font-weight: 900;
    margin-left: 12px;
    margin-right: 12px;

    &__text {
      cursor: default;
    }
  }

  &__title {
    @media (min-width: $md) {
      color: $white;
      cursor: default;
      display: inline-block;
      font-size: 16px;
    }
    @media (min-width: $lg) {
      @include center;
      display: block;
      margin-bottom: 64px;
    }
    display: none;
  }

  &__menu-items {
    @media (min-width: $lg) {
      float: none;
      display: block;
      margin: 0;
      position: static;
    }
    margin: 0 0 24px 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__menu-item {
    @media (min-width: $lg) {
      display: block;
      margin: 0 auto 20px auto;
      text-align: center;
      padding: 0;
      width: 100px;
    }
    color: white;
    cursor: pointer;
    display: none;
    font-size: 16px;
  }

  &__hamburger {
    @media (min-width: $lg) {
      display: none;
    }
    color: white;
    float: right;
    padding: 15px;

    &__icon {
      height: 16px;
      width: 16px;
    }
  }
}

.small-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  background: $backgroundGradient;
  z-index: 4;
  margin-right: -250px;

  &__item {
    position: relative;
    color: white;
    padding: 15px;
    background: $whiteHorizontalGradient;
    text-align: center;
    width: 220px;

    &--back {
      text-align: end;
    }
  }
  &__inline-text {
    display: inline;
  }

  .fas {
    margin-left: 10px;
  }
}

.content {
  @media(min-width: $md) {
    margin-top: 15px;
  }
  @media (min-width: $lg) {
    margin-left: $menuWidth;
    top: 0;
  }
  position: absolute;
  overflow-y: scroll;
  top: $menuHeight;
  left: 0;
  right: 0;
  bottom: 0;
}
