<!--<h1 mat-dialog-title>Nieuwe entry toevoegen</h1>-->
<!--<div mat-dialog-content>-->

    <!--<form #foodForm="ngForm">-->
        <!--<mat-form-field>-->
            <!--<input matInput placeholder="voedsel item"-->
                   <!--name="foodName"-->
                   <!--required-->
                   <!--[(ngModel)]="model.name" >-->
        <!--</mat-form-field>-->

        <!--<br/>-->
        <!--<mat-radio-group name="radioGroup"-->
                         <!--required-->
                         <!--[(ngModel)]="model.selectedUnit">-->
            <!--<div class="inline-block">-->
                <!--<mat-radio-button [value]="1">100 gram</mat-radio-button>-->
            <!--</div>-->
            <!--<div class="inline-block">-->
                <!--<mat-radio-button [value]="2">custom unit</mat-radio-button>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<div>-->
                    <!--<mat-form-field>-->
                        <!--<input matInput-->
                               <!--[disabled]="model.selectedUnit != 2"-->
                               <!--placeholder="stuk/blik/pot"-->
                               <!--name="unitName"-->
                               <!--required-->
                               <!--[(ngModel)]="model.unitName">-->
                    <!--</mat-form-field>-->
                    <!--<br/>-->
                    <!--<mat-form-field>-->
                        <!--<input matInput-->
                               <!--type="number"-->
                               <!--name="unitGrams"-->
                               <!--[disabled]="model.selectedUnit != 2"-->
                               <!--placeholder="gram (optioneel)"-->
                               <!--[(ngModel)]="model.unitGrams">-->
                    <!--</mat-form-field>-->
                <!--</div>-->
            <!--</div>-->
        <!--</mat-radio-group>-->

        <!--<br/>-->
        <!--<mat-form-field>-->
            <!--<input matInput-->
                   <!--placeholder="protein"-->
                   <!--type="number"-->
                   <!--name="protein"-->
                   <!--required-->
                   <!--[(ngModel)]="model.protein">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
            <!--<input matInput-->
                   <!--placeholder="fat"-->
                   <!--type="number"-->
                   <!--name="fat"-->
                   <!--required-->
                   <!--[(ngModel)]="model.fat">-->
        <!--</mat-form-field>-->
        <!--<mat-form-field>-->
            <!--<input matInput-->
                   <!--placeholder="carbs"-->
                   <!--type="number"-->
                   <!--name="carbs"-->
                   <!--required-->
                   <!--[(ngModel)]="model.carbs">-->
        <!--</mat-form-field>-->

    <!--</form>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
    <!--<button mat-button color="primary" (click)="onClose()">Terug</button>-->
    <!--<button mat-button mat-raised-button color="primary" (click)="onSubmit()"-->
            <!--[disabled]="!foodForm.form.valid">Toevoegen</button>-->
<!--</div>-->