<div class="content">
  <div class="dish-grid dish-grid--empty" *ngIf="allDishes.length === 0">
    <div class="card">
      <p>You havent created any dishes yet!</p>
    </div>
  </div>

  <div class="flex" *ngIf="allDishes.length !== 0">
    <div class="card" *ngFor="let dish of allDishes" (click)="openModal(dish)">
      <div class="content">
        <h1>{{ dish.name }}</h1>

        <div class="dish-card__content__pie-chart">
          <piechart [mealId]="dish.id" [macros]="getTotal(dish)"></piechart>
        </div>

        <div class="flex align-center col-gap-1" *ngFor="let ingredient of dish.ingredients">
          <i class="fas fa-chevron-right"></i>
          <p> {{ getIngredientDescription(ingredient) }} {{ ingredient.food.name }} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-wrapper--floating-action">
  <button class="floating-action-button" (click)="openModal(null)">
    <em class="fas fa-plus"></em>
  </button>
</div>

<div class="modal-wrapper" *ngIf="modalIsVisible">
  <make-dish-modal [selectedDish]="selectedDish" (close)="closeModal($event)"></make-dish-modal>
</div>