@if (allDishes.length === 0) {
<div class="card">
	<p>You havent created any dishes yet!</p>
</div>
} @if (allDishes.length !== 0) {
<div class="flex justify-center gap-4">
	@for (dish of allDishes; track dish) {
	<div class="card flex flex-col gap-4" (click)="openModal(dish)">
		<span class="font-bold">{{ dish.name }}</span>

		<ml-piechart [mealId]="dish.id!" [macros]="getTotal(dish)" />

		<ul>
			@for (ingredient of dish.ingredients; track ingredient) {
			<li>
				{{ getIngredientDescription(ingredient) }}
				{{ ingredient.food.name }}
			</li>
			}
		</ul>
	</div>
	}
</div>
}

<button class="floating-action-button" (click)="openModal(null)">
	<em class="fas fa-plus"></em>
</button>

@if (modalIsVisible) {
<ml-modal [title]="modalTitle" (close$)="closeModal()">
	<form #makeDishForm="ngForm" class="dish-form min-w-500">
		<label for="dishName">Name</label>
		<input
			class="col-span-2"
			[(ngModel)]="selectedDish!.name"
			type="text"
			name="dishName"
			id="dishName"
			required
		/>

		@if (selectedDish!.ingredients!.length > 0) {
		<h1 class="font-semibold text-secondary col-start-1">Ingredients</h1>
		} @for (ingr of selectedDish!.ingredients!; track ingr; let i = $index) {
		<span class="col-start-1">{{ ingr.food.name }}</span>

		<select aria-label="portion" (change)="portionChange(ingr, $event.target)">
			<!-- 100 grams -->
			<option>{{ unitName }}</option>
			<!-- portion amount -->
			@for (portion of ingr.food.portions; track portion) {
			<option
				value="{{ portion.description }}"
				[selected]="portion.id === ingr.portion?.id"
			>
				{{ portion.description }}
			</option>
			}
		</select>

		<input
			aria-label="amount"
			name="ingrAmount"
			type="number"
			[value]="getValue(ingr)"
			(input)="calculateMultiplier($event, ingr)"
			step="{{ getStep(ingr) }}"
			min="0"
		/>

		<button class="btn btn--icon text--primary" (click)="removeIngredient(i)">
			<em class="fas fa-trash"></em>
		</button>
		}

		<h1 class="text-secondary font-semibold col-start-1 col-span-4">
			Add ingredients
		</h1>

		<ml-autocomplete-food
			class="col-start-1 col-span-4"
			[placeholder]="'Search for food'"
			(select$)="addIngredient($event)"
		/>
	</form>

	<div class="flex justify-end gap-4">
		@if (selectedDish) {
		<button type="button" class="btn" (click)="deleteDish()">Delete</button>
		}
		<button
			type="button"
			class="btn btn--primary"
			[disabled]="makeDishForm.invalid"
			(click)="saveDish()"
		>
			Save
		</button>
	</div>
</ml-modal>
}
