@import "./variables";

.button-wrapper {
  display: flex;
  justify-content: flex-end;

  &--floating-action {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 2;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.button {
  padding: 0.5rem 1.5rem;
  color: var(--secondary);
  background-color: white;
  border: 1px solid var(--secondary);
  border-radius: 50px;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Assistant", sans-serif;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &--primary {
    color: white;
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    border: none;
  }

  &--warning {
    color: white;
    background-image: linear-gradient(to right, orange, red);
    border: none;
  }

  &--white {
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }

  &--large {
    padding: 15px 30px;
    font-size: 1.125rem;
  }
}

.button-icon {
  padding-left: 10px;
}

.is-wide {
  width: 100%;
}

.floating-action-button {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: white;
  border: none;
  border-radius: 50px;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.icon-button {
  color: var(--primary);
  border: none;
  width: 3rem;
  height: 3rem;
  margin: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}
