@import "./variables";

.button-wrapper {
  display: flex;
  justify-content: flex-end;

  &--floating-action {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 2;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.button {
  padding: 10px 30px;
  color: $primary;
  background-color: white;
  border: 1px solid $primary;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  font-size: 1rem;
  font-family: "Assistant", sans-serif;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &--primary {
    color: white;
    background-image: linear-gradient(to right, $primary, $secondary);
    border: none;
  }

  &--warning {
    color: white;
    background-image: linear-gradient(to right, orange, red);
    border: none;
  }

  &--white {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
  }

  &--large {
    padding: 15px 30px;
    font-size: 1.125rem;
  }
}

.button-icon {
  padding-left: 10px;
}

.is-wide {
  width: 100%;
}

.is-white {
  color: white;
}

.floating-action-button {
  background-color: $primary;
  color: white;
  border: none;
  border-radius: 50px;
  height: 55px;
  width: 55px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.icon-button {
  color: $primary;
  border: none;
  background: none;
}
