// adding padding, bordered white background and dropshadow
.card {
  @media (min-width: $sm) {
    padding: 2rem;
  }

	background-color: white;
	border-radius: 0.5rem;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}
