.container {
  @media (min-width: $sm) {   
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 100%;
  }
  
  @media (min-width: $md) {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: $lg) {
    max-width: 60rem;
  }
  
  @media (min-width: $xl) {
    max-width: 72rem;
  }

  max-width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom:2rem;
}
