.food-table {
  @media (min-width: $phone) {
    font-size: 16px;
  }

  font-size: 14px;
  margin-bottom: $gutter;
}

.table-header {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  color: $white;
  padding: 10px;
  background-color: $primary;

  &__name {
    flex-basis: 50%;
    flex-grow: 1;
  }

  &__amount {
    @media (min-width: $phone) {
      flex-basis: 10%;
    }
    flex-basis: 20%;
  }

  &__protein {
    @media (min-width: $phone) {
      display: flex;
    }
    flex-basis: 10%;
    display: none;
    justify-content: center;

    &--mobile {
      @media (min-width: $phone) {
        display: none;
      }
      display: flex;
      flex-basis: 10%;
      justify-content: center;
    }

    &--percent {
      flex-basis: 15%;
    }
  }

  &__fat {
    @media (min-width: $phone) {
      display: flex;
    }
    flex-basis: 10%;
    display: none;
    justify-content: center;

    &--mobile {
      @media (min-width: $phone) {
        display: none;
      }
      display: flex;
      flex-basis: 10%;
      justify-content: center;
    }

    &--percent {
      flex-basis: 15%;
    }
  }

  &__carbs {
    @media (min-width: $phone) {
      display: flex;
    }
    flex-basis: 10%;
    display: none;
    justify-content: center;

    &--mobile {
      @media (min-width: $phone) {
        display: none;
      }
      display: flex;
      flex-basis: 10%;
      justify-content: center;
    }

    &--percent {
      flex-basis: 15%;
    }
  }
}

.food {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-top: 1px solid $smoke;

  &__name {
    flex-basis: 50%;
    flex-grow: 1;
  }

  &__amount {
    @media (min-width: $phone) {
      flex-basis: 10%;
    }
    flex-basis: 20%;
  }

  &__protein {
    flex-basis: 10%;
    text-align: right;

    &--percent {
      flex-basis: 15%;
    }
  }

  &__fat {
    flex-basis: 10%;
    text-align: right;

    &--percent {
      flex-basis: 15%;
    }
  }

  &__carbs {
    flex-basis: 10%;
    text-align: right;

    &--percent {
      flex-basis: 15%;
    }
  }
  
  &:hover {
    border-top: 1px solid $smoke;
    background-color: $cloud;
  }
}

.portion {
  display: flex;
  padding: 5px;

  &__description {
    flex-basis: 50%;
    flex-grow: 1;

    &--padded {
      padding-left: 20px;
    }
  }

  &__amount {
    @media (min-width: $phone) {
      flex-basis: 10%;
    }
    flex-basis: 20%;
  }

  &__protein {
    flex-basis: 10%;
    text-align: right;
  }

  &__fat {
    flex-basis: 10%;
    text-align: right;
  }

  &__carbs {
    flex-basis: 10%;
    text-align: right;
  }
}

.foodline {
  &:hover {
    background-color: $mist;
    cursor: pointer;
  }
}
