// like content but with flex
.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.form-field {
  @media (min-width: $xs) {
    flex-direction: row;
    align-items: center;
  }

  display: flex;
  column-gap: 1rem;
  flex-direction: column;

  &__label,
  label {
    flex: 2;
  }

  input,
  select {
    flex: 4;
  }

  &__radio-group {
    flex: 4;
    display: flex;
    column-gap: 1rem;
  }
}

.form--vertical {
  .form-field {
    display: flex;
    column-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
}
