.loading-overlay {
	align-items: center;
	background-image: $backgroundGradient;
	box-sizing: border-box;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	text-align: center;
	padding: 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}
