table, .table {
  width: 100%;
}
th {
  font-weight: 600;
}
th, td, .table-cell {
  padding: 0.5rem;
}

tr, .table-row {
  border-bottom: 1px solid var(--lightBlue);

  &:hover {
    background-color: var(--lightBlue);
  }
}
.table-header {
  background-color: var(--mist);
  border-bottom: none;
  font-weight: 600;
}
