.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  cursor: pointer;
}

.tabs-header {
  display: flex;
  flex-direction: row;
}

.tabs-content {
  @media (min-width: $xs) {
    padding: 2rem;
  }
  border: 1px solid $smoke;
  padding: 1rem;
}

.tab {
  background-color: $smoke;
  border-right: 1px solid $platinum;
  padding: 1rem;
  font-weight: 400;
  flex-grow: 1;
  text-align: center;

  &--active {
    background-color: $primary;
    border: 0;
    color: $white;
  }

  &:first-child {
    border-radius: 5px 0 0 0;
  }

  &:last-child {
    border-radius: 0 5px 0 0;
    border-right: 0;
  }
}
