.btn {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 24px;
  padding: 8px 24px;
}

.btn--primary {
  color: white;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border: none;
}

.btn--warning {
  color: white;
  background-image: linear-gradient(to right, orange, red);
  border: none;
}

.btn--white {
  color: white;
  background-color: transparent;
  border: 1px solid white;
}

.btn--icon {
  color: var(--primary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn--large {
  padding: 16px 32px;
  font-size: 20px;
}

.floating-action-button {
  color: white;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 28px;
  height: 56px;
  width: 56px;
  position: fixed;
  bottom: 24px;
  right: 24px;
}