.card {
  background-color: var(--card-background);
	border-radius: 0;
  box-shadow: var(--boxShadow);
  padding: 8px;
  
  @media (min-width: 448px) {
    padding: 32px;
    border-radius: 8px;
  }
}
