.container {
  @media (min-width: 640px) {   
    margin-right: 2rem;
    margin-left: 2rem;
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 1024px) {
    max-width: 60rem;
  }
  
  @media (min-width: 1536px) {
    max-width: 72rem;
  }

  max-width: 100%;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom:2rem;
}
