input {
  background-color: var(--white);
  border: 1px solid var(--smoke);
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  color: var(--storm);

  &::placeholder {
    color: var(--platinum);
  }

  &.ng-touched.ng-invalid {
    border-color: var(--error);
  }
}

input[type="checkbox"] {
  width: auto;
  height: auto;
}

input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #2196f3;
  border-radius: 8px;
  display: grid;
  place-content: center;
  padding: 0;
}

input[type="radio"]:checked::before {
  content: "";
  border: 4px solid #2196f3;
  border-radius: 4px;
}