select {
  background-color: var(--white);
	border: 1px solid var(--smoke);
	border-radius: 5px;
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
	font-size: 16px;
	padding: 9px;
	margin-top: -1px;
	width: 100%;
	height: 42px;

  &.ng-touched.ng-invalid {
    border-color: var(--error);
  }
}


select:focus {
  outline: none;
  border: 1px solid var(--secondary) !important;
}