.subnav {
  border-bottom: 1px solid var(--subnav-border);
  margin-bottom: 15px;
}

.subnav__item {
  border-bottom: 2px solid transparent;
  display: inline-block;
  padding: 15px;

  &:hover {
    cursor: pointer;
    color: var(--subnav-item-hover-color);
    border-bottom: 2px solid var(--subnav-border);
  }
}

.subnav__item--active {
  color: var(--subnav-item-active-color);
  border-bottom: 2px solid var(--subnav-item-active-color);
}