table {
  width: 100%;
}

thead {
  background-color: var(--table-header-background);
  border-bottom: none;
  font-weight: 600;
}

thead tr {
  &:hover {
    background-color: inherit;
  }
}

th {
  font-weight: 600;
  text-align: start;
}

th,
td {
  padding: 8px;
}

tr {
  border-bottom: 1px solid var(--table-border);

  &:hover {
    background-color: var(--table-hover);
  }
}
