body.theme--dark {
  color: white;
  background-color: #1a1a1a;

  a,
  .icon-button {
    color: var(--secondary);
  }
  .download-button {
    color: white;
  }

  .navbar {
    &__mobile-menu {
      background-color: #282828;
    }
    color: #cccccc;
    background-color: #282828;
    box-shadow: $boxShadowDark, $boxShadowWideDark;
  }

  .page {
    background-color: #1a1a1a;
  }

  .card {
    background-color: #282828;
    box-shadow: $boxShadowDark;
  }

  .subnav {
    border-bottom-color: var(--secondary);
    &__item:hover {
      border-bottom-color: var(--secondary);
    }
  }

  input {
    color: white;
    background-color: #1a1a1a;
    border: 1px solid var(--secondary);
  }

  select {
    color: white;
    background-color: #1a1a1a;
    border: 1px solid var(--secondary);
  }

  .bargraph {
    color: white;
  }

  .log-meal,
  .activity {
    border-bottom-color: #000000;
  }
  .selectable {
    &:hover {
      background-color: var(--storm);
    }
  }

  .modal {
    background-color: #282828;
  }

  .autocomplete {
    box-shadow: $boxShadowDark;
  }
  .autocomplete__option {
    background-color: #282828;
    &:focus {
      background-color: #1a1a1a;
    }
  }

  .table-header {
    background-color: #1a1a1a;
  }

  .table-row,
  tr {
    border-bottom-color: #000000;
    &:hover {
      background-color: #1a1a1a;
    }
  }

  .date {
    background-color: var(--secondary);
  }

  .picker {
    background-color: #282828;
    box-shadow: $boxShadowDark;
    &__button {
      background-color: var(--secondary);
    }
    &__day:hover {
      background-color: #1a1a1a;
    }
  }
  
  .donut-chart::after {
    background-color: #1a1a1a;
    color: white;
  }
  
  .linegraph,
  .bargraph {
    .axes {
      .y-axis {
        border-right-color: white;
      }
      .x-axis {
        border-top-color: white;
      }
    }
  }
  .stackdonut {
    &__circle {
      stroke: #1a1a1a;
      &--inner,
      &--outer {
        stroke: var(--secondary);
      }
    }
  }
  
  .toast {
    background-color: #282828;
    color: white;
  }
}
