.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-col {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

.self-end {
  justify-self: end;
}

.align-self-center {
  align-self: center;
}
.align-self-start {
  align-self: start;
}
.align-self-end {
  align-self: end;
}

.grid {
  display: grid;
}
.grid-cols-1-1 {
  grid-template-columns: 1fr 1fr;
}
.grid-cols-auto-1 {
  grid-template-columns: auto 1fr;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}
.gap-6 {
  gap: 24px;
}
.gap-8 {
  gap: 32px;
}

.m-1 {
  margin: 4px;
}
.m-2 {
  margin: 4px;
}
.m-4 {
  margin: 16px;
}

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 12px;
}
.p-4 {
  padding: 16px;
}

.text-sm {
  font-size: 0.8rem;
}
.text-md {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.25rem;
}
.text-xl {
  font-size: 1.5rem;
}

.text-white {
  color: var(--white);
}
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.text-error {
  color: var(--error);
}

.font-semibold {
  font-weight: 600;
}
.font-bold,
.strong {
  font-weight: 700;
}

.overflow-hidden {
  overflow: hidden;
  overflow-wrap: break-word;
}

.pointer {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}