.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}


.self-center {
  align-self: center;
}

.self-end {
  justify-self: end;
}

.align-self-end {
  align-self: end;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 4px;
}

.m-4 {
  margin: 16px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}


.p-1 {
  padding: 4px;
}

.p-2 {
  padding: 8px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}


.text-sm {
  font-size: 0.8rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-white {
  color: var(--white);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.font-semibold {
  font-weight: 600;
}

.font-bold,
.strong {
  font-weight: 700;
}

.overflow-hidden {
  overflow: hidden;
  overflow-wrap: break-word;
}

.pointer {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}