// Greyscale
$black: #000000;
$coal: #191919;
$storm: #333333;
$concrete: #4c4c4c;
$iron: #666666;
$grey: #7f7f7f;
$silver: #999999;
$platinum: #b2b2b2;
$smoke: #e5e5e5;
$mist: #f1f1f1;
$cloud: #f8f8f8;
$ghost: #fbfbfb;
$white: #ffffff;

$primary: #3f51b5;
$primaryDark: #283593;
$secondary: #2196f3;
$lightIndigo: #e8eaf6;
$warning: #ff9800; 
$error: #dd3f00;

$transparent: #ffffffff;

// Gradients
$backgroundGradient: linear-gradient(to bottom, $primary, $secondary);

// New breakpoints
$xs: 448px; // 28rem
$sm: 640px; // 40rem
$md: 768px; // 48rem
$lg: 1024px; // 64rem
$xl: 1280px; // 80rem
$xxl: 1536px; // 96rem 

li::marker {
  color: $secondary;
}

.xs-only {
  @media (min-width: $xs) {
    display: none
  }
}
.xs {
  @media (max-width: ($xs - 1)) {
    display: none;
  }
}
.sm-only {
  @media (min-width: $sm) {
    display: none
  }
}
.sm {
  @media (max-width: ($sm - 1)) {
    display: none;
  }
}