$boxShadow: 0 0 5px rgb(183, 193, 206);
$boxShadowDark: 0 0 5px rgb(0, 0, 0);
$boxShadowWide: 0 0 20px rgb(183, 193, 206);
$boxShadowWideDark: 0 0 20px rgb(0, 0, 0);

// New breakpoints
$xs: 448px; // 28rem
$sm: 640px; // 40rem
$md: 768px; // 48rem
$lg: 1024px; // 64rem
$xl: 1280px; // 80rem
$xxl: 1536px; // 96rem

li::marker {
  color: var(--secondary);
}

.xs-only {
  @media (min-width: $xs) {
    display: none;
  }
}
.xs {
  @media (max-width: ($xs - 1)) {
    display: none;
  }
}
.sm-only {
  @media (min-width: $sm) {
    display: none;
  }
}
.sm {
  @media (max-width: ($sm - 1)) {
    display: none;
  }
}
.lg-only {
  @media (min-width: $lg) {
    display: none;
  }
}
.lg {
  @media (max-width: ($lg - 1)) {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
