<div class=" modal">
  <div class="modal__header">
    <h3 class="modal__header__title">{{title}}</h3>

    <button class="icon-button is-white" (click)="closeModal()">
      <mat-icon class="is-white">close</mat-icon>
    </button>
  </div>

  <div class="modal__content">
    <form #saveFoodForm="ngForm">
      <div class="form-field">
        <label class="form-field__label">Food</label>
        <div class="form-field__element">
          <input class="input" [(ngModel)]="name" #foodField name="name" placeholder="e.g. 'Pasta', 'Apple'" required>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Protein</label>
        <div class="form-field__element">
          <input class="input" #proteinField [(ngModel)]="protein" value="protein" name="protein" type="number"
            placeholder="0.0" step="0.1" required>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Fat</label>
        <div class="form-field__element">
          <input class="input" #fatField [(ngModel)]="fat" name="fat" type="number" placeholder="0.0" step="0.1"
            required>
        </div>
      </div>

      <div class="form-field">
        <label class="form-field__label">Carbs</label>
        <div class="form-field__element">
          <input class="input" #carbsField [(ngModel)]="carbs" name="carbs" type="number" placeholder="0.0" step="0.1"
            required>
        </div>
      </div>

      <label class="modal__label">Frequently used portions (optional)</label>

      <div class="modal__portions" *ngFor="let port of portions; index as i">
        <div class="form-field">
          <label class="form-field__label">Description</label>
          <input class="input" [(ngModel)]="port.description" name="portionDesc_{{i}}" type="text"
            placeholder="e.g. 'Breakfast', 'Plate'" required>
        </div>

        <div class="form-field">
          <label class="form-field__label">Grams</label>
          <input class="input" [(ngModel)]="port.grams" placeholder="0,0" name="portionGrams_{{i}}" type="number"
            step="1" required>
        </div>

        <button class="icon-button" (click)="removePortion(i)" *ngIf="isNewPortion(port)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>

      <div class="button-wrapper button-wrapper--left">
        <button class="icon-button" (click)="addNewPortion()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="modal__button-wrapper">
        <button class="button" (click)="closeModal()">Cancel</button>
        <button class="button button--primary" (click)="saveFood()" [disabled]="saveFoodForm.invalid">Save</button>
      </div>
    </form>
  </div>

</div>