<div class="card flex flex-col gap-4">
  @if (loading) {
  <ml-spinner />
  } @else {
  <ml-period-picker [dateFrom]="dateFrom" [dateTo]="dateTo" (dateToChange)="changeDateTo($event)"
  (dateFromChange)="changeDateFrom($event)" />

  <div class="flex gap-4">
    <div class="flex flex-col gap-2">
      <span class="font-semibold">Measurement</span>

      <div class="flex items-center gap-1" (click)="switchMeasurement('calories')">
        <input type="radio" id="grams" [(ngModel)]="measurement" value="calories" />
        <label for="grams">Calories</label>
      </div>

      <div class="flex items-center gap-1" (click)="switchMeasurement('grams')">
        <input type="radio" id="percentage" [(ngModel)]="measurement" value="grams" />
        <label for="percentage">Grams</label>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <span class="font-semibold">Option</span>

      <div class="flex items-center gap-1" (click)="switchOption('total')">
        <input type="radio" id="total" [(ngModel)]="measurementOption" value="total" />
        <label for="total">Total</label>
      </div>

      <div class="flex items-center gap-1" (click)="switchOption('splitted')">
        <input type="radio" id="splitted" [(ngModel)]="measurementOption" value="splitted" />
        <label for="splitted">Split per macro</label>
      </div>

      <div class="flex items-center gap-1" (click)="switchOption('ratio')">
        <input type="radio" id="ratio" [(ngModel)]="measurementOption" value="ratio" />
        <label for="ratio">Ratio</label>
      </div>
    </div>
  </div>

  @if (measurementOption === 'total') {
  <div class="graph__bargraph-container">
    <span class="font-semibold">{{ graphLabel }}</span>

    <ml-bargraph [colors]="[
				'rgb(100, 149, 236)',
				'rgb(60, 221, 234)',
				'rgb(144, 238, 144)'
			]" [fillColors]="[
				'rgba(100, 149, 236, 0.3)',
				'rgba(60, 221, 234, 0.3)',
				'rgba(144, 238, 144, 0.3)'
			]" [markers]="markers" [datasets]="[proteinDataset, fatDataset, carbsDataset]" [xAxisStep]="1"
      [yAxisStep]="yAxisStep" [height]="500" class="graph__bargraph" />
  </div>
  } @if (measurementOption === 'splitted') {
  <div class="graph__bargraph-container">
    <span class="font-semibold">
      {{ proteinGraphLabel }}
    </span>

    <ml-bargraph [colors]="['rgb(100, 149, 236)']" [fillColors]="['rgba(100, 149, 236, 0.3)']"
      [markers]="proteinMarker ? [proteinMarker] : []" [datasets]="[proteinDataset]" [xAxisStep]="1"
      [yAxisStep]="yAxisStep" [height]="200" class="graph__bargraph" />
  </div>
  } @if (measurementOption === 'splitted') {
  <div class="graph__bargraph-container">
    <span class="font-semibold">
      {{ fatGraphLabel }}
    </span>

    <ml-bargraph [colors]="['rgb(60, 221, 234)']" [fillColors]="['rgba(60, 221, 234, 0.3)']"
      [markers]="fatMarker ? [fatMarker] : []" [datasets]="[fatDataset]" [xAxisStep]="1"
      [yAxisStep]="yAxisStep" [height]="200" class="graph__bargraph" />
  </div>
  } @if (measurementOption === 'splitted') {
  <div class="graph__bargraph-container">
    <span class="font-semibold">
      {{ carbsGraphLabel }}
    </span>

    <ml-bargraph [colors]="['rgb(144, 238, 144)']" [fillColors]="['rgba(144, 238, 144, 0.3)']"
      [markers]="carbsMarker ? [carbsMarker] : []" [datasets]="[carbsDataset]" [xAxisStep]="1"
      [yAxisStep]="yAxisStep" [height]="200" class="graph__bargraph" />
  </div>
  } @if (measurementOption === 'ratio') {
  <div class="graph__bargraph-container">
    <span class="font-semibold">
      {{ ratioGraphLabel }}
    </span>

    <ml-bargraph [colors]="[
				'rgb(100, 149, 236)',
				'rgb(60, 221, 234)',
				'rgb(144, 238, 144)'
			]" [fillColors]="[
				'rgba(100, 149, 236, 0.3)',
				'rgba(60, 221, 234, 0.3)',
				'rgba(144, 238, 144, 0.3)'
			]" [markers]="ratioMarkers"
      [datasets]="[proteinRatioDataset, fatRatioDataset, carbsRatioDataset]" [xAxisStep]="1"
      [yAxisStep]="10" [height]="500" class="graph__bargraph" />
  </div>
  } }
</div>