@import "../../../../css/variables.scss";

.graph {
  display: flex;
  flex-direction: column;

  &__wrapper {
    @media (min-width: $lg) {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
  }

  &__spinner-wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
  }

  &__graphs-container {
    @media (min-width: $lg) {
      width: auto;
      margin: 15px;
    }
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;
  }

  &__bargraph-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
  }

  &__bargraph {
    height: 350px;
    width: 100%;
    &--stacked {
      height: 500px;
    }
    &--protein {
      height: 200px;
    }
    &--fat {
      height: 200px;
    }
    &--carbs {
      height: 200px;
    }
  }

  &__options {
    @media (min-width: $lg) {
      flex-direction: column;
      row-gap: 1rem;
    }
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    flex-wrap: wrap;
    column-gap: 3rem;

    &__group {
      @media (min-width: $lg) {
        flex-direction: column;
        align-items: flex-start;
      }
      display: flex;
      column-gap: 1rem;
      flex-direction: column;
    }

    &__option {
      @media (min-width: $lg) {
        margin-bottom: 15px;
      }
      display: flex;
      flex-direction: column;
    }
  }
}

.month-picker {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
