<div class="content">
  <div class="card">
    <div class="graph">
      <div *ngIf="loading" class="graph__spinner-wrapper">
        <div class="spinner">
          <em class="fas fa-spinner"></em>
        </div>
      </div>

      <div class="month-picker" *ngIf="!loading">
        <button class="icon-button" [disabled]="loading" (click)="monthBack()">
          <em class="fas fa-chevron-left"></em>
        </button>

        <div class="month-picker__datelabel">{{dateFrom | date:'dd MMMM yyyy'}} -
          {{dateTo | date:'dd MMMM yyyy'}}
        </div>

        <button class="icon-button" [disabled]="loading" (click)="monthForward()">
          <em class="fas fa-chevron-right"></em>
        </button>
      </div>

      <div class="graph__wrapper content">
        <div class="graph__options">
          <div class="graph__options__group">
            <div class="font-semibold">Measurement</div>

            <div class="flex align-center" (click)="switchMeasurement('calories')">
              <input type="radio" id="grams" [(ngModel)]="measurement" value="calories">
              <label for="grams">Calories</label>
            </div>

            <div class="flex align-center" (click)="switchMeasurement('grams')">
              <input type="radio" id="percentage" [(ngModel)]="measurement" value="grams">
              <label for="percentage">Grams</label>
            </div>
          </div>

          <div class="graph__options__group">
            <div class="font-semibold">Option</div>

            <div class="flex align-center" (click)="switchOption('total')">
              <input type="radio" id="total" [(ngModel)]="measurementOption" value="total">
              <label for="total">Total</label>
            </div>

            <div class="flex align-center" (click)="switchOption('splitted')">
              <input type="radio" id="splitted" [(ngModel)]="measurementOption" value="splitted">
              <label for="splitted">Split per macro</label>
            </div>

            <div class="flex align-center" (click)="switchOption('ratio')">
              <input type="radio" id="ratio" [(ngModel)]="measurementOption" value="ratio">
              <label for="ratio">Ratio</label>
            </div>
          </div>
        </div>

        <div *ngIf="!loading" class="graph__graphs-container">
          <div class="graph__bargraph-container" *ngIf="measurementOption === 'total'">
            <div class="font-semibold"> {{graphLabel}} </div>

            <ml-bargraph
              [colors]="['rgb(100, 149, 236)', 'rgb(60, 221, 234)', 'rgb(144, 238, 144)']"
              [fillColors]="['rgba(100, 149, 236, 0.3)', 'rgba(60, 221, 234, 0.3)', 'rgba(144, 238, 144, 0.3)']"
              [markers]="markers" [datasets]="[proteinDataset, fatDataset, carbsDataset]"
              [xAxisStep]="1" [yAxisStep]="yAxisStep"
              class="graph__bargraph graph__bargraph--stacked">
            </ml-bargraph>
          </div>

          <div class="graph__bargraph-container" *ngIf="measurementOption === 'splitted'">
            <div class="font-semibold">
              {{proteinGraphLabel}}
            </div>

            <ml-bargraph [colors]="['rgb(100, 149, 236)']"
              [fillColors]="['rgba(100, 149, 236, 0.3)']" [markers]="[proteinMarker]"
              [datasets]="[proteinDataset]" [xAxisStep]="1" [yAxisStep]="yAxisStep"
              class="graph__bargraph graph__bargraph--protein">
            </ml-bargraph>
          </div>

          <div class="graph__bargraph-container" *ngIf="measurementOption === 'splitted'">
            <div class="font-semibold">
              {{fatGraphLabel}}
            </div>

            <ml-bargraph [colors]="['rgb(60, 221, 234)']" [fillColors]="['rgba(60, 221, 234, 0.3)']"
              [markers]="[fatMarker]" [datasets]="[fatDataset]" [xAxisStep]="1"
              [yAxisStep]="yAxisStep" class="graph__bargraph graph__bargraph--fat">
            </ml-bargraph>
          </div>

          <div class="graph__bargraph-container" *ngIf="measurementOption === 'splitted'">
            <div class="font-semibold">
              {{carbsGraphLabel}}
            </div>

            <ml-bargraph [colors]="['rgb(144, 238, 144)']"
              [fillColors]="['rgba(144, 238, 144, 0.3)']" [markers]="[carbsMarker]"
              [datasets]="[carbsDataset]" [xAxisStep]="1" [yAxisStep]="yAxisStep"
              class="graph__bargraph graph__bargraph--carbs">
            </ml-bargraph>
          </div>

          <div class="graph__bargraph-container" *ngIf="measurementOption === 'ratio'">
            <div class="font-semibold">
              {{ratioGraphLabel}}
            </div>

            <ml-bargraph
              [colors]="['rgb(100, 149, 236)', 'rgb(60, 221, 234)', 'rgb(144, 238, 144)']"
              [fillColors]="['rgba(100, 149, 236, 0.3)', 'rgba(60, 221, 234, 0.3)', 'rgba(144, 238, 144, 0.3)']"
              [markers]="ratioMarkers"
              [datasets]="[proteinRatioDataset, fatRatioDataset, carbsRatioDataset]" [xAxisStep]="1"
              [yAxisStep]="10" class="graph__bargraph graph__bargraph--stacked">
            </ml-bargraph>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>