.subnav {
	border-bottom: 1px solid var(--smoke);
	margin-bottom: 15px;
}

.subnav__item {
	border-bottom: 2px solid transparent;
	display: inline-block;
	padding: 15px;
	cursor: pointer;

	&:hover {
		@media (min-width: 448px) {
			border-bottom: 2px solid var(--smoke);
		}
	}
}

.subnav__item--active {
	color: var(--primary);
	border-bottom: 2px solid var(--primary);
}
