<div class="about full-height-view">

  <app-navigation></app-navigation>

  <div class="full-height flex-col align-center text-center">
    <div class="content flex-col align-center">

      <h3 class="title">About Macrolog</h3>

      <p>
        Macrolog was developed by two software engineers who wanted to get in shape.
        After using several food tracking applications we got a little tired of
        adds and payed functions which, in our opinion, should be free. So for laughs
        and learning we decided to take it upon ourselves to build a better app.
      </p>

      <p>
        Macrolog heavily focusses on counting macronutrients instead of counting
        calories. We believe that it is healthier and more effective to exactly know what you are
        eating.
        This will better help you in accomplishing your pysical goals than just tracking calories.
        Now, the concept of the "right" proportions is somewhat debatable, and what works for one
        person may not work
        for
        another. We won't pretend to know much about dieting, so during the intake a few
        calculations and suggestions based on mainstream theory will be done. These suggestion
        are entirely free to ignore. </p>

      <p>In the end, we just want to help you measure.</p>
    </div>
  </div>
</div>