@import "../../../../css/variables.scss";

.page {
  min-height: 100vh;
  background: $backgroundGradient;
  color: white;
}

.content {
  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  margin: 1rem;
  margin-top: 4rem;
  max-width: $sm;
}
