<div class="container container--first container--last">
	<div class="tile">
		<div class="graph blue-theme">
			<div *ngIf="loading" class="graph__spinner-wrapper blue-theme">
				<mat-spinner diameter="75"></mat-spinner>
			</div>

			<div class="graph__month-picker" *ngIf="!loading">
				<button mat-icon-button color="primary" [disabled]="loading" (click)="monthBack()">
					<mat-icon>chevron_left</mat-icon>
				</button>

				<div class="graph__month-picker__datelabel">{{dateFrom | date:'dd MMMM yyyy'}} -
					{{dateTo | date:'dd MMMM yyyy'}}
				</div>

				<button mat-icon-button color="primary" [disabled]="loading" (click)="monthForward()">
					<mat-icon>chevron_right</mat-icon>
				</button>
			</div>

			<div *ngIf="!loading" class="graph__svg-container">
				<svg #macroSvg [attr.width]="getSVGWidth()" class="graph__svg graph__svg--macros">
					<g *ngFor="let d of logBars; let i = index" (mouseover)="showMacros(d)">
						<text [attr.x]="marginLeft + (barWidth * i) + 4" [attr.y]="macroSvgHeight - graphLegenda + 15"
							[attr.fill]="d.c">
							<tspan fill="#666666" style="font-size: 12px;" [attr.width]="barWidth">{{d.day | date:'dd'}}</tspan>
						</text>

						<rect [attr.x]="marginLeft + i * barWidth" [attr.width]="barWidth" [attr.y]="getYPosProtein(d)"
							[attr.height]="getHeightProtein(d)"
							style="fill: rgba(144, 238, 144, 0.3); stroke: lightgreen; stroke-width: 1" />

						<rect [attr.x]="marginLeft + i * barWidth" [attr.width]="barWidth" [attr.y]="getYPosFat(d)"
							[attr.height]="getHeightFat(d)"
							style="fill: rgba(60, 221, 234, 0.3); stroke: rgb(60, 221, 234); stroke-width: 1" />

						<rect [attr.x]="marginLeft + i * barWidth" [attr.width]="barWidth" [attr.y]="getYPosCarbs(d)"
							[attr.height]="getHeightCarbs(d)"
							style="fill: rgba(100, 149, 236, 0.3); stroke: cornflowerblue; stroke-width: 1" />
					</g>
					
					<g>
						<text x="0" [attr.y]="getGoalProteinPos()-2" fill="#666666">P
							{{getGoal('protein') | number:'1.1-1'}}</text>
						<line x1="0" [attr.y1]="getGoalProteinPos()" [attr.x2]="marginLeft + logBars.length * barWidth"
							[attr.y2]="getGoalProteinPos()" style="stroke:#999999; stroke-width: 1" />

						<text x="0" [attr.y]="getGoalFatPos()-2" fill="#666666">F
							{{getGoal('fat') | number:'1.1-1'}}</text>
						<line x1="0" [attr.y1]="getGoalFatPos()" [attr.x2]="marginLeft + logBars.length * barWidth"
							[attr.y2]="getGoalFatPos()" style="stroke:#999999; stroke-width: 1" />

						<text x="0" [attr.y]="getGoalCarbsPos()-2" fill="#666666">C
							{{getGoal('carbs') | number:'1.1-1'}}</text>
						<line x1="0" [attr.y1]="getGoalCarbsPos()" [attr.x2]="marginLeft + logBars.length * barWidth"
							[attr.y2]="getGoalCarbsPos()" style="stroke:#999999; stroke-width: 1" />
					</g>
				</svg>

				<svg #calorieSvg [attr.width]="getSVGWidth()" class="graph__svg graph__svg--calories">
					<g *ngFor="let d of logBars; let i = index" (mouseover)="showMacros(d)">
						<text [attr.x]="marginLeft + (barWidth * i) + 4" [attr.y]="calorieSvgHeight - graphLegenda + 15"
							[attr.fill]="d.c">
							<tspan fill="#666666" style="font-size: 12px" [attr.width]="barWidth">{{d.day | date:'dd'}} </tspan>
						</text>

						<rect [attr.x]="marginLeft + i * barWidth" [attr.width]="barWidth" [attr.y]="getYPosCalories(d)"
							[attr.height]="getHeightCalories(d)"
							style="fill: rgba(0, 197, 255, 0.3); stroke:rgb(0, 197, 255); stroke-width: 1" />
					</g>

					<text x="0" [attr.y]="getGoalCaloriesPos()-2" fill="#666666">Kcal
						{{getGoalCalories() | number:'1.0'}}</text>

					<line x1="0" [attr.y1]="getGoalCaloriesPos()" [attr.x2]="marginLeft + logBars.length * barWidth"
						[attr.y2]="getGoalCaloriesPos()" style="stroke:#999999; stroke-width: 1" />
				</svg>
			</div>

			<div *ngIf="!loading" class="graph__options">
				<div class="graph__options__option">
					<input class="input" id=splittedOption type="checkbox" (change)="calculateZoom()" [(ngModel)]="splitted">

					<label class="graph__options__option__label"> Split bars</label>
				</div>

				<div class="graph__options__option">
					<input class="input" id=percentageOption type="checkbox" (change)="calculateZoom()" [(ngModel)]="percentages">

					<label class="graph__options__option__label">Show percentages</label>
				</div>
			</div>
		</div>
	</div>
</div>