<form #personalForm="ngForm" class="flex flex-col gap-4">
  <h1 class="font-semibold">Personal information</h1>

  <div class="grid grid-cols-auto-1 gap-4 items-center">
    <label for="name">Name</label>
    <input required type="text" [(ngModel)]="name" name="name">

    <label for="birthday">Date of birth</label>
    <input required validDate placeholder="DD-MM-YYYY" name="birthday" [(ngModel)]="birthday">

    <span>Gender</span>

    <div class="flex gap-2 items-center">
      <input type="radio" id="male" [(ngModel)]="gender" value="MALE" name="gender">
      <label for="male">Male</label>

      <input type="radio" id="female" [(ngModel)]="gender" value="FEMALE" name="gender">
      <label for="female">Female</label>
    </div>

    <label for="height">Height (cm)</label>
    <input required name="height" type="number" [(ngModel)]="height">

    <label for="weight">Weight (kg)</label>
    <input required name="weight" type="number" [(ngModel)]="weight" step="0.1">

    <label for="activity">Activity level</label>
    <select name="activity" [(ngModel)]="activity">
      <option value="1.2">Sedentary</option>
      <option value="1.375">Lightly active</option>
      <option value="1.55">Moderately active</option>
      <option value="1.725">Very active</option>
      <option value="1.9">Extremely active</option>
    </select>
  </div>

  <button class="btn btn--primary align-self-end" (click)="saveUserSettings()"
    [disabled]="isInputUnchanged() || personalForm.invalid">Save</button>
</form>

<div class="flex flex-col gap-4">
  <h1 class="font-semibold">Theme settings</h1>

  <span>Theme</span>

  <div class="flex gap-2 items-center">
    <input type="radio" id="light" [ngModel]="theme" value="light"
      (ngModelChange)="setTheme($event)">
    <label for="light">Light</label>

    <input type="radio" id="dark" [ngModel]="theme" value="dark" (ngModelChange)="setTheme($event)">
    <label for="dark">Dark</label>
  </div>
</div>