<div class="grid grid-cols-auto-1 gap-2">
  <span>Protein</span>
  <span class="font-bold">{{goalProtein ? goalProtein + ' gram' : ''}}</span>

  <span>Fat</span>
  <span class="font-bold">{{goalFat ? goalFat + ' gram' : ''}}</span>

  <span>Carbs</span>
  <span class="font-bold">{{goalCarbs ? goalCarbs + ' gram' : ''}}</span>

  <button class="btn btn--primary" (click)="openModal()">Adjust intake</button>
</div>

@if (showModal) {
<ml-modal [title]="'Set your daily intake'" (close$)="closeModal()">
  <div class="grid grid-cols-auto-1 gap-4">
    <label for="protein">Protein</label>
    <input name="protein" class="input" (ngModelChange)="protein = $event; calcCalories()"
      [ngModel]="protein" type="number">

    <label for="fat">Fat</label>
    <input name="fat" class="input" [ngModel]="fat" (ngModelChange)="fat = $event; calcCalories()"
      type="number">

    <label for="carbs">Carbs</label>
    <input name="carbs" class="input" [ngModel]="carbs"
      (ngModelChange)="carbs = $event; calcCalories()" type="number">

    <label class="flex-2">Calories</label>
    <span class="flex-4">{{calories}}</span>

  </div>

  <button class="btn btn--primary" (click)="fillStandard()">Fill with standard
    ratios</button>

  <button class="btn btn--primary" (click)="saveIntake()">Save</button>
</ml-modal>
}