<div class="content">
  <div class="flex col-gap-1">
    <p class="flex-1">Protein</p>
    <p class="flex-3">{{goalProtein ? goalProtein + ' gram' : ''}}</p>
  </div>

  <div class="flex col-gap-1">
    <p class="flex-1">Fat</p>
    <p class="flex-3">{{goalFat ? goalFat + ' gram' : ''}}</p>
  </div>

  <div class="flex col-gap-1">
    <p class="flex-1">Carbs</p>
    <p class="flex-3">{{goalCarbs ? goalCarbs + ' gram' : ''}}</p>
  </div>

  <div class=" button-wrapper">
    <button class="button button--primary" (click)="openCalcModal()">Adjust intake</button>
  </div>
</div>

<ml-modal [title]="'Set your daily intake'" (close$)="closeCalcModal()" *ngIf="showCalcModal">
  <div class="min-w-32">
    <div class="calorie-box">
      <span class="calorie-box__title">{{calories | number : '1.0-0'}} Calories</span>
    </div>

    <div class="tabs">
      <div class="tabs-header">
        <div class="tab" (click)="showCaloriesTab()" [ngClass]="{'tab--active': showCalories}">
          Adjust
          calories
        </div>
        <div class="tab" (click)="showMacrosTab()" [ngClass]="{'tab--active': showMacros}">Adjust
          macro's
        </div>
      </div>

      <div class="tabs-content">
        <!--Calories-->

        <div *ngIf="showCalories" class="content">
          <div class="flex col-gap-1 align-center flex-wrap">
            <div class="flex">Calories</div>
            <div class="flex-grow">
              <ml-slider [value]="calories" (valueChange)="changeCalories($event)"
                [upperBound]="3000" [lowerBound]="1200" [markers]="markers"></ml-slider>
            </div>
          </div>

          <p>This results in the following macros:</p>

          <div class="macro-box">
            <p class="macro-box__macro"><strong>Protein: {{protein | number : '1.0-0'}} gr</strong>
            </p>
            <p class="macro-box__macro"><strong>Fat: {{fat | number : '1.0-0'}} gr</strong></p>
            <p class="macro-box__macro"><strong>Carbs: {{carbs | number : '1.0-0'}} gr</strong></p>
          </div>
        </div>

        <!--Macros-->
        <div *ngIf="showMacros">
          <div class="content">
            <div class="form-field">
              <label for="protein">Protein</label>
              <input name="protein" class="input" (change)="calcCaloriesManual()"
                [(ngModel)]="proteinManual" type="number">
            </div>

            <div class="form-field">
              <label for="fat">Fat</label>
              <input name="fat" class="input" (change)="calcCaloriesManual()"
                [(ngModel)]="fatManual" type="number">
            </div>

            <div class="form-field">
              <label for="carbs">Carbs</label>
              <input name="carbs" class="input" (change)="calcCaloriesManual()"
                [(ngModel)]="carbsManual" type="number">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-wrapper">
      <button class="button button-primary" (click)="saveIntake()">Save</button>
    </div>
  </div>
</ml-modal>