<div class="container container--first container--last">
  <!--<div class="tile">-->
    <!--<div class="form-field form-field&#45;&#45;horizontal">-->
      <!--<label class="form-field__label">Protein</label>-->
      <!--<div class="dish-card__legenda dish-card__legenda&#45;&#45;protein"></div>-->
    <!--</div>-->

    <!--<div class="form-field form-field&#45;&#45;horizontal">-->
      <!--<label class="form-field__label">Fat</label>-->
      <!--<div class="dish-card__legenda dish-card__legenda&#45;&#45;fat"></div>-->
    <!--</div>-->

    <!--<div class="form-field form-field&#45;&#45;horizontal">-->
      <!--<label class="form-field__label">Carbs</label>-->
      <!--<div class="dish-card__legenda dish-card__legenda&#45;&#45;carbs"></div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="dish-grid">
    <div class="dish-card" *ngFor="let dish of allDishes">
      <div class="dish-content">
        <h3 class="dish-content__title">{{dish.name}}</h3>

				<div class="dish-content__pie tooltip">
					<span class="tooltiptext">
						 Protein = {{getTotal(dish).protein | number:'1.1-1'}}<Br/>
						 Fat = {{getTotal(dish).fat | number:'1.1-1'}}<Br/>
						 Carbs = {{getTotal(dish).carbs | number:'1.1-1'}}


 					</span>
				  <piechart class="" [mealId]="dish.id" [macros]="getTotal(dish)"></piechart>
				</div>

				<div class="grid__tile__ingredients" *ngFor="let ingredient of dish.ingredients">
          <div class="grid__tile__text grid__tile__text--ingredient">{{ingredient.food.name}}</div>

          <div class="grid__tile__text grid__tile__text--amount" *ngIf="!ingredient.portion">
            {{unitGrams * ingredient.multiplier}} {{unitName}}
          </div>

          <div class="grid__tile__text grid__tile__text--amount" *ngIf="ingredient.portion">
            {{ingredient.multiplier}} {{ingredient.portion.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blue-theme button-wrapper--floating-action">
      <button mat-fab color="primary" (click)="openModal()">
          <mat-icon>add</mat-icon>
        </button>
  </div>

  <div class="modal-wrapper" *ngIf="modalIsVisible">
    <make-dish-modal (close)="closeModal($event)"></make-dish-modal>
  </div>
</div>

<toast-component></toast-component>
