<div class="header">
  <div class="col-start-4 col-span-2 font-bold overflow-hidden">Portion</div>
  <div class="font-bold overflow-hidden">Protein</div>
  <div class="font-bold overflow-hidden">Fat</div>
  <div class="font-bold overflow-hidden">Carbs</div>
  <div class="font-bold overflow-hidden">Calories</div>
</div>

<ml-entry-page-row [meal]="breakfast" [date]="date()" />

<ml-entry-page-row [meal]="lunch" [date]="date()" />

<ml-entry-page-row [meal]="diner" [date]="date()" />

<ml-entry-page-row [meal]="snacks" [date]="date()" />

<ml-activity-page-row [date]="date()" />

@if (totals$ | async; as totals) {
<div class="totals">
  <span class="strong col-span-5">Daily total</span>

  <span class="self-end">{{ totals.protein | number: '1.1-1' }}</span>

  <span class="self-end">{{ totals.fat | number: '1.1-1' }}</span>

  <span class="self-end">{{ totals.carbs | number: '1.1-1' }}</span>

  <span class="self-end">{{ totals.calories | number: '1.0-0' }}</span>
</div>
}