:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 8px;
  grid-template-columns: repeat(9, 1fr);
  gap: 4px;
  display: none;
  
  @media(min-width: 640px) {
    display: grid;
  }
}

.totals {
  font-weight: bold;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 4px
}

.col-start-4 {
  grid-column-start: 4;
}

.col-span-2 {
  grid-column-end: span 2;
}

.col-span-5 {
  grid-column-end: span 5;
}