<div #cont class="stackdonut">
	<div class="center-text">
		<div class="center-text__percentages">{{achieved |  number:'1.0-0'}}/{{goal}}</div>
		<div class="center-text__subtext">{{text}}</div>
	</div>
	<svg style="transform: rotate(-90deg)" class="stackdonut__svg" #svg width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<circle #outerCircle class="outerCircle" cx="100" cy="100" fill="transparent" stroke-dashoffset="0"></circle>
		<circle #innerBackgroundCircle cx="100" cy="100" fill="transparent" stroke-dashoffset="0"></circle>
		<circle #innerCircle class="innerCircle" cx="100" cy="100" fill="transparent" stroke-dashoffset="0"></circle>
	</svg>
</div>

