@import '../../../css/public.scss';

.stackdonut {
  text-align:center;
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  border-radius: 100%;
  position: relative;

  &__svg circle {
    stroke-dashoffset: 0;
    stroke: $secondary;
    stroke-width: 1em;
  }

 &__svg .innerCircle{
    transition: stroke-dashoffset 0.5s linear;
    stroke: $primary;
 }
 &__svg .outerCircle{
   stroke:$primaryDark;
   transition: stroke-dashoffset 0.2s linear;
   z-index:-1;
 }
}

.center-text{
  position:absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  z-index:1;
  margin-left: -80px;

  &__percentages{
    height: 100px;
    width: 160px;
    margin-top: -90px;
    line-height: 160px;
    font-size:2em;
  }
  &__subtext{
    font-size:12pt;
  }
}
