:host {
	display: flex;
	height: 56px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	padding: 0 16px;
  background-color: var(--navbar-background);
	box-shadow: var(--box-shadow), var(--box-shadow-wide);
}

.nav-items {
	display: flex;
	align-items: center;
	gap: 24px;
}

.home-link {
	color: var(--secondary);
	font-size: 48px;
	font-weight: 600;
  
	&:hover {
		text-decoration: none;
	}
}

.mobile-navbar {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	background-color: var(--navbar-background);
	box-shadow: var(--box-shadow), var(--box-shadow-wide);
}

.mobile-close-button {
	display: flex;
	height: 56px;
	padding: 0 16px;
	align-self: end;
	align-items: center;
}

.mobile-nav-item {
	padding: 12px;
}