<nav class="navbar">
	<div class="nav-items">
		<a class="home-link" [routerLink]="['/']">M</a>

		@if (isLoggedIn()) {
		<a id="menuDiary" [routerLink]="['/dashboard']">Diary</a>
		<a id="menuFood" [routerLink]="['/dashboard', 'food']">Food</a>
		<a id="menuDishes" [routerLink]="['/dashboard', 'dishes']">Dishes</a>
		<a id="menuGraphs" [routerLink]="['/dashboard', 'graphs']">Graphs</a>
		}

		<a id="menuAbout" [routerLink]="['/about']">About</a>
	</div>

	<div class="nav-items">
		<button
			class="sm-only"
			type="button"
			aria-label="menu"
			aria-expanded="false"
			(click)="toggleMenu()"
		>
			<em class="fas fa-bars"></em>
		</button>

		@if (menuOpen) {
		<div class="overlay" (click)="toggleMenu()"></div>

		<div class="navbar__mobile-menu sm-only flex-col" (click)="toggleMenu()">
			<a class="navbar__item" [routerLink]="['/about']">About</a>
			@if (isLoggedIn()) {
			<a class="navbar__item" [routerLink]="['/dashboard']">Diary</a>
			<a class="navbar__item" [routerLink]="['/dashboard', 'food']">Food</a>
			<a class="navbar__item" [routerLink]="['/dashboard', 'dishes']">Dishes</a>
			<a class="navbar__item" [routerLink]="['/dashboard', 'graphs']">Graphs</a>
			<a class="navbar__item" [routerLink]="['/dashboard', 'user']">Profile</a>
			@if (isAdmin()) {
			<a class="navbar__item" [routerLink]="['/dashboard', 'admin']">Admin</a>
			}
			<a class="navbar__item" (click)="logOut()">Log out</a>
			} @else {
			<a
				id="menuLoginMobile"
				data-cy="menuLoginMobile"
				class="navbar__item"
				[routerLink]="['/login']"
				>Log in or Register</a
			>
			}
		</div>
		} @if (isLoggedIn()) {
		<a id="menuProfile" [routerLink]="['/dashboard', 'user']">Profile</a>
		@if (isAdmin()) {
		<a id="menuAdmin" [routerLink]="['/dashboard', 'admin']">Admin</a>
		}
		<a id="menuLogout" (click)="logOut()">Log out</a>
		} @else {
		<a id="menuLogin" data-cy="menuLogin" [routerLink]="['/login']">
			Log in or Register</a
		>
		}
	</div>
</nav>
