:host {
	display: flex;
	height: 56px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	padding: 0 16px;
  background-color: var(--white);
	box-shadow: var(--boxShadow), var(--boxShadowWide);
}

.nav-items {
	display: flex;
	align-items: center;
	gap: 12px;
}

.home-link {
	color: var(--secondary);
	font-size: 48px;
	font-weight: 600;
  
	&:hover {
		text-decoration: none;
	}
}
/* 
.navbar {
  @media (min-width: $sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  height: 4rem;
  background-color: white;
  box-shadow: $boxShadow, $boxShadowWide;

  &__hamburger-line {
    background-color: var(--secondary);
    height: 3px;
    width: 1.25rem;
    margin: 0.25rem;
  }

  &__item {
    padding: 0.5rem;
  }

  &__mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    min-width: 100px;
    padding: 1rem;
    border-bottom-left-radius: 4px;
    box-shadow: $boxShadow, $boxShadowWide;
    .navbar__item {
      padding: 0.75rem 0.5rem;
    }
  }
}
*/
