@import "../../../../css/variables.scss";

.navbar {
  @media (min-width: $sm) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  height: 4rem;
  background-color: white;
  box-shadow: $boxShadow, $boxShadowWide;

  &__hamburger-line {
    background-color: var(--secondary);
    height: 3px;
    width: 1.25rem;
    margin: 0.25rem;
  }

  &__item {
    padding: 0.5rem;
  }

  &__mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    min-width: 100px;
    padding: 1rem;
    border-bottom-left-radius: 4px;
    box-shadow: $boxShadow, $boxShadowWide;
    .navbar__item {
      padding: 0.75rem 0.5rem;
    }
  }
}

.navbar-placeholder {
  @media (min-width: $sm) {
    height: 4rem;
  }
  height: 1rem;
}

.logo {
  margin: 0;
  color: var(--secondary);
  font-size: 3rem;
  font-weight: 600;
}
