<section class="section">
  <div class="container">
    <div class="blue-theme container container--first container--last">
      <div class="card">
        <div class="search-bar">
          <label class="search-bar__label">Search</label>

          <input class="input search-bar__input" [(ngModel)]="searchInput" (input)="findFoodMatch()">

          <button class="button button--primary" (click)="clearSearch()">Clear</button>
        </div>

        <div class="settings">
          <label class="settings__label">Display in:</label>

          <mat-radio-group class="settings__radios" aria-label="display mode" [(ngModel)]="displayMode">
            <mat-radio-button class="settings__radios__option" value="grams">Grams</mat-radio-button>
            <mat-radio-button class="settings__radios__option" value="percentage">Percentage</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="spinner-wrapper" *ngIf="isLoading">
          <mat-spinner [diameter]="50"></mat-spinner>
        </div>

        <div *ngIf="!isLoading" class="food-table">
          <div class="table-header">
            <div class="table-header__name" (click)="sortBy('name')">Name </div>

            <div class="table-header__amount" *ngIf="displayMode==='grams'">Amount </div>

            <div class="table-header__protein"
              [ngClass]="{'table-header__protein--percent' : displayMode==='percentage'}" (click)="sortBy('protein')">
              Protein</div>

            <div class="table-header__fat" [ngClass]="{'table-header__fat--percent' : displayMode==='percentage'}"
              (click)="sortBy('fat')">Fat </div>

            <div class="table-header__carbs" [ngClass]="{'table-header__carbs--percent' : displayMode==='percentage'}"
              (click)="sortBy('carbs')">Carbs</div>

            <div class="table-header__protein--mobile"
              [ngClass]="{'table-header__protein--percent' : displayMode==='percentage'}" (click)="sortBy('protein')">P
            </div>

            <div class="table-header__fat--mobile"
              [ngClass]="{'table-header__fat--percent' : displayMode==='percentage'}" (click)="sortBy('fat')">F </div>

            <div class="table-header__carbs--mobile"
              [ngClass]="{'table-header__carbs--percent' : displayMode==='percentage'}" (click)="sortBy('carbs')">C
            </div>
          </div>

          <div *ngIf="displayedFood">
            <div class="table-row" *ngFor="let food of displayedFood" (click)="openModal(food)">
              <div class="food">
                <div class="food__name">{{food.name}}</div>

                <div class="food__amount" *ngIf="displayMode === 'grams'">{{unitGrams}} {{unitName}}</div>

                <div class="food__protein" [ngClass]="{'food__protein--percent' : displayMode === 'percentage'}">
                  {{food.protein | number:'1.1-1'}}</div>

                <div class="food__fat" [ngClass]="{'food__fat--percent' : displayMode === 'percentage'}">
                  {{food.fat | number:'1.1-1'}}</div>

                <div class="food__carbs" [ngClass]="{'food__carbs--percent' : displayMode === 'percentage'}">
                  {{food.carbs | number:'1.1-1'}}</div>
              </div>

              <div class="portions" *ngIf="displayMode==='grams'">
                <div class="portion" *ngFor="let portion of food.portions">
                  <div class="portion__description">
                    <div class="portion__description--padded">{{portion.description}}</div>
                  </div>

                  <div class="portion__amount" *ngIf="displayMode === 'grams'">{{portion.grams}} {{unitName}}</div>

                  <div class="portion__protein">{{portion.macros.protein | number:'1.1-1'}}</div>

                  <div class="portion__fat">{{portion.macros.fat | number:'1.1-1'}}</div>

                  <div class="portion__carbs">{{portion.macros.carbs | number:'1.1-1'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <mat-paginator [length]="searchableFood.length" [pageSize]="itemsPerPage" [pageSizeOptions]="[15]"
          (page)="getPagedFood($event)">
        </mat-paginator>
      </div>
    </div>

    <div class="blue-theme button-wrapper--floating-action">
      <button class="floating-action-button" (click)="openModal(undefined)">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</section>

<div class="modal-wrapper" *ngIf="modalIsVisible">
  <add-food-modal [food]="selectedFood" (close)="closeModal($event)"></add-food-modal>
</div>