<div class="blue-theme modal">
  <div class="modal__header">
    <h3 class="modal__header__title">{{modalTitle}}</h3>

    <button mat-icon-button color="primary" (click)="closeModal()">
      <mat-icon>close</mat-icon>>
    </button>
  </div>

  <div class="modal__content">

    <form #makeMealForm="ngForm">
      <div class="form-field">
        <label class="form-field__label">Name</label>
        <input class="input form-field__input" [(ngModel)]="mealName" type="text" name="mealname" required>
      </div>

      <div class="recipe">
        <div class="recipe__ingredient" *ngFor="let ingr of ingredients; index as i">
          <div class="form-field">
            <div class="form-field__text">{{ingr.food.name}}</div>
            <div class="form-field__input">
              <input class="input" name="ingrAmount" type="number" [value]="getValue(ingr)"
                (input)="calculateMultiplier($event, ingr)" step="{{getStep(ingr)}}" min="0">
            </div>
            <div class="form-field__text">
              {{ingr.portion != undefined ? ingr.portion.description : unitName}}
            </div>
            <div class="form-field__button">
              <i class="button button--transparent fas fa-minus" (click)="removeIngredient(i)"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="autocomplete-wrapper">
        <autocomplete-food [placeholder]="'Search for food'" [food]="foodAndPortions"
          [selectFn]="addIngredientCallBack">
        </autocomplete-food>
      </div>

      <div class="blue-theme button-wrapper">
        <button mat-stroked-button color="primary" type="button" [disabled]="makeMealForm.invalid" (click)="saveMeal()">Save
        </button>
      </div>
    </form>
  </div>

</div>