@import "../../../css/public.scss";

$menuWidth: 200px;
$menuHeight: 50px;

.login-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: $backgroundGradient;
}

.menu {
  @media (min-width: $lg) {
    background-image: $whiteVerticalGradient;
    width: $menuWidth;
    height: 100%;
  }
  background-image: $whiteHorizontalGradient;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: $menuHeight;
  z-index: 4;

  &__logo {
    @media(min-width: $lg) {
      @include center;
      display: block;
      float: none;
      font-size: 96px;
      margin-top: 72px;
      margin-left: 0;
    }
    color: white;
    float: left;
    font-size: 32px;
    font-weight: 600;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;

    &__text {
      line-height: 1;
      cursor: default;
    }
  }

  &__title {
    @media(min-width: $lg) {
      @include center;
      display: block;
      float: none;
      margin-bottom: 64px;
    }
    margin-top: 14px;
    float: left;
    font-size: 16px;
    color: $white;
    cursor: default;
  }

  &__item {
    @media(min-width: $lg) {
      float: none;
      margin-top: 0;
      text-align: center;
      width: 100%;
    }
    float: right;
    font-size: 16px;
    width: 60px;
    text-align: start;
    color: white;
    margin-top: 14px;
    cursor: pointer;

    &__text {
      @media(min-width: $lg) {
        display: block;
        padding: 15px 0;
      }
      display: inline;

      &--active {
        background-color: $whiteTransparentLight;
      }
    }
  }
}

.content {
  @media(min-width: $lg) {
    top: 0;
    padding-top: 150px;
    left: $menuWidth;
  }
  position: fixed;
  top: $menuHeight;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;

  &__forms {
    @include center;
    margin-bottom: 72px;
  }

  &__form {
    @media (min-width: $md) {
      margin: 0 45px 45px 45px;
      width: 300px;
    }
    border: 1px solid $whiteTransparent;
    border-radius: 15px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    width: 230px;
    padding: 30px;
    margin: 0 10px 45px 10px;

    &__title {
      text-align: center;
    }

    &__link {
      color: white;
      font-size: 14px;
    }

    &__error {
      color: $warning;
      font-size: 14px;
    }

    &__label {
      font-size: 14px;
    }

    &__button {
      margin-top: 24px;
    }
  }

  &__about {
    @include center;
    max-width: 800px;
    padding: 0 10px 32px 10px;

    &__title {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
