<div class="login-page">
  <div class="menu">
    <div class="menu__logo">
      <p>M</p>
    </div>

    <div class="menu__title">
      <p>Macrolog</p>
    </div>

    <div class="menu__item">
      <p id="login" (click)="toggleLogin(true)">Log in</p>
    </div>

    <div class="menu__item">
      <p id="about" (click)="toggleLogin(false)">About</p>
    </div>
  </div>

  <div class="content">
    <div @enterLeaveTrigger *ngIf="showContentLogin" class="content__forms">
      <div class="content__form content__form--login">
        <h3 class="content__form__title">Log in</h3>

        <form #loginForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Username or email" type="text" #usernameField [(ngModel)]="usernameOrEmail"
              name="usernameOrEmail" required />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Password" type="password" #passwordField [(ngModel)]="password"
              (keyup.enter)="login()" name="password" required />
          </mat-form-field>

          <p class="content__form__error" *ngIf="loginError">{{loginError}}</p>

          <a id="forgotLink" class="content__form__link" (click)="toggleForgotPwModal(true)">Forgot password?</a>
        </form>

        <button id="loginBtn" mat-stroked-button color="primary" class="content__form__button"
          [disabled]="loginForm.invalid" (click)="login()">Log in
        </button>
      </div>

      <div class="content__form content__form--register">
        <h3 class="content__form__title">Register</h3>

        <form #registerForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Username" type="text" #usernameField [(ngModel)]="newUsername"
              name="newUsername" required />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Email" type="email" #emailField [(ngModel)]="newEmail"
               name="newEmail" required />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Password" type="password" #passwordField [(ngModel)]="newPassword"
              name="newPassword" required (keyup.enter)="register()"/>
          </mat-form-field>

          <label class="content__form__label">
            We hate spam as much as you do. We will send you a confirmation
            email and will not use your email address
            for anything else besides password retrieval.
          </label>

          <p class="content__form__error" *ngIf="registerError">{{registerError}}</p>
        </form>

        <button id="registerBtn" class="content__form__button" mat-stroked-button color="primary"
          [disabled]="registerForm.invalid" (click)="register()">Register
        </button>
      </div>
    </div>

    <div @enterLeaveTrigger *ngIf="!showContentLogin" class="content__about">
      <h3 class="content__about__title">About Macrolog</h3>

      <p class="content__about__paragraph">Macrolog was developed by two software engineers who wanted to get in shape.
        After having used several food tracking applications we got a little tired of
        adds and payed functions that, in our opinion, should be free. So for laughs
        and learning we decided to take it upon ourselves to build a better app.
      </p>

      <p class="content__about__paragraph">Macrolog heavily focusses on counting macronutrients instead of counting
        calories. We believe that knowing what your food is made up of and eating
        the right proportions is ultimately healthier and more effective in accomplishing
        your physical goals than tracking just calories. Now, the concept of the "right"
        proportions is somewhat debatable, and what works for one person may not work for
        another. We won't pretend to know much about dieting so during the intake a few
        calculations and suggestions based on mainstream theory will be done, which you
        are entirely free to ignore.</p>

      <p class="content__about__paragraph">In the end, we just want to help you measure.</p>
    </div>
  </div>
</div>

<div @enterLeaveTrigger class="modal-wrapper" *ngIf="showForgotPwModal">
  <div class="modal blue-theme">
    <div class="modal__header">
      <h3 class="modal__header__title">Forgot your password?</h3>

      <button id="forgotClose" mat-icon-button aria-label="Close" (click)="toggleForgotPwModal(false)">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="modal__content">
      <p>Please enter your email so we can send a link to reset your password</p>

      <form #forgotForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="Email" type="email" #forgotEmailField [(ngModel)]="forgotEmail"
            name="forgotEmail" />
        </mat-form-field>
      </form>

      <p class="content__form__error" *ngIf="forgotError">{{forgotError}}</p>

      <button id="resetBtn" mat-stroked-button color="primary" [disabled]="forgotForm.invalid" (click)="resetPassword()">Send
      </button>
    </div>
  </div>
</div>