<ml-modal [title]="title" (close$)="close$.emit(false)">
  <form #saveFoodForm="ngForm">
    <div class="form-field">
      <label class="form-field__label">Food</label>
      <div class="form-field__element">
        <input class="input" [(ngModel)]="selectedFood.name" #foodField name="name"
          placeholder="e.g. 'Pasta', 'Apple'" required>
      </div>
    </div>

    <div class="form-field">
      <label class="form-field__label">Protein</label>
      <div class="form-field__element">
        <input class="input" #proteinField [(ngModel)]="selectedFood.protein" value="protein"
          name="protein" type="number" placeholder="0.0" step="0.1" required>
      </div>
    </div>

    <div class="form-field">
      <label class="form-field__label">Fat</label>
      <div class="form-field__element">
        <input class="input" #fatField [(ngModel)]="selectedFood.fat" name="fat" type="number"
          placeholder="0.0" step="0.1" required>
      </div>
    </div>

    <div class="form-field">
      <label class="form-field__label">Carbs</label>
      <div class="form-field__element">
        <input class="input" #carbsField [(ngModel)]="selectedFood.carbs" name="carbs" type="number"
          placeholder="0.0" step="0.1" required>
      </div>
    </div>

    <label class="">Frequently used portions (optional)</label>

    <div class="flex col-gap-2" *ngFor="let port of selectedFood.portions; index as i">
      <div class="flex-col flex-grow">

        <div class="form-field">
          <label class="form-field__label">Description</label>
          <input class="input" [(ngModel)]="port.description" name="portionDesc_{{i}}" type="text"
            placeholder="e.g. 'Breakfast', 'Plate'" required>
        </div>

        <div class="form-field">
          <label class="form-field__label">Grams</label>
          <input class="input" [(ngModel)]="port.grams" placeholder="0,0" name="portionGrams_{{i}}"
            type="number" step="1" required>
        </div>
      </div>

      <button class="icon-button" (click)="removePortion(i)" *ngIf="isNewPortion(port)">
        <em class="fas fa-minus"></em>
      </button>
    </div>

    <div>
      <button class="icon-button" (click)="addNewPortion()">
        <em class="fas fa-plus"></em>
      </button>
    </div>

    <div class="flex justify-end col-gap-1">
      <button class="button" (click)="close$.emit(false)">Cancel</button>

      <button class="button button--primary" (click)="saveFood()"
        [disabled]="saveFoodForm.invalid">Save</button>
    </div>
  </form>
</ml-modal>