<ml-modal [title]="title" (close$)="close$.emit(false)">
	<div class="min-w-500">
		<form #saveFoodForm="ngForm" class="food-form">
			<h1 class="font-semibold text-secondary col-span-3">Food</h1>

			<label for="name" class="col-start-1">Name</label>
			<input
				class="input"
				[(ngModel)]="selectedFood().name"
				#foodField
				name="name"
				required
			/>

			<label for="protein" class="col-start-1">Protein</label>
			<input
				class="input"
				#proteinField
				[(ngModel)]="selectedFood().protein"
				value="protein"
				name="protein"
				type="number"
				step="0.1"
				required
			/>

			<label for="fat" class="col-start-1">Fat</label>
			<input
				class="input"
				#fatField
				[(ngModel)]="selectedFood().fat"
				name="fat"
				type="number"
				step="0.1"
				required
			/>

			<label for="carbs" class="col-start-1">Carbs</label>
			<input
				class="input"
				#carbsField
				[(ngModel)]="selectedFood().carbs"
				name="carbs"
				type="number"
				step="0.1"
				required
			/>

			<h1 class="font-semibold text-secondary col-span-3">
				Frequently used portions (optional)
			</h1>

			@for (port of selectedFood().portions; track port; let i = $index) {
			<label class="col-start-1" for="portionDesc_{{ i }}">Description</label>
			<input
				class="input"
				[(ngModel)]="port.description"
				name="portionDesc_{{ i }}"
				type="text"
				required
			/>
			@if (isNewPortion(port)) {
			<button class="btn btn--icon text-primary" (click)="removePortion(i)">
        <fa-icon [icon]="faMinus"></fa-icon>
			</button>
			}

			<label class="col-start-1" for="portionGrams_{{ i }}">Grams</label>
			<input
				class="input"
				[(ngModel)]="port.grams"
				name="portionGrams_{{ i }}"
				type="number"
				step="1"
				required
			/>
			}
		</form>

		<button
			class="btn btn--icon text-primary col-start-1"
			(click)="addNewPortion()"
		>
        <fa-icon [icon]="faPlus"></fa-icon>
		</button>

		<div class="flex justify-end gap-4">
			<button type="button" class="btn" (click)="close$.emit(false)">
				Cancel
			</button>

			<button
				class="btn btn--primary"
				type="button"
				(click)="saveFood()"
				[disabled]="saveFoodForm.invalid"
			>
				Save
			</button>
		</div>
	</div>
</ml-modal>
