<div class="selectable" (click)="openModal()">
  <span class="font-bold col-span-9">{{meal() | titlecase}}</span>

  @for (entry of entries; track entry) {
  <span class="col-span-3">{{entry.food.name}}</span>

  @if (entry.portion) {
  <span class="col-span-2">
    {{entry.multiplier | number:'1.0-2'}} {{entry.portion.description}}
  </span>
  } @else {
  <span class="col-span-2">
    {{100.0 * entry.multiplier! | number:'1.0-2'}} grams
  </span>
  }
  <span class="col-span-1 self-end">{{entry.macrosCalculated.protein |
    number:'1.1-1'}}</span>

  <span class="col-span-1 self-end">{{entry.macrosCalculated.fat |
    number:'1.1-1'}}</span>

  <span class="col-span-1 self-end">{{entry.macrosCalculated.carbs |
    number:'1.1-1'}}</span>

  <span class="col-span-1 self-end">{{entry.macrosCalculated.calories |
    number:'1.0-0'}}</span>
  }
</div>

@if (showModal) {
<ml-modal [title]="'Edit ' + meal().toLowerCase()" (close$)="showModal = false">
  <div class="flex flex-col gap-4 min-w-600">
    <div class="food-grid">
      @if (!modalEntries || modalEntries.length === 0) {
      <div class="col-span-4">Search for food to add entries to your
        diary.</div>
      } @else {
      <span class="font-bold">Food</span>
      <span class="font-bold">Portion</span>
      <span class="font-bold">Amount</span>
      }

      @for (entry of modalEntries; track entry; let index = $index) {
      <span class="col-start-1"> {{entry.food.name}} </span>

      <select class="select" (change)="changePortion($event, index)">
        <option [selected]="!entry.portion">grams</option>

        @for (portion of entry.food.portions; track portion) {
        <option [selected]="!!entry.portion && entry.portion.description === portion.description"
          value="{{portion.id}}">
          {{portion.description}}
        </option>
        }
      </select>

      @if (entry.portion) {
      <input class="input" value="{{entry.multiplier}}" (keyup)="changeMultiplier($event, index)">
      } @else {
      <input class="input" value="{{entry.multiplier! * 100}}"
        (keyup)="changeMultiplier($event, index)">
      }

      <button class="icon-button text-primary" (click)="deleteEntry(index)">
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
      }
    </div>

    <ml-autocomplete-food [includeDishes]="true" [placeholder]="'Search food...'"
      (select)="addEntry($event)" />

    <button type="button" class="btn btn--primary align-self-end"
      (click)="saveEntries()">Save</button>
  </div>
</ml-modal>
}