@import "../../../../css/variables.scss";

.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.settings {
  display: flex;

  &__radios {
    display: flex;

    &__option {
      margin-right: 15px;
    }
  }
}

