<div class="card flex flex-col gap-4">
  <div class="flex items-center gap-2">
    <label for="search">Search</label>
    <input id="search" class="flex-grow" [(ngModel)]="searchInput"
      (input)="findFoodMatch()" />

    <button type="button" class="btn btn--primary" (click)="clearSearch()">
      Clear
    </button>
  </div>

  <div class="flex gap-4">
    <span>Display in:</span>

    <div class="flex items-center gap-1">
      <input type="radio" id="grams" [(ngModel)]="displayMode" value="grams">
      <label for="grams">Grams</label>
    </div>

    <div class="flex items-center gap-1">
      <input type="radio" id="percentage" [(ngModel)]="displayMode" value="percentage">
      <label for="percentage">Percentage</label>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th (click)="sortBy('name')">Name</th>
        @if (displayMode === 'grams') {
        <th> Amount </th>
        }
        <th (click)="sortBy('protein')"> Protein </th>
        <th (click)="sortBy('fat')"> Fat </th>
        <th (click)="sortBy('carbs')"> Carbs </th>
      </tr>
    </thead>

    @if (displayedFood) {
    <tbody>
      @for (food of displayedFood; track food) {
      <tr (click)="openModal(food)">
        <td>
          <div class="flex flex-col gap-2">
            <span> {{ food.name }} </span>

            @if (displayMode === 'grams') {
            @for (portion of food.portions; track portion) {
            <span>{{portion.description}}</span>
            }
            }
          </div>
        </td>
        @if (displayMode === 'grams') {
        <td>
          <div class="flex flex-col gap-2">
            <span> {{ unitGrams }} {{ unitName }} </span>

            @for (portion of food.portions; track portion) {
            <span> {{ portion.grams }} {{ unitName }}</span>
            }
          </div>
        </td>
        }
        <td>
          <div class="flex flex-col gap-2">
            <span> {{ food.protein | number: '1.1-1' }} </span>

            @if (displayMode === 'grams') {
            @for (portion of food.portions; track portion) {
            <span> {{ portion.macros!.protein | number: '1.1-1' }} </span>
            }
            }
          </div>
        </td>
        <td>
          <div class="flex flex-col gap-2">
            <span>
              {{ food.fat | number: '1.1-1' }}
            </span>

            @if (displayMode === 'grams') {
            @for (portion of food.portions; track portion) {
            <span> {{ portion.macros!.fat | number: '1.1-1' }} </span>
            }
            }
          </div>
        </td>
        <td>
          <div class="flex flex-col gap-2">
            <span>
              {{ food.carbs | number: '1.1-1' }}
            </span>

            @if (displayMode === 'grams') {
            @for (portion of food.portions; track portion) {
            <span> {{ portion.macros!.carbs | number: '1.1-1' }} </span>
            }
            }
          </div>
        </td>
      </tr>
      }
    </tbody>
    }
  </table>

  <div class="flex justify-between">
    <div>
      @if (currentPageIndex > 0) {
      <button type="button" class="btn btn--icon" (click)="getPagedFood(currentPageIndex - 1)">
        <em class="fas fa-chevron-left"></em>
        Previous
      </button>
      }
    </div>

    @if (hasNextPage()) {
    <button type="button" class="btn btn--icon" (click)="getPagedFood(currentPageIndex + 1)">
      Next
      <em class="fas fa-chevron-right"></em>
    </button>
    }
  </div>
</div>

<button class="floating-action-button" (click)="openModal(null)">
  <em class="fas fa-plus"></em>
</button>

@if (modalIsVisible && selectedFood) {
<ml-edit-food [selectedFood]="selectedFood" (close$)="closeModal()" />
}