@import '../../../../css/public';

.center  {
    margin: auto;
    width: 50%;
    padding: 10px;
}
th, td {
    border:0px;
    padding:10px;
}
th {
    background-color: #4CAF50;
    color: white;
    padding:10px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
