.autocomplete {

	&__option {
		padding: ($gutter/3);
		background-color: $white;
		border: 1px solid $smoke;
		border-top: 0;
		font-size: 16px;
		font-weight: 300;
		text-align: left;

		&:focus {
			background-color: $mist;
		}

		&:first-child {
			border-top: 1px solid $smoke;
			border-radius: 5px 5px 0 0;
		}

		&:last-child {
			border-radius: 0 0 5px 5px;
		}

		&:first-child:last-child {
			border-radius: 5px;
		}

	}

}
