.bargraph {
	height: 40px;
	min-width: 120px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;

	&__track-container {
		position: relative;
		height: 30px;
		flex-basis: 66%
	}

	&__track {
		@include elevation(1);
		position: absolute;
		background-color: $smoke;
		height: 30px;
		top: 0;
		left: 0;
		width: 100%;

		&--fill {
			@include elevation(2);

			background-color: #29c646;
			height: 20px;
			top: 5px;
			width: 1%;
			transition: width 0.3s;
		}
	}

	&__title {
		flex-basis: 5%;
		font-weight: 500;
  	margin-right: 5px;
  }

	&__numbers {
		display: flex;
		font-weight: bold;
		font-size: 20px;
		flex-basis: 35%;
		justify-content: flex-end;
		padding: 5px;
	}
}
