@import './mixins';
@import './variables';


.container {
	padding: 0 $gutter;
	margin-bottom: $gutter;
	display: flex;
	flex-direction: column;
}

.title {
	margin-bottom: $gutter/2
}

.form-field {
	padding: $gutter/3;

	&__element {
		margin-bottom: $gutter/3;
	}

	&__label {
		margin-right: $gutter/3;
	}

	&__option {
		padding: $gutter/3;
	}
}

.radio-group {
	align-items: center;
  display: flex;
  flex-direction: row;
}

.radio {
	&__label {
		padding: 5px;
		margin-right: $gutter/3;
	}
}

.button {
	@include elevation(4);
	border: 0;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px;

	&--primary {
		background-color: $primary;
		color: $white;
	}

	&__icon {
		align-items: center;
		display: flex;
		border-radius: 100px;
		justify-content: center;
		padding: 15px;
		height: 60px;
		width: 60px;
	}
}

div.fixed-bottom-right button{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 16;
}