@import './mixins';
@import './variables';

.container {
	display: flex;
	flex-direction: column;
	margin: 0 auto $gutter auto;
	max-width: 1400px;
	padding: 0 $gutter;
}

.form-field {
	padding: $gutter/3;

	&__element {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: $gutter/3;

		&--spaced {
		  justify-content: space-between;
		}
	}

	&__label {
		flex-basis: 20%;
		margin-right: $gutter/3;
	}

	&__text {
		font-weight: bold;
	}

	&__option {
		padding: $gutter/3;
	}

	&__slider {
		flex-grow: 1;
	}

	&__radio {
		-webkit-appearance: none;
		position: relative;

  	&::before {
  		content: '';
  		background-color: $white;
  		border: 3px solid $primary;
  		width: 20px;
  		height: 20px;
  		border-radius: 15px;
  		position: absolute;
  		top: -4px;
  		left: -4px;
  	}

  	&--checked {
    	&::before {
 		    align-items: center;
    		background-color: $primary;
    		color: $white;
    	  content: "\f00c";
        display: flex;
        justify-content: center;
    	}
    }
	}
}

.radio-group {
	width: 100%;
	align-items: center;
	display: flex;
  flex-direction: row;
}

.radio {
	&__label {
		padding: 10px;
		margin-right: $gutter/3;
	}
}

.button {
	@include elevation(4);
	border: 0;
	border-radius: 5px;
	font-size: 18px;
	padding: 10px;

	&--primary {
		background-color: $primary;
		color: $white;
	}

	&__icon {
		align-items: center;
		display: flex;
		border-radius: 100px;
		justify-content: center;
		padding: 15px;
		height: 60px;
		width: 60px;
	}
}

div.fixed-bottom-right button{
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 16;
}