.calorie-box {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: $gutter;

	&__title {
		font-size: 24px;
		font-weight: 600;
		margin: 10px 0;
	}
}