.container {
	@include media-break($md) {
		padding: 0 $gutter;
	}

	margin: 0 auto $gutter auto;
	max-width: 1400px;

	&--first {
		margin-top: $gutter;
	}

	&--last {
		margin-bottom: ($gutter * 3);
	}

}