.food-table {
	margin-bottom: $gutter;
}

.table-header {
  display:flex;
  flex-direction:row;
  font-weight:bold;
	color: white;
  padding:10px;
  background-color: $primary;

  &__name {
		flex-basis: 50%;
 	}

  &__amount {
    flex-basis: 10%;
  }

  &__protein {
    flex-basis: 10%;
  }

  &__fat {
    flex-basis: 10%;
  }

  &__carbs {
    flex-basis: 10%;
  }
}

.food {
	display: flex;
  flex-direction: row;
  padding: 5px;
  border-top: 1px solid $smoke;

	&__name {
		flex-basis: 50%;
	}

	&__amount {
	  flex-basis: 10%;
	}

	&__protein {
	  flex-basis: 10%;
	}

	&__fat {
	  flex-basis: 10%;
	}

	&__carbs {
	  flex-basis: 10%;
	}
}

.portion {
  display: flex;
  padding: 5px;

 	&__description {
		flex-basis: 50%;

		&--padded {
	   padding-left: 20px;
		}
  }

	&__amount {
    flex-basis: 10%;
  }

	&__protein {
    flex-basis: 10%;
  }

 	&__fat {
    flex-basis: 10%;
  }

 	&__carbs {
    flex-basis: 10%;
  }
}

.foodline{
  &:hover{
    background-color: $mist;
    cursor:pointer;
  }
}