.form {
	display: flex;
	flex-direction: column;
	margin-bottom: ($gutter/2);

}
.form-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;

	&--slider {
		align-items: start;
	}

	&--spaced {
		justify-content: space-between;
	}

	&--column {
		@media (min-width: $lg) {
			flex-direction: row;
		}
		padding-top: 10px;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__element {
		flex-grow: 1;

		&--column {
			@media (min-width: $lg) {
				align-items: flex-start;
				flex-direction: column;
				margin-bottom: 0;
				width: auto;
			}
			align-items: center;
			flex-direction: row;
			margin-right: 10px;
			margin-bottom: 10px;
			width: 100%;
		}

		&--end {
			align-self: flex-end;
		}

		&--spaced {
		  justify-content: space-between;
		}
	}

	&__label {
		flex-basis: 40%;
		margin-right: $gutter/3;

		&--small {
			flex-basis: auto;
			flex-grow: 1;
		}

		&--slider {
			flex-basis: auto;
    	flex-grow: 1;
    	margin-top: 15px;
		}
	}

	&__text {
   	flex-basis: 60%;
   	font-weight: 500;
   	margin-top: 10px;
   	min-width: 30px;
  }

	&__text-input {

		width: 100%;
	}

	&__select {
		border: 1px solid $smoke;
		border-radius: 5px;
		flex-basis: 60%;
		max-height: 43px;
		width: 100%;
	}

	&__option {
		padding: $gutter/3;
	}

	&__slider {
		flex-basis: 100%;
		flex-shrink: 1;
	}

	&__radio {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		border: 0;
		position: relative;
		width: auto;

  	&::before {
  	  @include elevation(2);
  		content: '';
  		background-color: $white;
  		border: 3px solid $primary;
  		width: 20px;
  		height: 20px;
  		border-radius: 15px;
  		position: absolute;
  		top: -4px;
  		left: -4px;
  	}

  	&--checked {
    	&::before {
 		    align-items: center;
    		background-color: $primary;
    		color: $white;
    	  content: "\f00c";
        display: flex;
        justify-content: center;
    	}
    }
	}
}

.radio-group {
	width: 100%;
	align-items: center;
	display: flex;
  flex-direction: row;
}

.radio {
	&__label {
		padding: 10px;
		margin-right: $gutter/3;
	}
}

