$proteincolor: '#5bd086';
$fatcolor: '#f7ed70';
$carbscolor: '#fb8353';

.graph  {
  display: flex;
	flex-direction: column;


  &__image {
     display: flex;
  	 flex-direction: row;
      justify-content: center;
  }

  &__svg {
    background-color: $cloud;
  }
  &__datelabel{
     font-weight:bold;
      padding: 15px 0;
  }
  &__controls {
     display: flex;
  	 flex-direction: row;
     justify-content: center;
  }

  &__details {
     display: flex;
  	 flex-direction: row;
     justify-content: center;
     padding-left:25px;
     spacing-left:25px;
     text-align:right;
  }


}


