.header {
	align-items: center;
	background-color: $primary;
	color: $white;
	display: flex;
	margin-bottom: $gutter;

	&__item {
		font-size: 20px;

		&--menu {
			cursor: pointer;
			padding: ($gutter/3*2);
			text-align: center;
		}

		&--title {
			padding: ($gutter/3*2);
			flex-grow: 1;
		}

		&--user {
			cursor: pointer;
			font-size: 30px;
  		flex-basis: 7%;
			text-align: center;
		}
	}
}