.header {
	background-color: $primary;
	color: $white;
	display: flex;

	justify-content: space-between;
	margin-bottom: $gutter;

	&__section {
		display: flex;
		flex-direction: row;
	}
}

.header-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-right: 1px solid rgba(250,250,250,0.5);
	font-size: 18px;
	padding: ($gutter/2);
	cursor: pointer;

	&--title {
		opacity: 0.5;
		cursor: default;
	}

	&--menu {
		position: relative;
	}

	&:focus {
		outline: none;
	}
}