.log-meal {
	&--grow {
		@include elevation(2);
		background: $white;
		margin-left: -8px;
		width: calc(100% + 16px);
	}

}
.day {
	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;

	&__header {
		border-bottom: 1px solid $cloud;
		display: flex;
		flex-direction: row;
		padding: ($gutter/2);
		justify-content: center;

		&__title {
			font-weight: bold;
		}
		&__previous{
		  padding-right:10px;
		  font-weight: normal;
		}
		&__next{
		  font-weight: normal;
		  padding-left:10px;
		}
	}

	&__meal {
		border-bottom: 1px solid $cloud;
		display: flex;
		flex-direction: column;
		padding: ($gutter/2);

		&__title {
			flex-basis: 20%;
			font-weight: bold;
			margin-bottom: 5px;
		}

		&__icon {
			color: $primary;
			margin-left: $gutter/2;
		}
	}

	&__total {
		display: flex;
		padding: ($gutter/2);

		&__title {
			flex-basis: 20%;
			font-weight: bold;
		}
	}

	&__add {
  		display: flex;
  		padding: ($gutter/2);
      border-top: 1px solid $cloud;

  		&__title {
  			flex-basis: 20%;
  			font-weight: bold;
  		}
  	}
}

.meal {
	display: flex;
	flex-direction: column;
	width: 100%;

	&__ingredient {
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;

		&__name {
      padding-left:10px;
			flex-basis: 30%;
		}

		&__amount {
			flex-basis: 10%;
			text-align: end;
		}

		&__macro {
			flex-basis: 10%;
			text-align: end;
		}

		&__calories {
			flex-basis: 20%;
			text-align: end;

			&--label {
				margin-left: 5px;
			}
		}
	}

	&__edit-ingredient {
			align-items: center;
  		display: flex;
  		flex-direction: row;
  		margin-bottom: 5px;

  		&__name {
        padding-left :10px;
  			flex-basis: 30%;
  		}

  		&__amount {
  		  align-self: stretch;
  			flex-basis: 10%;
  			padding-right: 5px;
  			text-align: end;
  		}

  		&__measurement {
       	flex-basis: 15%;
     	}

  		&__macro {
  			flex-basis: 10%;
  			text-align: end;
  		}

  		&__calories {
  			flex-basis: 10%;
  			text-align: end;
  		}

  		&__delete {
        padding-left: 10px;
      	flex-basis: 5%;
      }
  }

  &__new-ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__name {
      flex-basis: 30%;
      position: relative;
    }

    &__close {
      align-items: center;
      display: flex;
      flex-basis: 5%;
      justify-content: center;
    }

  }


}
