.bargraph-wrapper {
	@media(min-width: $md) {
		margin-left: ($gutter/2);
	}
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
}


.day {
	@include elevation(1);
	background-color: $white;
	display: flex;
	flex-direction: column;

	&__date {
		align-items: center;
		border-bottom: 1px solid $cloud;
		display: flex;
		flex-direction: row;
		padding: ($gutter/2);
		justify-content: center;
	}

	&__header {
		border-bottom: 1px solid $cloud;
		display: flex;
		font-weight: 600;
		padding: 10px;

		&__macro {
			text-align: end;
			flex-basis: 10%;

			&:first-child {
				padding-left: 10px;
				flex-basis: 50%;
			}
		}
	}

	&__total {
		display: flex;
		font-weight: 600;
		padding: ($gutter/2);

		&__title {
			flex-basis: 30%;
			font-weight: bold;
			padding-right: 10px;
		}
	}

	&__add {
  		display: flex;
  		padding: ($gutter/2);
      border-top: 1px solid $cloud;

  		&__title {
  			flex-basis: 20%;
  			font-weight: bold;
  		}
  	}
}

.total {
	&__macro {
		flex-basis: 10%;
		text-align: end;

		&--first {
			flex-basis: 20%;
		}
	}

	&__calories {
		flex-basis: 20%;
		text-align: end;

		&--label {
			margin-left: 5px;
		}
	}
}
