

.weight-table-header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
	color: $white;
  padding: 10px;
  background-color: $primary;
  flex-basis:30%;

  &__day {
		flex-basis: 10%;
		flex-grow: 0;
 	}

  &__remark {
    @include media-break($md) {
      flex-basis: 80%;
    }
    flex-basis: 20%;
  }
  &__weight {
    @include media-break($md) {
      flex-basis: 10%;
    }
    flex-basis: 20%;
  }
}
.weight {
	display: flex;
  flex-direction: row;
  padding: 5px;
  border-top: 1px solid $smoke;

  &:hover {
    border-top: 2px solid $smoke;
    background-color: $cloud;
  }

	&__day {
		flex-basis: 10%;
		flex-grow: 0;
	}

	 &__remark {
      flex-basis: 70%;
      flex-grow: 1;
      text-align: left;
    }

	&__weight {
    flex-basis: 5%;
    text-align:right;
    padding-right:20px;
  }
  &__hiddenbuttons {
      flex-basis: 5%;
  }


}

.editweight {

	display: flex;
  flex-direction: row;
  border-top: 1px solid $smoke;

  &:hover {
    border-top: 2px solid $smoke;
    background-color: $cloud;
  }

	&__day {
		flex-basis: 10%;
		padding-right:5px;
	}

	&__remark {
      text-align: left;
      flex-grow:1;
      padding-right:5px;
  }

	&__weight {
    text-align: right;
    flex-basis: 8%;

  }

  &__close {
     flex-basis: 2%;
     text-align: left;
  }
   &__delete {
      flex-basis: 3%;
      text-align: left;
  }
}


