.section {
	display: flex;
	flex-direction: row;

	&__left {
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
	}

	&__right {
		display: flex;
  	flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-basis: 50%;
	}

}

